/*--------------------------------------------------------------------
* $BASE - For Home and Others
--------------------------------------------------------------------*/

*, *:before, *:after
  box-sizing: border-box

::selection
  background-color: black
  color: white

html
  padding: 15px
  background-color: #eee

body
  padding: 30px
  background-color: white
  border: 1px solid $grey-light
  font-family: $font-family-proxima
  font-weight: $font-weight-light
  font-size: 112.5%
  line-height: 1.4
  color: black

img
  width: 100%

.container
  max-width: 1200px
  margin: 0 auto

.flag img
  border-radius: 4px

.border,
.blank
  border: 1px solid $grey-lightest
