/*--------------------------------------------------------------------
* $BASE - For Home and Others
--------------------------------------------------------------------*/

*, *:before, *:after
  box-sizing: border-box

::selection
  background-color: black
  color: white

html
  padding: 15px
  background-color: #eee

  @media screen and (max-width: $w-medium - 1)
    padding: 7px
  @media screen and (min-width: $w-medium)
    padding: 15px

body
  max-width: 1400px
  margin: 0 auto
  background-color: white
  border: 1px solid $grey-light
  font-family: $font-family-proxima
  font-weight: $font-weight-light
  font-size: 112.5%
  line-height: 1.4
  color: black

  @media screen and (max-width: $w-medium - 1)
    padding: 16px
  @media screen and (min-width: $w-medium)
    padding: 30px

img
  width: 100%

.container
  max-width: 1200px
  margin: 0 auto

.border,
.blank
  border: 1px solid $grey-lightest
