/*--------------------------------------------------------------------
* $FLAG COLORS
--------------------------------------------------------------------*/

$us-blue = #00205b
$us-red = #bf0A30

.white
  background-color: #fff
  box-shadow: inset 0 0 0 1px $grey-lightest

.black
  background-color: #000

.us-blue
  background-color: $us-blue
.us-red
  background-color: $us-red

.delaware
  .arno,
  ::selection
    background-color: #669ca4
  .buff
    background-color: #c7a97f
  .gray-brown
    background-color: #9b9379
  .red
    background-color: #b12f39
  .brown
    background-color: #5a4143
  .flesh
    background-color: #f1dfd8
  .green-1
    background-color: #586538
  .green-2
    background-color: #6d8138
  .gray
    background-color: #344b51
  .yellow-1
    background-color: #e6c737
  .yellow-2
    background-color: #f7d400
  .yellow-3
    background-color: #f8e38c
  .orange
    background-color: #f09b1e
  .blue
    background-color: #629ab9
  .red-brown
    background-color: #8e4f3e
  .blue-2
    background-color: #669ca4
  .silver
    background-color: #c2c9cd

.pennsylvania
  ::selection
    background-color: $us-blue
  .grey
    background-color: #414141
  .gold
    background-color: #dca90d
  .red
    background-color: #d10b10
  .green
    background-color: #076a21

.new-jersey
  .buff
    background-color: #e1b584
  .blue,
  ::selection
    background-color: #2484c6
  .argent
    background-color: #9ba7b9
  .tenne
    background-color: #dc6026
  .gules
    background-color: #d0202e
  .brown
    background-color: #81512b

.georgia
  ::selection
    background-color: $us-red
  .gold
    background-color: #eed000

.connecticut
  .azure,
  ::selection
    background-color: #0c2d83
  .gold
    background-color: #ffd312
  .silver
    background-color: #c4c4c4
  .brown
    background-color: #961e1d
  .green
    background-color: #129612
  .purple
    background-color: #b400b4

.massachusetts
  .blue,
  ::selection
    background-color: #1f2c5c
  .gold
    background-color: #e6a300

.maryland
  .gold
    background-color: #eaaa00
  .red,
  ::selection
    background-color: #9d2235

.south-carolina
  .indigo,
  ::selection
    background-color: #003366

.new-hampshire
  .blue,
  ::selection
    background-color: #002a86
  .gold
    background-color: #efae0e
  .brown
    background-color: #9e4d3c
  .red
    background-color: #de1c2c
  .green
    background-color: #3f863f

.virginia
  .blue,
  ::selection
    background-color: #00297b
  .white
    background-color: #ffffff
  .red
    background-color: #ff350f
  .green
    background-color: #3f863f
  .light-blue
    background-color: #97c8f0
  .purple
    background-color: #a039a8
  .peach
    background-color: #ffd9c5
  .gold
    background-color: #ffd93c

.new-york
  .blue,
  ::selection
    background-color: #002d72
  .red
    background-color: #ff3515
  .gold
    background-color: #f2a900
  .light-blue
    background-color: #0077c8
  .green
    background-color: #2c5234
  .tan
    background-color: #d18644

.north-carolina
  ::selection
    background-color: $us-blue
  .gold
    background-color: #ffca00

.rhode-island
  .blue,
  ::selection
    background-color: #003271
  .gold
    background-color: #fec500

.vermont
  .blue,
  ::selection
    background-color: #003366
  .gold
    background-color: #ffcc33
  .red
    background-color: #c2091d
  .pine
    background-color: #5a8562
  .green
    background-color: #002a22
  .brown
    background-color: #c24b20

.kentucky
  .navy,
  ::selection
    background-color: #000066
  .gold
    background-color: #e6ad05
  .green
    background-color: #396f4a

.tennessee
  ::selection
    background-color: $us-red

.ohio
  .blue,
  ::selection
    background-color: #c30a3a
  .red
    background-color: #001c5a

.louisiana
  .blue,
  ::selection
    background-color: #002855
  .gray-1
    background-color: #888b8d
  .gray-2
    background-color: #53565a
  .yellow
    background-color: #ffd100
  .brown-2
    background-color: #512f2e
  .brown-1
    background-color: #954e0f
  .tan-1
    background-color: #e6b080
  .tan-2
    background-color: #f1be48
  .red
    background-color: #da291c
  .orange-1
    background-color: #ea7600
  .orange-2
    background-color: #cf7f00

.indiana
  .blue,
  ::selection
    background-color: #000f5d
  .gold
    background-color: #d59f0f

.mississippi
  ::selection
    background-color: $us-red

.illinois
  ::selection
    background-color: $us-blue
  .green
    background-color: #3f863f
  .brown
    background-color: #785a3c
  .gray
    background-color: #b4b4b4
  .yellow
    background-color: #ffe60f
  .orange
    background-color: #ffb316

.alabama
  ::selection
    background-color: $us-red

.maine
  ::selection
    background-color: $us-blue
  .gold
    background-color: #ffe84f
  .red
    background-color: #ff163c
  .light-blue
    background-color: #9ed9ff
  .pine
    background-color: #3e6f3e
  .green
    background-color: #36e218
  .brown
    background-color: #6f513e

.missouri
  .red,
  ::selection
    background-color: #ab0635
  .blue
    background-color: #004b8d
  .gold
    background-color: #c3a204
  .brown
    background-color: #9a4a23
  .green
    background-color: #228a43
  .light-blue
    background-color: #0083a9

.arkansas
  ::selection
    background-color: $us-red

.michigan
  .blue,
  ::selection
    background-color: #00287e
  .brown
    background-color: #86473f
  .tan
    background-color: #b37535
  .red
    background-color: #ef1439
  .azure
    background-color: #006fff
  .yellow
    background-color: #ffef6f
  .green
    background-color: #35b336

.florida
  .red,
  ::selection
    background-color: #a80534
  .gold
    background-color: #ffb900
  .green
    background-color: #015941
  .brown
    background-color: #7d4802
  .tan
    background-color: #cf7419
  .blue
    background-color: #007cc2

.texas
  ::selection
    background-color: $us-blue

.iowa
  .blue
    background-color: #0a1f62
  .red,
  ::selection
    background-color: #d80025
  .brown
    background-color: #69310b

.wisconsin
  .blue,
  ::selection
    background-color: #002986
  .gold
    background-color: #ffcc18
  .red
    background-color: #f3334b
  .brown
    background-color: #753c28

.california
  .red
    background-color: #b71234
  .green
    background-color: #008542
  .tan
    background-color: #bd8a5e
  .brown,
  ::selection
    background-color: #584528

.minnesota
  .blue,
  ::selection
    background-color: #3d68c9
  .white
    background-color: #ffffff
  .gold
    background-color: #fcb216
  .red
    background-color: #ed1a3a
  .green
    background-color: #60bb48

.oregon
  .blue,
  ::selection
    background-color: #002a86
  .gold
    background-color: #ffea0f

.kansas
  .blue,
  ::selection
    background-color: #002569
  .gold
    background-color: #f1ad02
  .orange
    background-color: #ff660e
  .green
    background-color: #3cff15
  .purple
    background-color: #794488
  .yellow
    background-color: #feff00
  .brown
    background-color: #583b19
  .light-blue
    background-color: #4ea8ff

.west-virginia
  .blue,
  ::selection
    background-color: #003776
  .gold
    background-color: #ffb30f
  .red
    background-color: #ff3516
  .green
    background-color: #06884f
  .brown
    background-color: #ae5939

.nevada
  .blue,
  ::selection
    background-color: #0033ab
  .gold
    background-color: #ffa300
  .green
    background-color: #00843d

.nebraska
  ::selection
    background-color: $us-blue
  .gold
    background-color: #ffcc00
  .silver
    background-color: #c8c8c8

.colorado
  ::selection
    background-color: $us-blue
  .gold
    background-color: #ffd700

.north-dakota
  .blue,
  ::selection
    background-color: #003a70
  .gold
    background-color: #cc8a00
  .red
    background-color: #a6192e
  .yellow
    background-color: #ffc845
  .green
    background-color: #007a33
  .yellow-green
    background-color: #949300
  .silver
    background-color: #857874
  .brown-1
    background-color: #693f23
  .brown-2
    background-color: #94450b
  .tan
    background-color: #ddcbA4
  .blue-2
    background-color: #004b87

.south-dakota
  .sky-blue,
  ::selection
    background-color: #0074a8
  .gold
    background-color: #ffc400

.montana
  .blue,
  ::selection
    background-color: #002a86
  .gold
    background-color: #ffd90f
  .green-1
    background-color: #a2d100
  .green-2
    background-color: #008600
  .orange
    background-color: #e86f00
  .sienna
    background-color: #a81800
  .tan
    background-color: #e8d9a8
  .blue-2
    background-color: #a8efff
  .blue-3
    background-color: #1691ff
  .silver
    background-color: #a89982

.washington
  .green,
  ::selection
    background-color: #00843d
  .blue
    background-color: #05c3de
  .gold
    background-color: #ffcd00
  .flesh
    background-color: #fdd6c6

.idaho
  .blue,
  ::selection
    background-color: #003776
  .gold
    background-color: #ffb32b
  .red
    background-color: #ef1439
  .yellow
    background-color: #ffe835
  .orange
    background-color: #ff9120
  .brown
    background-color: #c5792c
  .tan
    background-color: #e8daad
  .green
    background-color: #36e218
  .light-blue
    background-color: #86e2ff
  .purple
    background-color: #913cff

.wyoming
  ::selection
    background-color: $us-blue

.utah
  .blue,
  ::selection
    background-color: #012d6a
  .red
    background-color: #e41837
  .gold
    background-color: #ffc324
  .honey
    background-color: #fbaf40
  .brown
    background-color: #8f4a2d
  .gray
    background-color: #b0b2b3
  .tan
    background-color: #bb803a
  .green
    background-color: #01823d
  .green-2
    background-color: #98c63e

.oklahoma
  .blue,
  ::selection
    background-color: #0072ce
  .amber
    background-color: #bb9959
  .flesh
    background-color: #e8927c
  .brown
    background-color: #963821
  .red
    background-color: #782f40
  .green
    background-color: #215b41

.new-mexico
  .red,
  ::selection
    background-color: #bf0a30
  .yellow
    background-color: #ffd700

.arizona
  .old-gold
    background-color: #fff22d
  .copper,
  ::selection
    background-color: #a96a31

.alaska
  .blue,
  ::selection
    background-color: #0f204b
  .gold
    background-color: #ffb612

.hawaii
  .blue,
  ::selection
    background-color: #00237d
  .red
    background-color: #cf142b

.washington-dc
  .red,
  ::selection
    background-color: #e81b39

.guam
  .blue,
  ::selection
    background-color: #00205b
  .red
    background-color: #ef3340
  .sky-blue
    background-color: #0072ce
  .green
    background-color: #009639
  .yellow
    background-color: #fce300
  .brown
    background-color: #382E2c

.puerto-rico
  .blue,
  ::selection
    background-color: #00205b
  .red
    background-color: #ef3340

.american-samoa
  .blue,
  ::selection
    background-color: #00205b
  .red
    background-color: #ef3340
  .gold
    background-color: #ffd100
  .brown
    background-color: #be531c

.usvi
  .yellow,
  ::selection
    background-color: #fce300
    color: black
  .red
    background-color: #e03c31
  .blue
    background-color: #00205b
  .azure
    background-color: #69b3e7
  .green
    background-color: #009639

.nmi
  .blue,
  ::selection
    background-color: #0071bc
  .gray
    background-color: #8c8a8c
  .red
    background-color: #de2010
  .green
    background-color: #217900
  .yellow
    background-color: #ffd200
  .violet
    background-color: #6b18b5
