.flag-list
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr))
  grid-gap: 40px

  .state
    font-family: $font-family-study
    font-style: italic
    font-weight: $font-weight-light

  a
    text-decoration: none
