/*--------------------------------------------------------------------
* $FLAG COLORS
--------------------------------------------------------------------*/

.arizona
  .blue
    background-color: #28325d
  .red
    background-color: #bb2440
  .old-gold
    background-color: #fff22d
  .copper
    background-color: #a96a31

.delaware
  .arno
    background-color: #71a19f
  .buff
    background-color: #d7ac6c
  .black
    background-color: #000000
  .gold
    background-color: #ffd93c
  .green
    background-color: #3f863f
  .red
    background-color: #a8393a
  .brown
    background-color: #4f3636
  .blue
    background-color: #006fff
