/*--------------------------------------------------------------------
* $FLAG COLORS
--------------------------------------------------------------------*/

$us-blue = #002868
$us-red = #BF0A30

.arizona
  .blue
    background-color: $us-blue
  .red
    background-color: $us-red
  .old-gold
    background-color: #fff22d
  .copper
    background-color: #a96a31

.delaware
  .arno
    background-color: #71a19f
  .buff
    background-color: #d7ac6c
  .black
    background-color: #000000
  .gold
    background-color: #ffd93c
  .green
    background-color: #3f863f
  .red
    background-color: #a8393a
  .brown
    background-color: #4f3636
  .blue
    background-color: #006fff

.pennsylvania
  .blue
    background-color: $us-blue
  .grey
    background-color: #414141
  .gold
    background-color: #dca90d
  .red
    background-color: #d10b10
  .green
    background-color: #076a21
