/*--------------------------------------------------------------------
* $FLAG
--------------------------------------------------------------------*/

.flag
  display: block
  margin-bottom: 8px

  &.non-rect
    background-color: white;

  a, 
  a img
    display: block

.flag,
.flag img
  border-radius: 4px

.flag-item a
  opacity: 1

  &:focus
    box-shadow: 0 -6px 0 16px $teal

  .flag
    transition: all .15s ease-in-out

    img
      display: block

  .number
    display: none

  .state:after
    display: inline-block
    margin-left: 5px
    content: '→'
    opacity: 0

  &:hover
    background-color: transparent
    box-shadow: none

  &:hover,
  &:focus

    .flag
      transform: scale(1.02) translateY(-5px)

    .flag:not(.non-rect)
      box-shadow: 0 0 0 4px white,
                  0 0 10px 2px black(.35)

    .state
      text-decoration: underline
      &:after
        opacity: 1
