.flag-list
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr))
  grid-gap: 40px

  .flag
    display: block

  .state
    font-family: $font-family-study
    font-style: italic
    font-weight: $font-weight-light

  a
    text-decoration: none

h2 + .flag-list
  margin-top: 30px

.massachusetts .flag img
  border: 1px solid $grey-lightest

