/*--------------------------------------------------------------------
* $FOOTER
--------------------------------------------------------------------*/

.footer-main
  margin-top: 100px
  display: flex
  justify-content: space-between
  font-family: $font-family-study
  font-style: italic
  font-size: .9em

  p
    margin-bottom: 5px

  span
    font-style: normal
    margin-right: -4px
