/*--------------------------------------------------------------------
* $FOOTER
--------------------------------------------------------------------*/

.footer-main
  margin-top: 100px
  font-family: $font-family-study
  font-style: italic
  font-size: .9em
  text-align: center

  clear: both
  
  @media screen and (min-width: 500px)
    display: flex
    justify-content: space-between
    align-items: center
    text-align: left

    p
      margin-bottom: 0

  span
    font-style: normal

  .coffee
    display: flex
    gap: .4em
    align-items: center
    justify-content: center

  .coffee-icon
    background: none
    box-shadow: none
    width: 20px
    height: 20px
