/*--------------------------------------------------------------------
* $FOOTER
--------------------------------------------------------------------*/

.footer-main
  margin-top: 100px
  font-family: $font-family-study
  font-style: italic
  font-size: .9em

  @media screen and (min-width: $w-medium)
    display: flex
    justify-content: space-between

    p
      margin-bottom: 5px

  span
    font-style: normal
