/*--------------------------------------------------------------------
* $HEADER
--------------------------------------------------------------------*/

header
  margin: 100px 0 80px

  .flex
    width: 100%
    padding-bottom: 40px
    justify-content: space-between
    align-items: flex-end
    border-bottom: 16px solid black

  h1
    margin: 0
    line-height: 1
    font-size: 7.3em

  .flag
    width: 130px
    margin-bottom: 16px
    display: block

  .meta
    margin-top: 15px
    display: flex
    justify-content: space-between
    font-family: $font-family-study
    font-style: italic
