[class*='list']
  display: flex
  flex-wrap: wrap
  justify-content: space-between

  @supports (display: grid)
    display: grid

  a
    display: block
    text-decoration: none

  p a
    display: inline-block
    text-decoration: underline

  @media screen and (max-width: 606px)
    [class*='item']:empty
      display: none

h2 + [class*='list']
  margin-top: 30px

p + [class*='list']
  margin-top: 30px

//----------------------
// Flag lists
//----------------------
.flag-list

  .flag-item
    margin-bottom: 40px

  @media screen and (min-width: $w-medium)
    .flag-item
      width: 47%

  @media screen and (min-width: $w-large)
    .flag-item
      width: 23%

  @supports (display: grid)
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr))
    grid-gap: 40px

    .flag-item
      width: auto
      margin-bottom: auto

  .state
    font-family: $font-family-study
    font-style: italic
    font-weight: $font-weight-light

.detail .flag-list p
  margin-top: 5px
  font-size: .9em

//----------------------
// Iconography lists
//----------------------
.icon-list

  .icon img
    width: auto

  @media $bp-small
    .icon img
      height: 90px

    .icon-item
      width: 45%
      margin-bottom: 30px

    @supports (display: grid)
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr))
      grid-gap: 30px

  @media screen and (min-width: $w-medium)
    .icon img
      height: 150px

    .icon-item
      width: 24%
      margin-bottom: 60px

    @supports (display: grid)
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
      grid-gap: 60px

  @supports (display: grid)
    .icon-item
      width: auto
      margin-bottom: auto

  h4
    margin-bottom: 5px
    font-size: 1em

  p
    font-size: .8em

    &:not(:last-child)
      margin-bottom: 15px

    &:first-of-type:before
      content: 'Denotes'
      display: block
      margin-bottom: 5px
      padding-top: 10px
      border-top: 1px dotted $grey-light
      font-size: .7em
      color: $grey-med
      text-transform: uppercase
      letter-spacing: 1px

//----------------------
// Stats
//----------------------
.stat-list

  .stat-item
    position: relative

    h4
      font-weight: $font-weight-normal

  .icon img
    position: absolute
    left: 0

  @media $bp-small
    .stat-item
      width: 28%
      margin-bottom: 50px
      padding-left: 45px

    h4
      font-size: .8em

    .icon
      font-size: 2em

      img
        width: 30px
        top: 10px

    @supports (display: grid)
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr))
      grid-gap: 50px

  @media screen and (min-width: $w-medium)
    .stat-item
      width: 22%
      margin-bottom: 80px
      padding-left: 55px

    h4
      font-size: 1em

    .icon
      font-size: 4em

      img
        width: 40px
        top: 30px

    @supports (display: grid)
      grid-template-columns: repeat(auto-fit, minmax(160px, 1fr))
      grid-gap: 100px 80px

  @supports (display: grid)
    .stat-item
      width: auto
      margin-bottom: auto
