[class*='list']
  display: grid

  a
    display: block
    text-decoration: none

  p a
    text-decoration: underline

  @media screen and (max-width: 606px)
    [class*='item']:empty
      display: none

h2 + [class*='list']
  margin-top: 30px

p + [class*='list']
  margin-top: 30px

.flag-list
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr))
  grid-gap: 40px

  .state
    font-family: $font-family-study
    font-style: italic
    font-weight: $font-weight-light

.detail .flag-list p
  margin-top: 5px
  font-size: .9em

.icon-list
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
  grid-gap: 60px

  h4
    margin-bottom: 5px
    font-size: 1em

  p
    font-size: .8em

    &:not(:last-child)
      margin-bottom: 15px

    &:first-of-type:before
      content: 'Denotes'
      display: block
      margin-bottom: 5px
      padding-top: 10px
      border-top: 1px dotted $grey-light
      font-size: .7em
      color: $grey-med
      text-transform: uppercase
      letter-spacing: 1px

  .icon img
    width: auto
    height: 150px

.stat-list

  .stat-item
    position: relative

    h4
      font-weight: $font-weight-normal

  .icon img
    position: absolute
    left: 0

  @media $bp-small
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr))
    grid-gap: 50px

    .stat-item
      padding-left: 45px

    h4
      font-size: .8em

    .icon
      font-size: 2em

      img
        width: 30px
        top: 10px

  @media screen and (min-width: $w-medium)
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr))
    grid-gap: 100px 80px

    .stat-item
      padding-left: 55px

    h4
      font-size: 1em

    .icon
      font-size: 4em

      img
        width: 40px
        top: 30px
