/*--------------------------------------------------------------------
* $NAV
--------------------------------------------------------------------*/

.nav-main,
.pagination
  font-family: $font-family-study
  font-style: italic
  display: flex
  justify-content: space-between

.nav-main
  .links a
    display: block
    text-align: right

    @media screen and (min-width: 400px)
      margin-left: 20px
      display: inline-block

.pagination
  margin-bottom: 50px

.tweet
  position: relative
  padding-left: 25px

  &:before
    content: ''
    width: 20px
    height: @width
    display: block
    position: absolute
    left: 0
    top: 2px
    background: transparent url('/assets/images/icon-twitter.svg') no-repeat center center
    background-size: 20px 20px
    opacity: .3

.back,
.previous,
.next
  position: relative
  &:before
    position: absolute
    font-size: .9em
    color: $grey-med

.back,
.previous
  margin-right: 10px
  padding-left: 20px
  &:before
    content: '←'
    left: 0

.next
  margin-left: 10px
  padding-right: 20px
  &:before
    content: '→'
    right: 0

.home
  .nav-main
    justify-content: flex-end
