extends layout

block vars
  - var pageDescription = 'Page not found.'
  - var bodyClass = 'fourohfour'
  - var name = 'Page not found'

block content

  .message
    h1 404
    p Flag not found. Try #[a(href='/') going home].
