extends layout

block vars
  - var bodyClass = 'detail'
  - var category = 'territory'
  - var name = 'American Samoa'
  - var path = 'american-samoa'

block content

  +territory(name, path, 'April 17, 1900', 'border')

  .intro
    p American Samoa became a U.S. territory in April of 1900 and didn’t fly its own flag until exactly sixty years later.
    p In 1959, Samoana High School held a flag design contest for its students. The winning submission, featuring both U.S. and Samoan imagery, was designed by 19-year-old Uinifareti Rapi Sotoa.
    p The flag was officially adopted April 17, 1960.

  .guide
    .content
      h2 Composition
      p The American Samoa flag features a field of blue bisected by a red and white fly chevron pointing toward the hoist.
      p Within the chevron, a bald eagle is charged, a war club (uatogi) and a fly-whisk (fue) in its claws.
      +survey(name, '27th')
    .visual.flag
      +flag(name, path, 'border')

  .guide.wide
    .content
      h2 Iconography
      ul.visual.icon-list
        li.icon-item
          span.icon: img(src='/assets/images/flag-american-samoa-icon-eagle.svg', alt='eagle')
          h4 eagle
          p power, protection, and friendship with the United States
        li.icon-item
          span.icon: img(src='/assets/images/flag-american-samoa-icon-uatogi.svg', alt='war club')
          h4 uatogi
          p power, government
        li.icon-item
          span.icon: img(src='/assets/images/flag-american-samoa-icon-fue.svg', alt='fly-whisk')
          h4 fue
          p wisdom, tradition
        li.icon-item

  .guide
    .content
      h2 Colors
      p American Somoa statutes do not mention the territory flag.
      p #[em The Flags and Anthems Manual] for the London 2012 Olympic Games does provide Pantone colors for the American Samoa flag, as specified here.
    .visual
      .colors.primary
        .color
          .sample(class='blue')
          .name Blue
          .hex #00205b
          .pantone PMS 281
        .color
          .sample(class='red')
          .name Red
          .hex #ef3340
          .pantone PMS 032
        include includes/color-white-pantone
      .colors.secondary
        .color
          .sample(class='gold')
          .name Gold
          .hex #ffd100
          .pantone PMS 109
        .color
          .sample(class='brown')
          .name Brown
          .hex #be531c
          .pantone PMS 167
        include includes/color-black-pantone

  .guide
    .content
      h2 Construction
      p American Somoa statutes do not mention the territory flag.
      p It is usually produced with a proportion of 1:1.9.
    .visual
      +construction(name, path)

  +pagination('puerto-rico', 'Puerto Rico',
              'us-virgin-islands', 'U.S. Virgin Islands')

  .guide.wide.sources
    h3 Sources
    ul
      li.source Flags and Anthems Manual London 2012. London:  London Organising Committee of the Olympic Games and Paralympic Games Ltd. 2012.
      li.source: a(href='https://fotw.info/flags/as.html') Flags of the World
      li.source: a(href='https://www.britannica.com/topic/flag-of-American-Samoa') Encyclopedia Britannica
      li.source: a(href='http://www.samoanews.com/full-story-flags-designer-laid-rest-week') Samoa News
      li.source: a(href='https://en.wikipedia.org/wiki/Flag_of_American_Samoa') Flag of American Samoa - Wikipedia
