extends layout

block vars
  - var bodyClass = 'detail'
  - var category = 'state'
  - var name = 'Arizona'
  - var path = 'arizona'

block tweet
  a.tweet(href="https://ctt.ec/DidfP") Share

block content

  +state(name, path, 'The Grand Canyon State', 'February 14, 1912')

  .intro
    p The Arizona flag was designed in 1910 by Colonel Charles W. Harris, general of the Arizona National Guard, for the Arizona Rifle Team to use in competition. His wife, Mae Harris, sewed the first competition version.

    p Carl Hayden, Arizona’s first Representative, is also credited with the design and his wife, Nancy Hayden, sewed the first official flag.

    p The flag was officially adopted February 17, 1917.

  .guide
    .content
      h2 Flag design
      p The Arizona flag features a lower half of blue while the upper half features thirteen equally-sized beams, six gold and seven red, radiating from a copper five-pointed star, centered.
      +survey(name, '6th')
    .visual.flag
      +flag(name, path)

  .guide.wide
    .content
      h2 Iconography
      ul.visual.icon-list
        li.icon-item
          span.icon: img(src='/assets/images/flag-arizona-icon-star.svg', alt='five-pointed star')
          h4 star
          p Arizona as one of the largest producers of copper
        li.icon-item
          span.icon: img(src='/assets/images/flag-arizona-icon-rays.svg', alt='radiating lines')
          h4 rays
          p the setting sun, the original thirteen colonies
        li.icon-item

  .guide
    .content
      h2 Colors
      p The Arizona flag uses the same blue and red as the U.S. national flag.
      p Blue and gold are Arizona’s state colors.
      hr
      small Arizona statute does not provide Cable or Pantone values for the “old gold” or copper.
      small The hex values here are approximations.
    .visual.colors.primary
      include includes/color-us-blue
      include includes/color-us-red
      .color
        .sample(class='old-gold')
        .name Old Gold
        .hex #fff22d
      .color
        .sample(class='copper')
        .name Copper
        .hex #a96a31

  .guide
    .content
      h2 Construction
      p Arizona statute specifies the proportion and spacing for the flag’s visual elements in feet.
      p The flag should have a hoist of 4 feet and a fly of 6 feet.
      p The copper star should be 2 feet tall and positioned 1 foot from the top and 1 foot from the bottom, horizontally centered.
    .visual
      +construction(name, path)

  .guide.wide
    .content
      h2 Flags of the Native Peoples
      p Lalalala
    ul.visual.flag-list
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')

  +pagination('new-mexico', 'New Mexico',
              'alaska', 'Alaska')

  .guide.wide.sources
    h3 Sources
    ul
      include includes/source-howe
      li.source Arizona Revised Statutes. Title 41 - State Government. Section § 41-851 State colors; state flag
      li.source: a(href='https://www.azleg.gov/FormatDocument.asp?inDoc=/ars/41/00851.htm&Title=41&DocType=ARS') Arizona State Legislature
      li.source: a(href='https://www.legion.org/flag/questions-answers/91472/what-are-exact-shades-colors-blue-and-red') The American Legion
      li.source: a(href='https://en.wikipedia.org/wiki/Flag_of_Arizona') Flag of Arizona - Wikipedia
