extends layout

block vars
  - var pageDescription = 'Design guide for the state flag of Arizona.'
  - var bodyClass = 'detail arizona'

block tweet
  a.tweet(href="https://ctt.ec/DidfP") Share on Twitter

block title
  | Arizona - 

block content

  +state('Arizona', '/assets/images/flag-arizona.svg', 'The Grand Canyon State', 'February 14, 1912')

  .intro
    p The Arizona flag was designed in 1910 by Colonel Charles W. Harris, general of the Arizona National Guard, for the Arizona Rifle Team to use in competition. His wife, Mae Harris, sewed the first competition version.

    p Carl Hayden, Arizona’s first Representative, is also credited with the design and his wife, Nancy Hayden, sewed the first official flag.

    p The flag was officially adopted February 17, 1917.

  .guide
    .content
      h2 Flag design
      p The Arizona flag features a lower half of blue while the upper half features thirteen equally-sized beams, six gold and seven red, radiating from a copper five-pointed star, centered.
      +survey('Arizona', '6th')
    .visual.flag
      img(src='/assets/images/flag-arizona.svg')

  .guide.wide
    .content
      h2 Iconography
      ul.visual.icon-list
        li.icon-item
          span.icon: img(src='/assets/images/flag-arizona-icon-star.svg')
          h4 star
          p Arizona as one of the largest producers of copper
        li.icon-item
          span.icon: img(src='/assets/images/flag-arizona-icon-rays.svg')
          h4 rays
          p the setting sun, the original thirteen colonies
        li.icon-item

  .guide
    .content
      h2 Colors
      p Colors include blue, red, “old gold” (yellow), and copper. The blue and red match the United States flag.
      p Blue and gold are also Arizona’s state colors.
    .visual.colors.primary
      include includes/color-us-blue
      include includes/color-us-red
      .color
        .sample(class='old-gold')
        .name Old Gold
        .hex #fff22d
      .color
        .sample(class='copper')
        .name Copper
        .hex #a96a31

  .guide
    .content
      h2 Construction
      p Arizona statute specifies the proportion and spacing for the flag’s visual elements in feet.
      p The flag should have a hoist of 4 feet and a fly of 6 feet.
      p The copper star should be 2 feet tall and positioned 1 foot from the top and 1 foot from the bottom, horizontally centered.
      p If resized, it must maintain these proportions.
    .visual
      img(src='/assets/images/flag-arizona-dimensions.svg')

  .guide.wide
    .content
      h2 Flags of the Native Peoples
      p Lalalala
    ul.visual.flag-list
      +flag('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag('Delaware', 'delaware', '/assets/images/flag-arizona.png')

  .guide.wide
    .content
      h2 Similar Flags
      p Lalalala
    ul.visual.flag-list
      +flag('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag('Delaware', 'delaware', '/assets/images/flag-arizona.png')

  .guide.wide.sources
    h3 Sources
    ul
      include includes/source-howe
      li.source: a(href='https://www.azleg.gov/FormatDocument.asp?inDoc=/ars/41/00851.htm&Title=41&DocType=ARS') Arizona State Legislature
      li.source: a(href='https://www.legion.org/flag/questions-answers/91472/what-are-exact-shades-colors-blue-and-red') The American Legion
      li.source: a(href='https://en.wikipedia.org/wiki/Flag_of_Arizona') Wikipedia
