extends layout

block vars
  - var bodyClass = 'detail'
  - var category = 'state'
  - var name = 'Arkansas'
  - var path = 'arkansas'

block content

  +state(name, path, 'The Natural State', 'June 15, 1836')

  .intro
    p In 1912, the Pine Bluff chapter of the Daughters of the American Revolution held a flag design contest to create a flag for the USS #[em Arkansas].
    p Willie K. Hocker, a local teacher, submitted the winning design which featured three blue stars at the center of a white diamond trimmed in blue and 25 white stars. At the flag committee’s request, the word “Arkanas” was added and the flag was adopted in 1913.
    p The flag has had two small revisions, with its current iteration adopted in 1924.
    p Although unchanged since, it wasn’t signed into law until 1987.

  .guide
    .content
      h2 Flag design
      p The Arkansas flag features a field of red surrounding a centered diamond of white, bordered by a band of blue emblazoned with 25 white five-pointed stars.
      p Within the white diamond the word “Arkanas” is inscribed. Three blue five-pointed stars are placed below and one more placed above.
      +survey(name, '45th')
    .visual.flag
      +flag(name, path)

  .guide.wide
    .content
      h2 Iconography
      ul.visual.icon-list
        li.icon-item
          span.icon: img(src='/assets/images/flag-arkansas-icon-diamond.svg', alt='diamond')
          h4 diamond
          p diamonds, natural resources
          p #[em Note:] Arkansas is the only diamond-bearing state in the U.S.
        li.icon-item
          span.icon: img(src='/assets/images/flag-arkansas-icon-stars.svg', alt='diamond of stars')
          h4 25 stars
          p Arkansas as the 25th state to join the Union
        li.icon-item
          span.icon: img(src='/assets/images/flag-arkansas-icon-3-stars.svg', alt='three stars')
          h4 3 stars
          p the three countries to which Arkansas has belonged (Spain, France, and the U.S.) and the first three states formed from the Louisiana Purchase (Louisiana, Missouri and Arkansas)
        li.icon-item
          span.icon: img(src='/assets/images/flag-arkansas-icon-1-star.svg', alt='five-pointed star')
          h4 1 star
          p Arkansas’ secession and role in the Confederacy

  .guide
    .content
      h2 Colors
      p Colors include red, white, and blue. The blue and red match those on the United States flag.
    .visual.colors.primary
      include includes/color-us-blue
      include includes/color-us-red
      include includes/color-us-white

  .guide
    .content
      h2 Construction
      p Neither Arkansas law nor the Office of the Secretary of State provide official dimensions for the flag. It is commonly produced with a proportion of 2:3.
      p Statute does require Arkansas flags be produced in the United States.
    .visual
      +construction(name, path)

  .guide.wide.timeline
    .content
      h2 Previous iterations
      ul.visual.flag-list
        li.flag-item
          span.flag: img(src='/assets/images/flag-arkansas-hocker.svg', alt='version that features just three stars within the diamond')
          h4 Proposed design
          p Willie K. Hocker’s design submitted to the flag contest.
        li.flag-item
          span.flag: img(src='/assets/images/flag-arkansas-1913-1923.svg', alt='version that features one star above the word “Arkansas” and two below within the diamond')
          h4 1913-1923
          p “Arkanas” is added to the Hocker design.
        li.flag-item
          span.flag: img(src='/assets/images/flag-arkansas-1923.svg', alt='features two stars above “Arkansas” and two below')
          h4 1923-1924
          p A fourth star is added within the white diamond.
        li.flag-item
          span.flag: img(src='/assets/images/flag-arkansas.svg', alt='the current Arkansas flag')
          h4 1924-Present
          p The fourth star is separated from the other three.

  .guide.wide
    .content
      h2 Flags of the Native Peoples
      p Lalalala
    ul.visual.flag-list
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')

  +pagination('missouri', 'Missouri',
              'michigan', 'Michigan')

  .guide.wide.sources
    h3 Sources
    ul
      include includes/source-howe
      li.source Arkansas Code. Title 1 - General Provisions Chapter 4 - State Symbols, Motto, Etc. § 1-4-101 - State flag.
      li.source Ware, David. Capitol Historian, Arkansas Secretary of State’s Office, personal communication, August 5, 2019.
      li.source: a(href='https://encyclopediaofarkansas.net/entries/official-state-flag-3151/') Encyclopedia of Arkansas
      li.source: a(href='https://www.sos.arkansas.gov/education/arkansas-history/history-of-the-flag/story-of-the-flag') Arkansas Secretary of State
      li.source: a(href='https://en.wikipedia.org/wiki/Flag_of_Arkansas') Flag of Arkansas - Wikipedia
