extends layout

block vars
  - var bodyClass = 'detail'
  - var category = 'state'
  - var name = 'Colorado'
  - var path = 'colorado'

block content

  +state(name, path, 'The Centennial State', 'August 1, 1876', 'border')

  .intro
    p Colorado’s original state flag was adopted in 1907, but only one was ever produced and it was never flown publicly.
    p In 1910, not knowing the state adopted a flag at all, a Colorado chapter of the Daughters of the American Revolution called for submissions for a flag design. The winning submission was designed by Andrew Carlisle Carson.
    p This (second) flag was officially adopted June 5, 1911.
    p Its colors were standardized in 1929 and its proportions in 1964.

  .guide
    .content
      h2 Flag design
      p The Colorado flag is a triband of blue and white.
      p A red letter ‘C’ is charged upon the stripes and within the ‘C’ is a golden disc.
      +survey(name, '16th')
    .visual.flag
      +flag(name, path, 'border')

  .guide.wide
    .content
      h2 Iconography
      ul.visual.icon-list
        li.icon-item
          span.icon: img(src='/assets/images/flag-colorado-icon-c.svg', alt='a letter C with a circle at the center')
          h4 C
          p Colorado, the ruddy soil (red), sunshine (gold)
        li.icon-item
          span.icon: img(src='/assets/images/flag-colorado-icon-stripes.svg', alt='three horizontal stripes')
          h4 stripes
          p Colorado skies (blue), snowcapped mountains (white)
        li.icon-item

  .guide
    .content
      h2 Colors
      p The Colorado flag uses the same red, white, and blue as the U.S. national flag.
      p The colors do have symbolic meaning as described in the Iconography section above.
      hr
      small Neither Colorado law nor the Office of the Secretary of State provides Cable or Pantone values for the gold of the flag.
      small The hex value here is an approximation.
    .visual.colors.primary
      include includes/color-us-blue
      include includes/color-us-white
      include includes/color-us-red
      .color
        .sample(class='gold')
        .name Gold
        .hex #ffd700

  .guide
    .content
      h2 Construction
      p The Colorado flag is produced with a proportion of 2:3.
      p Colorado statute specifies the proportion and spacing for the flag’s visual elements, which is rendered here.
      p Attached to the flag should be a cord of intertwined gold and silver, with one tassel of gold and one of silver.
    .visual
      +construction(name, path)

  .guide
    .content
      h2 Previous iteration
      p The original and forgotten Colorado state flag featured the coat of arms on a field of blue. It “flew” from 1907–1911.
    .visual.flag
      img.border(src='/assets/images/flag-colorado-1907-1911.svg', alt='Colorado flag from 1907')

  +pagination('nebraska', 'Nebraska',
              'north-dakota', 'North Dakota')

  .guide.wide.sources
    h3 Sources
    ul
      include includes/source-howe
      li.source Colorado Revised Statutes 2018. Article 80 State History, Archives, and Emblems. Part 9 State Emblems and Symbols. 24-80-904. State flag.
      li.source: a(href='https://www.cpr.org/show-segment/like-the-green-triangle-logo-colorados-original-state-flag-was-a-bust/') CPR News
      li.souurce: a(href='https://www.thedenverchannel.com/news/local-news/colorado-day-fun-facts-history-of-the-colorado-state-flag') The Denver Channel
      li.source: a(href='https://history.denverlibrary.org/news/story-behind-colorados-iconic-state-flag') Denver Library
      li.source: a(href='https://en.wikipedia.org/wiki/Flag_of_Colorado') Flag of Colorado - Wikipedia
