extends layout

block vars
  - var bodyClass = 'detail'
  - var category = 'state'
  - var name = 'Connecticut'
  - var path = 'connecticut'

block content

  +state(name, path, 'The Constitution State', 'January 9, 1788')

  .intro
    p More than 100 years after statehood, Governor O. William Coffin established a committee to standardize a state flag.
    p An unofficial design had been used prior, inspired by a memorial by the Anna Warner Bailey Chapter of the Daughters of the American Revolution and featuring the Connecticut coat of arms.
    p The flag was officially adopted September 9, 1897.

  .guide
    .content
      h2 Flag design
      p The Connecticut flag features a field of azure charged with the state coat of arms, centered.
      +survey(name, '50th')
    .visual.flag
      +flag(name, path)

  .guide.wide
    .content
      h2 Iconography
      ul.visual.icon-list
        li.icon-item
          span.icon: img(src='/assets/images/flag-connecticut-icon-grapevine.svg', alt='a single grapevine')
          h4 grapevine
          p transplantation, settlement
        li.icon-item
          span.icon: img(src='/assets/images/flag-connecticut-icon-three-grapevines.svg', alt='a group of three grapevines')
          h4 grapevines
          p three settlements of Windsor, Wethersfield, and Hartford
        li.icon-item
          span.icon: img(src='/assets/images/flag-connecticut-icon-oak.svg', alt='five oak tree leaves with round berries')
          h4 oak leaves & acorns
          p local flora
        li.icon-item
          span.icon: img(src='/assets/images/flag-connecticut-icon-motto.svg', alt='Latin motto on a ribbon banner')
          h4 motto
          p “He Who Transplanted Still Sustains”

  .guide
    .content
      h2 Coat of Arms
      p While featured on the flag long before, the state coat of arms wasn’t officially adopted until 1931. It was based on the seal for Saybrook Colony, which featured 15 grapevines and the motto “Sustinet qui transtulit.”
    .visual.flag
      +coat-of-arms(name, path)

  .guide
    .content
      h2 Colors
      p Connecticut statute mentions the colors of its flag, including “neutral colors” for the grapevines, but it does not provide specific color values.
      p In a 1956 agreement, the Office of the Secretary of State and the State Purchasing Division developed a uniform color standard for the manufacture of Connecticut state flags, as specified here.
      hr
      small The hex values here are approximations.
    .visual
      .colors.primary
        .color
          .sample(class='azure')
          .name Azure
          .hex #0c2d83
          .cable Cable No. 70086 #[span Yale Blue]
        include includes/color-white-cable
      .colors.secondary
        .color
          .sample(class='gold')
          .name Gold
          .hex #ffd312
          .cable Cable No. 70057 #[span Old Gold]
        .color
          .sample(class='silver')
          .name Silver
          .hex #c4c4c4
          .cable Cable No. 70151 #[span Silver]
        .color
          .sample(class='brown')
          .name Brown
          .hex #961e1d
          .cable Cable No. 70093 #[span Sandalwood]
        .color
          .sample(class='green')
          .name Green
          .hex #129612
          .cable Cable No. 70167 #[span Primitive Green]
        .color
          .sample(class='grape')
          .name Grape
          .hex #b400b4
          .cable Cable No. 70212 #[span Parma Violet]

  .guide
    .content
      h2 Construction
      p Connecticut statute specifies the dimensions of the flag in feet and inches. It should have a hoist of 4 feet, 4 inches and a fly of 5 feet, 6 inches.
      p This is a proportion of 26:33, but the flag is often produced with more common proportions of 2:3 and 3:5.
      p It does not specify the dimensions for the coat of arms.
    .visual
      +construction(name, path)

  .guide.wide
    .content
      h2 Flags of the Native Peoples
      p Lalalala
    ul.visual.flag-list
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')

  +pagination('georgia', 'Georgia',
              'massachusetts', 'Massachusetts')

  .guide.wide.sources
    h3 Sources
    ul
      include includes/source-howe
      include includes/source-mitchell
      li.source Connecticut General Statutes. Title 3 - State Elective Officers. Chapter 33 - Secretary. Section 3-107 - State flag.
      li.source Sladek, Barbara. Records & Legislative Services Coordinator, Office of the Secretary of the State, personal communication, August 1, 2019.
      li.source: a(href='https://portal.ct.gov/About/State-Symbols/The-State-Flag') The State of Connecticut
      li.source: a(href='https://biznet.ct.gov/SCP_Search/ContractDetail.aspx?ID=20016') Connecticut State Contract #18PSX0115
      li.source: a(href='https://www.britannica.com/topic/flag-of-Connecticut') Encyclopedia Britannica
      li.souurce: a(href='https://statesymbolsusa.org/symbol-official-item/connecticut/state-flag/flag-connecticut') State Symbols USA
      li.source: a(href='https://en.wikipedia.org/wiki/Flag_of_Connecticut') Flag of Connecticut - Wikipedia
