extends layout

block vars
  - var bodyClass = 'detail'
  - var category = 'state'
  - var name = 'Delaware'
  - var path = 'delaware'

block content

  +state(name, path, 'The First State', 'December 7, 1787')

  .intro
    p Delaware was the first state to ratify the U.S. Constitution and displays that date proudly on its flag.
    p A commission group was originally put together for the design, which resulted in the current version, the only one Delaware has flown. Like many other states, the Delaware flag features the state coat of arms, adopted in 1777.
    p The flag was officially adopted July 24, 1913.

  .guide
    .content
      h2 Flag design
      p The Delaware flag features a field of colonial blue surrounding a centered diamond of buff charged with the state coat of arms.
      p “December 7, 1787” (the date Delaware became a state) is inscribed below the diamond in white.
      +survey(name, '52nd')
    .visual.flag
      +flag(name, path)

  .guide.wide
    .content
      h2 Iconography
      ul.visual.icon-list
        li.icon-item
          span.icon: img(src='/assets/images/flag-delaware-icon-diamond.svg', alt='diamond')
          h4 diamond
          p the Diamond State, small but valuable
          p #[em Note:] It was Thomas Jefferson who compared Delaware to a diamond.
        li.icon-item
          span.icon: img(src='/assets/images/flag-delaware-icon-husbandman.svg', alt='farmer with a hoe')
          h4 husbandman
          p farming, agriculture
        li.icon-item
          span.icon: img(src='/assets/images/flag-delaware-icon-rifleman.svg', alt='man in uniform with rifle')
          h4 rifleman
          p citizens’ role in protecting freedom
        li.icon-item
          span.icon: img(src='/assets/images/flag-delaware-icon-wheat.svg', alt='sheave of wheat')
          h4 wheat
          p agriculture
        li.icon-item
          span.icon: img(src='/assets/images/flag-delaware-icon-corn.svg', alt='corn in husk')
          h4 corn
          p agriculture
        li.icon-item
          span.icon: img(src='/assets/images/flag-delaware-icon-ox.svg', alt='ox')
          h4 ox
          p animal husbandry
        li.icon-item
          span.icon: img(src='/assets/images/flag-delaware-icon-river.svg', alt='wavy rectangle')
          h4 water
          p the Delaware River, transportation, commerce
        li.icon-item
          span.icon: img(src='/assets/images/flag-delaware-icon-ship.svg', alt='ship with many sails')
          h4 ship
          p shipbuilding, coastal trades

  .guide
    .content
      h2 Coat of Arms
      p The flag features the Delaware coat of arms, adopted in 1777.
      p On the lower banner, the state motto “Liberty and Independence” is inscribed, also heard in the state song, “Our Delaware.”
    .visual.flag
      +coat-of-arms(name, path)

  .guide
    .content
      h2 Colors
      p Colonial blue and buff are Delaware’s state colors, assigned with specific color values.
      p The two colors were inspired by a military uniform George Washington once wore.
      hr
      small Delaware statute describes the colors featured in the coat of arms, but Cable or Pantone values are not provided.
      small The hex values here are approximations.
    .visual
      .colors.primary
        .color
          .sample(class='arno')
          .name Colonial Blue
          .hex #71a19f
          .cable Cable No. 10663 #[span Arno Blue]
        .color
          .sample(class='buff')
          .name Buff
          .hex #d7ac6c
          .cable Cable No. 10781 #[span Golden Beige]
      .colors.secondary
        include includes/color-black
        .color
          .sample(class='gold')
          .name Gold
          .hex #ffd93c
        .color
          .sample(class='green')
          .name Green
          .hex #3f863f
        .color
          .sample(class='red')
          .name Red
          .hex #a8393a
        .color
          .sample(class='brown')
          .name Brown
          .hex #4f3636
        .color
          .sample(class='blue')
          .name Blue
          .hex #006fff

  .guide
    .content
      h2 Construction
      p Delaware statute doesn’t specify dimensions, but the flag is usually produced with a proportion of 2:3.
    .visual
      +construction(name, path)

  .guide.wide
    .content
      h2 Flags of the Native Peoples
      p Lalalala
    ul.visual.flag-list
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')

  +pagination('northern-mariana-islands', 'Northen Mariana Islands',
              'pennsylvania', 'Pennsylvania')

  .guide.wide.sources
    h3 Sources
    ul
      include includes/source-howe
      include includes/source-mitchell
      li.source Delaware Code. TITLE 29 State Government. Part I General Provisions. CHAPTER 3. STATE SEAL, SONG AND SYMBOLS. Section § 306 State flag.
      li.source: a(href='https://en.wikipedia.org/wiki/Flag_of_Delaware') Flag of Delaware - Wikipedia
