extends layout

block vars
  - var pageDescription = 'Design guide for the state flag of Delware.'
  - var bodyClass = 'detail delaware'

block tweet
  a.tweet(href="https://ctt.ec/DidfP") Share on Twitter

block title
  | Delaware - 

block content

  +state('Delaware', '/assets/images/flag-delaware.svg', 'The First State', 'December 7, 1787')

  .intro
    p Delaware was the first state to ratify the U.S. Constitution and displays that date proudly on its flag.
    p A commission group was originally put together for the design, which resulted in the current version, the only one Delaware has flown. Like many other states, the Delaware flag features the state coat of arms, adopted in 1777.
    p The flag was officially adopted July 24, 1913.

  .guide
    .content
      h2 Flag design
      p The Delaware flag features a field of colonial blue surrounding a centered diamond of buff charged with the state coat of arms.
      p “December 7, 1787” (the date Delaware became a state) is inscribed below the diamond in white.
      +survey('Delaware', '52nd')
    .visual.flag
      img(src='/assets/images/flag-delaware.svg')

  .guide.wide
    .content
      h2 Iconography
      ul.visual.icon-list
        li.icon-item
          span.icon: img(src='/assets/images/flag-delaware-icon-diamond.svg')
          h4 diamond
          p the Diamond State, small but valuable
          p #[em Note:] It was Thomas Jefferson who compared Delaware to a diamond.
        li.icon-item
          span.icon: img(src='/assets/images/flag-delaware-icon-husbandman.svg')
          h4 husbandman
          p farming, agriculture
        li.icon-item
          span.icon: img(src='/assets/images/flag-delaware-icon-rifleman.svg')
          h4 rifleman
          p citizens’ role in protecting freedom
        li.icon-item
          span.icon: img(src='/assets/images/flag-delaware-icon-wheat.svg')
          h4 wheat
          p agriculture
        li.icon-item
          span.icon: img(src='/assets/images/flag-delaware-icon-corn.svg')
          h4 corn
          p agriculture
        li.icon-item
          span.icon: img(src='/assets/images/flag-delaware-icon-ox.svg')
          h4 ox
          p animal husbandry
        li.icon-item
          span.icon: img(src='/assets/images/flag-delaware-icon-river.svg')
          h4 water
          p the Delaware River, transportation, commerce
        li.icon-item
          span.icon: img(src='/assets/images/flag-delaware-icon-ship.svg')
          h4 ship
          p shipbuilding, coastal trades

  .guide
    .content
      h2 Coat of Arms
      p The flag features the Delaware coat of arms, adopted in 1777.
      p On the lower banner, the state motto “Liberty and Independence” is inscribed, also heard in the state song, “Our Delaware.”
    .visual.flag
      img(src='/assets/images/coat-of-arms-delaware.jpg')

  .guide
    .content
      h2 Colors
      p Colonial blue and buff are Delaware’s state colors.
      p The colors were inspired by a military uniform George Washington once wore.
      hr
      small Delaware statute describes the colors featured in the coat of arms, but Cable or Pantone values are not provided.
      small The hex values here are approximate.
    .visual
      .colors.primary
        .color
          .sample(class='arno')
          .name Colonial Blue
          .hex #71a19f
          .cable Cable No. 10663 #[span Arno Blue]
        .color
          .sample(class='buff')
          .name Buff
          .hex #d7ac6c
          .cable Cable No. 10781 #[span Golden Beige]
      .colors.secondary
        include includes/color-black
        .color
          .sample(class='gold')
          .name Gold
          .hex #ffd93c
        .color
          .sample(class='green')
          .name Green
          .hex #3f863f
        .color
          .sample(class='red')
          .name Red
          .hex #a8393a
        .color
          .sample(class='brown')
          .name Brown
          .hex #4f3636
        .color
          .sample(class='blue')
          .name Blue
          .hex #006fff

  .guide
    .content
      h2 Construction
      p Delaware statute doesn’t specify dimensions, but the flag is usually produced with a proportion of 2:3.
    .visual
      img(src='/assets/images/flag-delaware-dimensions.svg')

  .guide.wide
    .content
      h2 Flags of the Native Peoples
      p Lalalala
    ul.visual.flag-list
      +flag('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag('Delaware', 'delaware', '/assets/images/flag-arizona.png')

  .guide.wide
    .content
      h2 Similar Flags
      p Lalalala
    ul.visual.flag-list
      +flag('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag('Delaware', 'delaware', '/assets/images/flag-arizona.png')

  +pagination('northern-mariana-islands', 'Northen Mariana Islands',
              'pennsylvania', 'Pennsylvania')

  .guide.wide.sources
    h3 Sources
    ul
      include includes/source-howe
      include includes/source-mitchell
      li.source Delaware Code. TITLE 29 State Government. Part I General Provisions. CHAPTER 3. STATE SEAL, SONG AND SYMBOLS. Section § 306 State flag.
      li.source: a(href='https://en.wikipedia.org/wiki/Flag_of_Delaware') Flag of Delaware - Wikipedia
