extends layout

block vars
  - var bodyClass = 'detail'
  - var category = 'state'
  - var name = 'Delaware'
  - var path = 'delaware'

block content

  +state(name, path, 'The First State', 'December 7, 1787')

  .intro
    p Delaware was the first state to ratify the U.S. Constitution and displays that date proudly on its flag.
    p A commission group was originally put together for the design, which resulted in the current version, the only one Delaware has flown. Like many other states, the Delaware flag features the state coat of arms, adopted in 1777.
    p The flag was officially adopted July 24, 1913.

  .guide
    .content
      h2 Flag design
      p The Delaware flag features a field of colonial blue surrounding a centered diamond of buff charged with the state coat of arms.
      p “December 7, 1787” (the date Delaware became a state) is inscribed below the diamond in white.
      +survey(name, '52nd')
    .visual.flag
      +flag(name, path)

  .guide.wide
    .content
      h2 Iconography
      ul.visual.icon-list
        li.icon-item
          span.icon: img(src='/assets/images/flag-delaware-icon-diamond.svg', alt='diamond')
          h4 diamond
          p the Diamond State, small but valuable
          p #[em Note:] It was Thomas Jefferson who compared Delaware to a diamond.
        li.icon-item
          span.icon: img(src='/assets/images/flag-delaware-icon-husbandman.svg', alt='farmer with a hoe')
          h4 husbandman
          p farming, agriculture
        li.icon-item
          span.icon: img(src='/assets/images/flag-delaware-icon-rifleman.svg', alt='man in uniform with rifle')
          h4 rifleman
          p citizens’ role in protecting freedom
        li.icon-item
          span.icon: img(src='/assets/images/flag-delaware-icon-wheat.svg', alt='sheave of wheat')
          h4 wheat
          p agriculture
        li.icon-item
          span.icon: img(src='/assets/images/flag-delaware-icon-corn.svg', alt='corn in husk')
          h4 corn
          p agriculture
        li.icon-item
          span.icon: img(src='/assets/images/flag-delaware-icon-ox.svg', alt='ox')
          h4 ox
          p animal husbandry
        li.icon-item
          span.icon: img(src='/assets/images/flag-delaware-icon-river.svg', alt='wavy rectangle')
          h4 water
          p the Delaware River, transportation, commerce
        li.icon-item
          span.icon: img(src='/assets/images/flag-delaware-icon-ship.svg', alt='ship with many sails')
          h4 ship
          p shipbuilding, coastal trades

  .guide
    .content
      h2 Coat of Arms
      p The flag features the Delaware coat of arms, adopted in 1777.
      p On the lower banner, the state motto “Liberty and Independence” is inscribed, also heard in the state song, “Our Delaware.”
    .visual.flag
      +coat-of-arms(name, path)

  .guide
    .content
      h2 Colors
      p Colonial blue and buff are Delaware’s state colors.
      p The two colors were inspired by a military uniform George Washington once wore.
      p The Delaware Public Archives provides color values for the #[a(href='https://en.wikipedia.org/wiki/Munsell_color_system') Munsell] and Pantone 1995 color systems.
      hr
      small Values corresponding to imagery:
      small #[strong Colonial Blue]: field <br>
        | #[strong Buff]: diamond, rifleman’s binding, bag, and leggings <br>
        | #[strong Gray Brown]: farmer’s trousers <br>
        | #[strong Brown]: farmer’s hat and hoe, rifleman’s hat and gun stock, ship’s hull <br>
        | #[strong Red Brown]: cow <br>
        | #[strong Red]: farmer’s shirt <br>
        | #[strong Flesh]: face and hands <br>
        | #[strong Orange]: shield’s top panel <br>
        | #[strong Yellow 1]: shield’s frame, branches <br>
        | #[strong Yellow 2]: corn <br>
        | #[strong Yellow 3]: wheat <br>
        | #[strong Green 1]: rifleman’s suit <br>
        | #[strong Green 2]: grass and corn husk <br>
        | #[strong Blue]: shield’s center panel <br>
        | #[strong Blue 2]: emblem below ship <br>
        | #[strong Silver]: emblem below ship<br>
        | #[strong Gray]: rifleman’s flask, feather, and gun barrel <br>
        | #[strong White]: shield’s lower panel
    .visual
      .colors.primary
        .color
          .sample(class='arno')
          .name Colonial Blue
          .hex #669ca4
          .cable Cable No. 10663 #[span Arno Blue]
          .munsell Munsell 1.5B 6/4
          .pantone Pantone S238-6
        .color
          .sample(class='buff')
          .name Buff
          .hex #c7a97f
          .cable Cable No. 10781 #[span Golden Beige]
          .munsell Munsell 10YR /74
          .pantone Pantone S24-4
      .colors.secondary
        .color
          .sample(class='gray-brown')
          .name Gray Brown
          .hex #9b9379
          .munsell Munsell 5Y 6/2
          .pantone Pantone S42-7
        .color
          .sample(class='brown')
          .name Brown
          .hex #5a4143
          .munsell Munsell 2.5YR 3/2
          .pantone Pantone S317-1
        .color
          .sample(class='red-brown')
          .name Red Brown
          .hex #8e4f3e
          .munsell Munsell 10R 4/6
          .pantone Pantone S317-5
        .color
          .sample(class='red')
          .name Red
          .hex #b12f39
          .munsell Munsell 5R 4/12
          .pantone Pantone S89-1
        .color
          .sample(class='flesh')
          .name Flesh
          .hex #f1dfd8
          .munsell Munsell 10R 9/2
          .pantone Pantone S61-9
        .color
          .sample(class='orange')
          .name Orange
          .hex #f09b1e
          .munsell Munsell 7.5YR 7/12
          .pantone Pantone S36-2
        .color
          .sample(class='yellow-1')
          .name Yellow 1
          .hex #e6c737
          .munsell Munsell 5Y 8/10
          .pantone Pantone S5-3
        .color
          .sample(class='yellow-2')
          .name Yellow 2
          .hex #f7d400
          .munsell Munsell 5Y 8.5/12
          .pantone Pantone S5-4
        .color
          .sample(class='yellow-3')
          .name Yellow 3
          .hex #f8e38c
          .munsell Munsell 5Y 9/6
          .pantone Pantone S5-5
        .color
          .sample(class='green-1')
          .name Green 1
          .hex #586538
          .munsell Munsell 5GY 4/4
          .pantone Pantone S293-1
        .color
          .sample(class='green-2')
          .name Green 2
          .hex #6d8138
          .munsell Munsell 5GY 5/6
          .pantone Pantone S293-2
        .color
          .sample(class='blue')
          .name Blue
          .hex #629ab9
          .munsell Munsell 10B 6/6
          .pantone Pantone S235-6
        .color
          .sample(class='blue-2')
          .name Blue 2
          .hex #669ca4
          .munsell Munsell 2.5B 6/4
          .pantone Pantone S238-6
        .color
          .sample(class='silver')
          .name Silver
          .hex #c2c9cd
          .munsell Munsell 10B 8/1
          .pantone Pantone S235-9
        .color
          .sample(class='gray')
          .name Gray
          .hex #344b51
          .munsell Munsell 2.5B 3/2
          .pantone Pantone S327-3
        include includes/color-white-pantone

  .guide
    .content
      h2 Construction
      p Delaware statute doesn’t specify dimensions, but the flag is usually produced with a proportion of 2:3.
    .visual
      +construction(name, path)

  .guide.wide
    .content
      h2 Flags of the Native Peoples
      p Lalalala
    ul.visual.flag-list
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')

  +pagination('northern-mariana-islands', 'Northen Mariana Islands',
              'pennsylvania', 'Pennsylvania')

  .guide.wide.sources
    h3 Sources
    ul
      include includes/source-howe
      include includes/source-mitchell
      li.source Delaware Code. TITLE 29 State Government. Part I General Provisions. CHAPTER 3. STATE SEAL, SONG AND SYMBOLS. Section § 306 State flag.
      li.source Research Room Staff. Delaware Public Archives, personal communication, August 5, 2019.
      li.source: a(href='http://pteromys.melonisland.net/munsell/') Munsell Color Palette
      li.source: a(href='https://en.wikipedia.org/wiki/Flag_of_Delaware') Flag of Delaware - Wikipedia
