extends layout

block vars
  - var bodyClass = 'detail'
  - var category = 'state'
  - var name = 'Florida'
  - var path = 'florida'

block tweet
  a.tweet(href="https://ctt.ec/DidfP") Share on Twitter

block content

  +state(name, path, 'The Sunshine State', 'March 3, 1845', 'border')

  .intro
    p Florida has flown many flags. Besides its handful of state flags, it’s seen the flags of Spain, France, Britain, the Confederacy, and the United States.
    p An early version of the flag featured the state seal on a field of white. The red saltire was introduced in the 1890’s and approved in 1900. Florida Governor Francis P. Fleming suggested that without it, the flag too closely resembled one of surrender.
    p Because the saltire was adopted amidst the rise of Jim Crow laws, many historians believe it is a reference to the Confederate battle flag.
    p When the seal was changed and standardized in 1985, the flag also followed suit and this new version was officially adopted May 21, 1985.

  .guide
    .content
      h2 Flag design
      p The Florida state flag features a field of white charged with a red saltire.
      p At the center, the state seal is placed.
      +survey(name, '34th')
    .visual.flag
      +flag(name, path, 'border')

  .guide.wide
    .content
      h2 Iconography
      ul.visual.icon-list
        li.icon-item
          span.icon: img(src='/assets/images/flag-florida-icon-saltire.svg', alt='x-shape')
          h4 saltire
          p the martyrdom of St. Andrew, crucified on an X-shaped cross
          p #[em Note:] As mentioned earlier, many historians believe it is a reference to the Confederate battle flag.
        li.icon-item
          span.icon: img(src='/assets/images/flag-florida-icon-seminole-woman.svg', alt='Seminole woman with flowers')
          h4 Seminole woman
          p the Seminole people of Florida
        li.icon-item
          span.icon: img(src='/assets/images/flag-florida-icon-palmetto.svg', alt='palmetto tree')
          h4 sabal palmetto
          p state tree, regional flora
        li.icon-item
          span.icon: img(src='/assets/images/flag-florida-icon-ship.svg', alt='ship with sails')
          h4 ship
          p coastal travel and commerce

  .guide
    .content
      h2 Coat of Arms
      p The seal of Florida was established in 1868. It was similar to today’s version, but in 1985 some revisions took place.
      p The cocoa tree was changed to the palmetto, the Native American woman’s headress was removed to reflect Seminole history more accurately, and the mountains were removed to better show the flat land of Florida.
    .visual.flag
      +coat-of-arms(name, path)

  .guide
    .content
      h2 Colors
      p The Florida flag prominently features white and red, with supporting colors within the seal.
      hr
      small Florida statute does not provide Cable or Pantone values for the colors of the flag.
      small The hex values here are approximations.
    .visual
      .colors.primary
        include includes/color-white
        .color
          .sample(class='red')
          .name Red
          .hex #a80534
      .colors.secondary
        .color
          .sample(class='gold')
          .name Gold
          .hex #ffb900
        .color
          .sample(class='green')
          .name Green
          .hex #015941
        .color
          .sample(class='brown')
          .name Brown
          .hex #7d4802
        .color
          .sample(class='tan')
          .name Tan
          .hex #cf7419
        .color
          .sample(class='blue')
          .name Blue
          .hex #cf7419

  .guide
    .content
      h2 Construction
      p Florida statute doesn’t specify a proportion for the flag beyond conforming to “standard commercial sizes.” It is usually produced with a proportion of 2:3.
      p It is required that the seal be 1/2 the width of the hoist and the red bars be 1/5 the hoist.
    .visual
      +construction(name, path)

  .guide.wide.timeline
    .content
      h2 Previous iterations
      ul.visual.flag-list
        li.flag-item
          span.flag: img.border(src='/assets/images/flag-florida-1845.svg', alt='Florida flag from 1845')
          h4 1845
          p Although never officially adopted, the Moseley flag flew at Governor William D. Moseley’s inauguration in 1845.
        li.flag-item
          span.flag: img.border(src='/assets/images/flag-florida-1861-1865.svg', alt='Florida flag from 1861')
          h4 1861-1865
          p Adopted by Governor Madison S. Perry when Florida seceded from the Union in 1861.
        li.flag-item
          span.flag: img.border(src='/assets/images/flag-florida-1868-1900.jpg', alt='Florida flag from 1868')
          h4 1868–1900
          p Adopted during the Reconstruction at the same time as the Florida state seal.
        li.flag-item
          span.flag: img.border(src='/assets/images/flag-florida-1900-1985.jpg', alt='Florida flag from 1900')
          h4 1900–1985
          p The red saltire is added by Governor Francis P. Fleming.
        li.flag-item
          span.flag: img.border(src='/assets/images/flag-florida.svg', alt='current Florida flag')
          h4 1985–Present
          p The seal and flag undergo revisions. The current flag of Florida.

  .guide.wide
    .content
      h2 Flags of the Native Peoples
      p Lalalala
    ul.visual.flag-list
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')

  .guide.wide
    .content
      h2 Similar Flags
      p Lalalala
    ul.visual.flag-list
      +flag-item('Alabama', 'alabama', '/assets/images/flag-alabama.svg', 'border')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')

  +pagination('michigan', 'Michigan',
              'texas', 'Texas')

  .guide.wide.sources
    h3 Sources
    ul
      include includes/source-howe
      include includes/source-mitchell
      li.source 2018 Florida Statutes. Chapter 15 Secretary of State. § 15.012 State flag.
      li.source: a(href='https://dos.myflorida.com/florida-facts/florida-state-symbols/state-flag/floridas-historic-flags/state-flags/') Florida Department of State
      li.source: a(href='https://www.britannica.com/topic/flag-of-Florida') Encyclopedia Britannica
      li.source: a(href='https://en.wikipedia.org/wiki/Flag_of_Florida') Flag of Florida - Wikipedia
