extends layout

block vars
  - var bodyClass = 'detail'
  - var category = 'state'
  - var name = 'Georgia'
  - var path = 'georgia'

block content

  +state(name, path, 'The Peach State', 'January 2, 1788', 'border')

  .intro
    p Georgia holds a few flag records. Not only has it had the most flags (eight different iterations), its current flag is the most recently adopted of the entire nation’s.
    p The flag has created controversy for the state. The 1956 version featured the Confederate battle flag, adopted soon after Brown v. Board of Education ruled segregation unconstitutional.
    p The current flag, based on the first Confederate national flag (“Stars and Bars”) was officially adopted May 8, 2003.
    p The people of Georgia voted to keep this version of the flag in a referendum on March 2, 2004.

  .guide
    .content
      h2 Flag design
      p The Georgia flag is a horizontal triband of red and white.
      p It features a square canton of blue charged with the state’s coat of arms in gold, surrounded by a ring of thirteen white five-pointed stars.
      p Below the coat of arms, the words “In God We Trust” are inscribed.
      +survey(name, '72nd*', '*The flag voted on was the 2001–2003 version (see Previous Iterations section).')
    .visual.flag
      +flag(name, path, 'border')

  .guide.wide
    .content
      h2 Iconography
      ul.visual.icon-list
        li.icon-item
          span.icon: img(src='/assets/images/flag-georgia-icon-stars.svg', alt='ring of stars')
          h4 13 stars
          p the original thirteen colonies
        li.icon-item
          span.icon: img(src='/assets/images/flag-georgia-icon-pillars.svg', alt='three Greek-style columns')
          h4 pillars
          p three branches of government: executive, legislative, and judicial
        li.icon-item
          span.icon: img(src='/assets/images/flag-georgia-icon-militia.svg', alt='Colonial soldier holding a sword')
          h4 militia
          p protecting the Constitution
        li.icon-item
          span.icon: img(src='/assets/images/flag-georgia-icon-motto.svg', alt='“Widom, Justice, Moderatino” on a banner')
          h4 motto
          p wisdom, justice, moderation
        li.icon-item
          span.icon: img(src='/assets/images/flag-georgia-icon-in-god-we-trust.svg', alt='In God we trust')
          h4 motto
          p a foundation for all above it

  .guide
    .content
      h2 Coat of Arms
      p The original coat of arms featured the date 1799 (as seen to the right). In 1914, the date was changed to 1776 to reference the signing of the Declaration of Independence.
    .visual.flag
      +coat-of-arms(name, path)

  .guide
    .content
      h2 Colors
      p The Georgia flag uses the same red, white, and blue as the U.S. national flag.
      hr
      small Georgia statute does not provide Cable or Pantone values for the gold of the flag.
      small The hex value here is an approximation.
    .visual.colors.primary
      include includes/color-us-blue
      include includes/color-us-red
      include includes/color-us-white
      .color
        .sample(class='gold')
        .name Gold
        .hex #eed000

  .guide
    .content
      h2 Construction
      p The Georgia flag can be produced with different proportions including 2:3, 3:5, or 5:8.
    .visual
      +construction(name, path)

  .guide.wide.timeline
    .content
      h2 Previous iterations
      ul.visual.flag-list
        li.flag-item
          span.flag: img(src='/assets/images/flag-georgia-unofficial.jpg', alt='a field of blue charged with the coat of arms in gold')
          h4 Pre–1879
          p The flag supplied to militia units bearing the coat of arms.
        li.flag-item
          span.flag: img.border(src='/assets/images/flag-georgia-1879-1902.jpg', alt='a horizontal triband of red and white and a hoist-side vertical stripe of blue')
          h4 1879–1902
          p Introduced by Herman H. Perry, Georgia state senator. Based on the first Confederate national flag.
        li.flag-item
          span.flag: img.border(src='/assets/images/flag-georgia-1902-1906.jpg', alt='')
          h4 1902–1906
          p Upon the blue field, the coat of arms must be “stamped, painted or embroidered.”
        li.flag-item
          span.flag: img.border(src='/assets/images/flag-georgia-1906-1920.jpg', alt='')
          h4 1906–1920
          p A white shield is added along with a red banner with the word “Georgia.”
        li.flag-item
          span.flag: img.border(src='/assets/images/flag-georgia-1920-1956.jpg', alt='')
          h4 1920–1956
          p The coat of arms is replaced with the state seal in white and blue.
        li.flag-item
          span.flag: img(src='/assets/images/flag-georgia-1956-2001.jpg', alt='')
          h4 1956–2001
          p Designed by John Sammons Bell, the red and white bars are replaced with the Confederate battle flag.
        li.flag-item
          span.flag: img(src='/assets/images/flag-georgia-2001-2003.jpg', alt='a field of blue charged with the state seal and a banner containing five different flags (previous Georgia flags and U.S. national flags)')
          h4 2001–2003
          p Designed by architect Cecil Alexander and championed by Governor Roy Barnes, a very unpopular “compromise” version.
        li.flag-item
          span.flag: img.border(src='/assets/images/flag-georgia.svg', alt='current Georgia flag')
          h4 2003–Present
          p The current Georgia state flag.

  +pagination('new-jersey', 'New Jersey',
              'connecticut', 'Connecticut')

  .guide.wide.sources
    h3 Sources
    ul
      include includes/source-howe
      li.source Georgia Code. TITLE 50 - STATE GOVERNMENT. CHAPTER 3 - STATE FLAG, SEAL, AND OTHER SYMBOLS. ARTICLE 1 - STATE AND OTHER FLAGS § 50-3-1a - Description of state flag.
      li.source: a(href='https://www.georgiaencyclopedia.org/articles/government-politics/state-flags-georgia') Georgia Encyclopedia
      li.source: a(href='https://sos.ga.gov/index.php/general/download_print_and_press_materials2') Georgia Secretary of State
      li.source: a(href='https://www.ajc.com/news/local/history-georgia-state-flag-things-know/rQ0DK2QtuSP13EStbLC5iK/') AJC
      li.source: a(href='https://www.ledger-enquirer.com/news/local/article29462581.html') Ledger-Enquirer
      li.source: a(href='https://en.wikipedia.org/wiki/Flag_of_Georgia_(U.S._state)') Flag of Georgia - Wikipedia
