extends layout

block vars
  - var pageDescription = 'Design guide for the state flag of Illinois.'
  - var bodyClass = 'detail illinois'

block tweet
  a.tweet(href="https://ctt.ec/DidfP") Share on Twitter

block title
  | Illinois - 

block content

  +state('Illinois', '/assets/images/flag-illinois.svg', 'The Prairie State', 'December 3, 1818', 'border')

  .intro
    p The original Illinois flag was adopted in 1915, designed by Lucy Derwent and submitted to a design contest held by the Daughters of the American Revolution.
    p The flag featured elements from the state seal, but was not widely recognized. So Chief Petty Officer Bruce McDaniel of Waverly petitioned to have “Illinois” added to the flag.
    p Redesigned by Sanford Hutchinson of Greenfield, the new flag replicated the state seal and added the state name below.
    p This version was officially adopted July 1, 1970.

  .guide
    .content
      h2 Flag design
      p The Illinois state flag features a field of white with the state seal placed at the center. Below the seal, the word “Illinois” is inscribed in blue.
    .visual.flag
      img.border(src='/assets/images/flag-illinois.svg')

  .guide.wide
    .content
      h2 Iconography
      ul.visual.icon-list
        li.icon-item
          span.icon: img(src='/assets/images/flag-illinois-icon-eagle.svg')
          h4 Eagle
          p The eagle, shield, and olive branch are borrowed from the Great Seal of the United States, representing liberty through strength and peace.
        li.icon-item
          span.icon: img(src='/assets/images/flag-illinois-icon-sun.svg')
          h4 Sun & River
          p The sun rises above the Illinois River, from which the state gets its name.
        li.icon-item
          span.icon: img(src='/assets/images/flag-illinois-icon-motto.svg')
          h4 Motto
          p After the Civil War, Illinois Secretary of State Sharon Tyndale tried to change the motto to put “National Union” before “State Sovereignty.” Unable to do so, he flipped “Sovereignty” upside down to make it less readable.
        li.icon-item
          span.icon: img(src='/assets/images/flag-illinois-icon-dates.svg')
          h4 1868 & 1818
          p Two dates are inscribed: 1818, the year Illinois gained statehood and 1868, the year Illinois’ state seal was officially adopted.

  .guide
    .content
      h2 Coat of Arms
      p The Illinois coat of arms reflects the design of the state seal.
      p Two seals preceded the current one, with 1819 and 1839 versions very closely resembling the Great Seal of the United States.
      p In 1867, despite not gaining approval to change the state motto, Tyndale began his redesign of the state seal resulting in the version we know today.
    .visual.flag
      img(src='/assets/images/coat-of-arms-illinois.jpg')

  .guide
    .content
      h2 Colors
      p The flag features red, white, and blue of the U.S. flag and supporting colors determined by the state seal.
    .visual
      .colors.primary
        .color
          .sample(class='white')
          .name White
          .hex #ffffff
        .color
          .sample(class='us-blue')
          .name Blue
          .hex #00205b
          small PMS 281
        .color
          .sample(class='us-red')
          .name Red
          .hex #bg0a30
          small PMS 193
      .colors.secondary
        .color
          .sample(class='brown')
          .name Brown
          .hex #785a3c
        .color
          .sample(class='tan')
          .name Tan
          .hex #d2b78c
        .color
          .sample(class='yellow')
          .name Yellow
          .hex #ffe60f
        .color
          .sample(class='gold')
          .name Gold
          .hex #ffb316
        .color
          .sample(class='green')
          .name Green
          .hex #3f863f
        .color
          .sample(class='light-blue')
          .name Light blue
          .hex #64b4ff

  .guide
    .content
      h2 Production
      p The flag should have a proportion of 3:5. So if the flag has a hoist of 3 feet, its fly should be 5 feet.
      p If resized, it must maintain these proportions.
    .visual
      img(src='/assets/images/flag-illinois-dimensions.svg')

  .guide
    .content
      h2 Previous iteration
      p The Lucy Derwent version of the flag was used from 1915-1969 and featured selected imagery from the state seal.
    .visual.flag
      img.border(src='/assets/images/flag-illinois-1915-1969.svg')

  .guide.wide
    .content
      h2 Flags of the Native Peoples
      p Lalalala
    ul.visual.flag-list
      +flag('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag('Delaware', 'delaware', '/assets/images/flag-arizona.png')

  .guide.wide
    .content
      h2 Similar Flags
      p Lalalala
    ul.visual.flag-list
      +flag('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag('Delaware', 'delaware', '/assets/images/flag-arizona.png')

  .guide.wide.sources
    h3 Sources
    ul
      li.source Howe, Randy. Flags of the Fifty States: Their Colorful Histories and Significance. Guilford: The Globe Pequot Press, 2002. Print.
      li.source Mitchell, Henry. The State Arms of the Union. Boston: L. Prang & Co, 1876.
      li.source Office of the Illinois Secretary of State (2007-03-31). Illinois Handbook of Government: 2007-2008.
      li.source: a(href='https://www2.illinois.gov/Pages/about/StateSeal.aspx') The State of Illinois
      li.source: a(href='https://en.wikipedia.org/wiki/Great_Seal_of_the_United_States') Wikipedia
      li.source: a(href='https://en.wikipedia.org/wiki/Flag_and_seal_of_Illinois') Wikipedia
