extends layout

block vars
  - var bodyClass = 'detail'
  - var category = 'state'
  - var name = 'Illinois'
  - var path = 'illinois'

block content

  +state(name, path, 'The Prairie State', 'December 3, 1818', 'border')

  .intro
    p The original Illinois flag was adopted in 1915, designed by Lucy Derwent and submitted to a design contest held by the Daughters of the American Revolution.
    p The flag featured elements from the state seal, but was not widely recognized. So Chief Petty Officer Bruce McDaniel of Waverly petitioned to have “Illinois” added to the flag.
    p Redesigned by Sanford Hutchinson of Greenfield, the new flag replicated the state seal and added the state name below.
    p This version was officially adopted July, 1970.

  .guide
    .content
      h2 Flag design
      p The Illinois flag features a field of white charged with the state seal, centered.
      p Below the seal, the word “Illinois” is inscribed in blue.
      +survey(name, '49th')
    .visual.flag
      +flag(name, path, 'border')

  .guide.wide
    .content
      h2 Iconography
      ul.visual.icon-list
        li.icon-item
          span.icon: img(src='/assets/images/flag-illinois-icon-eagle.svg', alt='eagle')
          h4 eagle
          p liberty through strength and peace
        li.icon-item
          span.icon: img(src='/assets/images/flag-illinois-icon-sun.svg', alt='water and a sun with radiating beams')
          h4 sun & river
          p the Illinois River, natural beauty
        li.icon-item
          span.icon: img(src='/assets/images/flag-illinois-icon-motto.svg', alt='words on a vertical banner')
          h4 motto
          p state sovereignty, federalism
          p #[em Note:] After the Civil War, Illinois Secretary of State Sharon Tyndale tried to change the motto to put “National Union” before “State Sovereignty.” Unable to do so, he flipped “Sovereignty” upside down to make it less readable.
        li.icon-item
          span.icon: img(src='/assets/images/flag-illinois-icon-dates.svg', alt='1868, 1818')
          h4 1868 & 1818
          p the year Illinois gained statehood (1818), the year Illinois’ state seal was officially adopted (1868)

  .guide
    .content
      h2 Coat of Arms
      p The Illinois coat of arms reflects the design of the state seal.
      p Two seals preceded the current one, with 1819 and 1839 versions very closely resembling the Great Seal of the United States.
      p In 1867, despite not gaining approval to change the state motto, Tyndale began his redesign of the state seal resulting in the version we know today.
    .visual.flag
      +coat-of-arms(name, path)

  .guide
    .content
      h2 Colors
      p The Illinois flag uses the same red, white, and blue as the U.S. national flag.
      p Illinois Executive Order 1970-2 outlines official color values for the flag, as specified here.
      hr
      small The hex values here are approximations.
      small Values corresponding to imagery:
      small #[strong Blue]: shield’s chief, water, “Illinois” <br>
        | #[strong Red]: banner, shield’s stripes, eagle’s tongue <br>
        | #[strong Gray]: rock <br>
        | #[strong Black]: banner lettering, dates, eagle’s claws, outlines <br>
        | #[strong Brown]: eagle <br>
        | #[strong Yellow]: outer edge of shield, sun’s rays <br>
        | #[strong Orange]: sun, eagle’s beak and talons <br>
        | #[strong Green]: grass, laurel <br>
    .visual
      .colors.primary
        include includes/color-us-white
        include includes/color-us-blue
        include includes/color-us-red
      .colors.secondary
        .color
          .sample(class='gray')
          .name Gray
          .hex #d2b78c
          .cable Cable No. 70152 #[span Nickel Gray]
        .color
          .sample(class='black')
          .name Black
          .hex #000000
          .cable Cable No. 70090 #[span Midnight Black]
        .color
          .sample(class='brown')
          .name Brown
          .hex #785a3c
          .cable Cable No. 70119 #[span Brown]
        .color
          .sample(class='yellow')
          .name Yellow
          .hex #ffe60f
          .cable Cable No. 70068 #[span Spanish Yellow]
        .color
          .sample(class='orange')
          .name Orange
          .hex #ffb316
          .cable Cable No. 70069 #[span Orange]
        .color
          .sample(class='green')
          .name Green
          .hex #3f863f
          .cable Cable No. 70064 #[span Hunter Green]

  .guide
    .content
      h2 Construction
      p Illinois law does not specify dimensions for the flag, but it is often produced with a 3:5 proportion.
      p Per Executive Order 1970-2, the emblem plus the word “Illinois” should be 80% the width of the hoist.
      p The diameter of the emblem is not specified, but proportionally, the word “Illinois” should be 1/12 the emblem’s diameter.
      p The typeface for “Illinois” should be Craw Clarendon Modern or a similar serif.
    .visual
      +construction(name, path)

  .guide
    .content
      h2 Previous iteration
      p The Lucy Derwent version of the flag was used from 1915-1969 and featured selected imagery from the state seal.
    .visual.flag
      img.border(src='/assets/images/flag-illinois-1915-1969.svg', alt='a field of white with the eagle from the state seal charged at center')

  +pagination('mississippi', 'Mississippi',
              'alabama', 'Alabama')

  .guide.wide.sources
    h3 Sources
    ul
      include includes/source-howe
      include includes/source-mitchell
      li.source State of Illinois Executive Order 1970-2, May 12, 1970.
      li.source: a(href='http://www.wildwoodworldmagnet.org/ourpages/auto/2014/11/5/48477851/IL%20Handbook%20of%20Government.pdf') Illinois Handbook of Government: 2007-2008.
      li.source: a(href='https://www2.illinois.gov/Pages/about/StateSeal.aspx') The State of Illinois
      li.source: a(href='https://en.wikipedia.org/wiki/Great_Seal_of_the_United_States') Great Seal of the United States - Wikipedia
      li.source: a(href='https://en.wikipedia.org/wiki/Flag_and_seal_of_Illinois') Flag and Seal of Illinois - Wikipedia
