extends layout

block vars
  - var pageDescription = ''
  - var bodyClass = 'home'

block tweet
  a.tweet(href="https://ctt.ec/DidfP") Share on Twitter

block content

  header
    .flex
      h1 US Flags
      .flag
        img(src='/assets/images/flag-arizona.png')
    .meta
      .description A design guide for the flags of the United States

  ul.flag-list
    +flag('Delaware', 'delaware', '/assets/images/flag-delaware.svg')
    +flag('Pennsylvania', 'pennsylvania', '/assets/images/flag-pennsylvania.svg')
    +flag('New Jersey', 'new-jersey', '/assets/images/flag-new-jersey.svg')
    +flag('Georgia', 'georgia', '/assets/images/flag-georgia.svg')
    +flag('Arizona', 'arizona', '/assets/images/flag-arizona.svg')
    +flag('Arizona', 'arizona', '/assets/images/flag-arizona.svg')
