extends layout

block vars
  - var pageDescription = ''
  - var bodyClass = 'home'

block tweet
  a.tweet(href="https://ctt.ec/DidfP") Share on Twitter

block content

  header
    .flex
      h1 US Flags
      .flag
        img.border(src='/assets/images/flag-usa.svg')
    .meta
      .description A design guide for the flags of the United States

  ul.flag-list
    +flag-item('Delaware', 'delaware', 'delaware.svg')
    +flag-item('Pennsylvania', 'pennsylvania', 'pennsylvania.svg')
    +flag-item('New Jersey', 'new-jersey', 'new-jersey.svg')
    +flag-item('Georgia', 'georgia', 'georgia.svg', 'border')
    +flag-item('Connectict', 'connecticut', 'connecticut-thumb.svg')
    +flag-item('Massachusetts', 'massachusetts', 'massachusetts-thumb.svg', 'border')
    +flag-item('Maryland', 'maryland', 'maryland.svg', 'border')
    +flag-item('South Carolina', 'south-carolina', 'south-carolina.svg')
    +flag-item('New Hampshire', 'new-hampshire', 'new-hampshire.svg')
    +flag-item('Virginia', 'virginia', 'virginia-thumb.svg')
    +flag-item('New York', 'new-york', 'new-york-thumb.svg')
    +flag-item('North Carolina', 'north-carolina', 'north-carolina.svg', 'border')
    +flag-item('Rhode Island', 'rhode-island', 'rhode-island-thumb.svg', 'border')
    +flag-item('Vermont', 'vermont', 'vermont-thumb.jpg')
    +flag-item('Kentucky', 'kentucky', 'kentucky-thumb.svg')
    +flag-item('Tennessee', 'tennessee', 'tennessee-thumb.svg')
    +flag-item('Ohio', 'ohio', 'ohio.svg', 'non-rect')
    +flag-item('Louisiana', 'louisiana', 'louisiana-thumb.svg')
    +flag-item('Indiana', 'indiana', 'indiana.svg')
    +flag-item('Mississippi', 'mississippi', 'mississippi.svg', 'border')
    +flag-item('Illinois', 'illinois', 'illinois-thumb.svg', 'border')
    +flag-item('Alabama', 'alabama', 'alabama.svg', 'border')
    +flag-item('Maine', 'maine', 'maine-thumb.svg')
    +flag-item('Missouri', 'missouri', 'missouri-thumb.svg', 'border')
    +flag-item('Arkansas', 'arkansas', 'arkansas.svg')
    +flag-item('Michigan', 'michigan', 'michigan.svg')
    +flag-item('Florida', 'florida', 'florida.svg', 'border')
    +flag-item('Texas', 'texas', 'texas.svg', 'border')
    +flag-item('Iowa', 'iowa', 'iowa.svg', 'border')
    +flag-item('Wisconsin', 'wisconsin', 'wisconsin.svg')
    +flag-item('California', 'california', 'california.svg', 'border')
    +flag-item('Minnesota', 'minnesota', 'minnesota-thumb.svg')
    +flag-item('Oregon', 'oregon', 'oregon-thumb.svg')
    +flag-item('Kansas', 'kansas', 'kansas-thumb.svg')
    +flag-item('West Virginia', 'west-virginia', 'west-virginia-thumb.svg')
    +flag-item('Nevada', 'nevada', 'nevada.svg')
    +flag-item('Nebraska', 'nebraska', 'nebraska-thumb.svg')
    +flag-item('Colorado', 'colorado', 'colorado.svg', 'border')
    +flag-item('North Dakota', 'north-dakota', 'north-dakota-thumb.svg')
    +flag-item('South Dakota', 'south-dakota', 'south-dakota-thumb.svg')
    +flag-item('Montana', 'montana', 'montana.svg')
    +flag-item('Washington', 'washington', 'washington.svg')
    +flag-item('Idaho', 'idaho', 'idaho-thumb.svg')
    +flag-item('Wyoming', 'wyoming', 'wyoming-thumb.svg')
    +flag-item('Utah', 'Utah', 'utah-thumb.svg')
    +flag-item('Oklahoma', 'oklahoma', 'oklahoma.svg')
    +flag-item('New Mexico', 'new-mexico', 'new-mexico.svg')
    +flag-item('Arizona', 'arizona', 'arizona.svg')
    +flag-item('Alaska', 'alaska', 'alaska-thumb.svg')
    +flag-item('Hawaii', 'hawaii', 'hawaii-thumb.svg', 'border')
    +flag-item('Washington D.C.', 'washington-dc', 'washington-dc-thumb.svg', 'border')
    +flag-item('Guam', 'guam', 'guam-thumb.svg')
    +flag-item('Puerto Rico', 'puerto-rico', 'puerto-rico.svg', 'border')
    +flag-item('American Samoa', 'american-samoa', 'american-samoa-thumb.svg', 'border')
    +flag-item('U.S. Virgin Islands', 'us-virgin-islands', 'usvi.svg', 'border')
    +flag-item('Northern Mariana Islands', 'northern-mariana-islands', 'nmi-thumb.svg')
