extends layout

block vars
  - var pageDescription = ''
  - var bodyClass = 'home'

block tweet
  a.tweet(href="https://ctt.ec/DidfP") Share on Twitter

block content

  header
    .flex
      h1 US Flags
      .flag
        img(src='/assets/images/flag-arizona.svg')
    .meta
      .description A design guide for the flags of the United States

  ul.flag-list
    +flag('Delaware', 'delaware', '/assets/images/flag-delaware.svg')
    +flag('Pennsylvania', 'pennsylvania', '/assets/images/flag-pennsylvania.svg')
    +flag('New Jersey', 'new-jersey', '/assets/images/flag-new-jersey.svg')
    +flag('Georgia', 'georgia', '/assets/images/flag-georgia.svg', 'border')
    +flag('Connectict', 'connecticut', '/assets/images/flag-connecticut-thumb.svg')
    +flag('Massachusetts', 'massachusetts', '/assets/images/flag-massachusetts-thumb.svg', 'border')
    +flag('Maryland', 'maryland', '/assets/images/flag-maryland.svg')
    +flag('South Carolina', 'south-carolina', '/assets/images/flag-south-carolina.svg')
    +flag('New Hampshire', 'new-hampshire', '/assets/images/flag-new-hampshire.svg')
    +flag('Virginia', 'virginia', '/assets/images/flag-virginia-thumb.svg')
    +flag('New York', 'new-york', '/assets/images/flag-new-york-thumb.svg')
    +flag('North Carolina', 'north-carolina', '/assets/images/flag-north-carolina.svg', 'border')
    +flag('Rhode Island', 'rhode-island', '/assets/images/flag-rhode-island-thumb.svg', 'border')
    +flag('Vermont', 'vermont', '/assets/images/flag-vermont-thumb.jpg')
    +flag('Kentucky', 'kentucky', '/assets/images/flag-kentucky-thumb.svg')
    +flag('Tennessee', 'tennessee', '/assets/images/flag-tennessee-thumb.svg')
    +flag('Ohio', 'ohio', '/assets/images/flag-ohio.svg')
    +flag('Louisiana', 'louisiana', '/assets/images/flag-louisiana-thumb.svg')
    +flag('Indiana', 'indiana', '/assets/images/flag-indiana.svg')
    +flag('Mississippi', 'mississippi', '/assets/images/flag-mississippi.svg', 'border')
    +flag('Illinois', 'illinois', '/assets/images/flag-illinois-thumb.svg', 'border')
    +flag('Alabama', 'alabama', '/assets/images/flag-alabama.svg', 'border')
    +flag('Maine', 'maine', '/assets/images/flag-maine-thumb.svg')
    +flag('Missouri', 'missouri', '/assets/images/flag-missouri-thumb.svg', 'border')
    +flag('Arkansas', 'arkansas', '/assets/images/flag-arkansas.svg')
    +flag('Michigan', 'michigan', '/assets/images/flag-michigan.svg')
    +flag('Florida', 'florida', '/assets/images/flag-florida.svg', 'border')
    +flag('Texas', 'texas', '/assets/images/flag-texas.svg', 'border')
    +flag('Iowa', 'iowa', '/assets/images/flag-iowa.svg', 'border')
    +flag('Wisconsin', 'wisconsin', '/assets/images/flag-wisconsin.svg')
    +flag('California', 'california', '/assets/images/flag-california.svg', 'border')
    +flag('Minnesota', 'minnesota', '/assets/images/flag-minnesota-thumb.svg')
    +flag('Arizona', 'arizona', '/assets/images/flag-arizona.svg')
    +flag('Arizona', 'arizona', '/assets/images/flag-arizona.svg')
    +flag('Arizona', 'arizona', '/assets/images/flag-arizona.svg')
    +flag('Arizona', 'arizona', '/assets/images/flag-arizona.svg')
    +flag('Arizona', 'arizona', '/assets/images/flag-arizona.svg')
    +flag('Arizona', 'arizona', '/assets/images/flag-arizona.svg')
    +flag('Arizona', 'arizona', '/assets/images/flag-arizona.svg')
    +flag('Arizona', 'arizona', '/assets/images/flag-arizona.svg')
    +flag('Arizona', 'arizona', '/assets/images/flag-arizona.svg')
    +flag('Arizona', 'arizona', '/assets/images/flag-arizona.svg')
    +flag('Arizona', 'arizona', '/assets/images/flag-arizona.svg')
    +flag('Arizona', 'arizona', '/assets/images/flag-arizona.svg')
    +flag('Arizona', 'arizona', '/assets/images/flag-arizona.svg')
    +flag('Arizona', 'arizona', '/assets/images/flag-arizona.svg')
    +flag('Arizona', 'arizona', '/assets/images/flag-arizona.svg')
    +flag('New Mexico', 'new-mexico', '/assets/images/flag-new-mexico.svg')
    +flag('Arizona', 'arizona', '/assets/images/flag-arizona.svg')
    +flag('Alaska', 'alaska', '/assets/images/flag-alaska-thumb.svg')
    +flag('Hawaii', 'hawaii', '/assets/images/flag-hawaii-thumb.svg', 'border')
