extends layout

block vars
  - var pageDescription = 'Design guide for the state flag of Indiana.'
  - var bodyClass = 'detail indiana'

block tweet
  a.tweet(href="https://ctt.ec/DidfP") Share on Twitter

block title
  | Indiana - 

block content

  +state('Indiana', '/assets/images/flag-indiana.svg', 'The Hoosier State', 'December 11, 1816')

  .intro
    p For Indiana’s centennial in 1916, the Indiana Daughters of the American Revolution organized a contest to design the state flag.
    p The winning design, featuring a glowing torch, was submitted by Paul Hadley, a Mooresville artist. It was modified slightly with the addition of the word “Indiana.”
    p The flag was officially adopted May 31, 1917.

  .guide
    .content
      h2 Flag design
      p The Indiana flag features a field of blue with a centered torch of gold or buff.
      p Lines radiate from the torch, surrounded by nineteen five-pointed stars. An outer ring contains thirteen stars, an inner ring has five stars, and one larger star is placed above the torch.
      p The word ”Indiana” is inscribed in half circle above the center star.
      +survey('Indiana', '32nd')
    .visual.flag
      img(src='/assets/images/flag-indiana.svg')

  .guide.wide
    .content
      h2 Iconography
      ul.visual.icon-list
        li.icon-item
          span.icon: img(src='/assets/images/flag-indiana-icon-torch.svg')
          h4 torch
          p liberty and enlightment with far-reaching influence
        li.icon-item
          span.icon: img(src='/assets/images/flag-indiana-icon-stars.svg')
          h4 19 stars
          p the original thirteen colonies, the next five states (Vermont, Kentucky, Tennessee, Ohio, Louisiana), and Indiana as the nineteenth state
        li.icon-item

  .guide
    .content
      h2 Colors
      p Indiana statute specifies a field of dark blue. The torch and stars can be gold or buff in color.
      p Because statute doesn’t provide specific values, the Indiana Historical Bureau provides unofficial Pantone and hex values for the blue and gold.
    .visual.colors.primary
      .color
        .sample(class='blue')
        .name Blue
        .hex #000f5d
        .pantone PMS 072 C
      .color
        .sample(class='gold')
        .name Gold
        .hex #d59f0f
        .pantone PMS 109C

  .guide
    .content
      h2 Construction
      p Indiana statute allows for two different proportions for the state flag. It can be sized with a 2:3 or 3:5.
    .visual
      img(src='/assets/images/flag-indiana-dimensions.svg')

  .guide.wide
    .content
      h2 Flags of the Native Peoples
      p Lalalala
    ul.visual.flag-list
      +flag('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag('Delaware', 'delaware', '/assets/images/flag-arizona.png')

  .guide.wide
    .content
      h2 Similar Flags
      p Lalalala
    ul.visual.flag-list
      +flag('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag('Delaware', 'delaware', '/assets/images/flag-arizona.png')

  +pagination('louisiana', 'Louisiana',
              'mississippi', 'Mississippi')

  .guide.wide.sources
    h3 Sources
    ul
      include includes/source-howe
      li.source 2017 Indiana Code. Chapter 2. State Flag 1-2-2-1. Design and dimensions.
      li.source: a(href='https://www.in.gov/history/2797.htm') Indiana Historical Bureau
      li.source: a(href='https://www.in.gov/gov/2376.htm') The State of Indiana
      li.source: a(href='https://en.wikipedia.org/wiki/Flag_of_Indiana') Flag of Indiana - Wikipedia
