extends layout

block vars
  - var bodyClass = 'detail'
  - var category = 'state'
  - var name = 'Iowa'
  - var path = 'iowa'

block tweet
  a.tweet(href="https://ctt.ec/DidfP") Share

block content

  +state(name, path, 'The Hawkeye State', 'December 28, 1846', 'border')

  .intro
    p Like a handful of other states, Iowa owes its flag to the Daughters of the American Revolution. State Regent and Knoxville resident Dixie Cornell Gebhardt designed the Iowa flag in 1917.
    p Gebhardt wrote that the flag should represent all of Iowa history from “its occupation by the Indians” through statehood and to the present. She hoped it could maintain “a design so simple that school children and adults can recognize its symbolism.”
    p This Iowa flag was officially adopted March 29, 1921.

  .guide
    .content
      h2 Flag design
      p The Iowa flag is an unequal vertical tricolor of blue, white, and red.
      p Within the white stripe, the widest of the three, an eagle is charged with blue streamers in its beak upon which the words “Our Liberties We Prize and Our Rights We Will Maintain” are inscribed.
      p Below the eagle and streamers, the word “Iowa” is inscribed in red.
      +survey(name, '42nd')
    .visual.flag
      +flag(name, path, 'border')

  .guide.wide
    .content
      h2 Iconography
      ul.visual.icon-list
        li.icon-item
          span.icon: img(src='/assets/images/flag-iowa-icon-stripes.svg', alt='three vertical stripes')
          h4 stripes
          p France
          p #[em Note:] Iowa was once a French territory and borrows its three stripes from the French national flag.
        li.icon-item
          span.icon: img(src='/assets/images/flag-iowa-icon-eagle.svg', alt='eagle')
          h4 eagle
          p the United States
        li.icon-item
          span.icon: img(src='/assets/images/flag-iowa-icon-motto.svg', alt='words on a banner')
          h4 motto
          p admission to the U.S. as a free state, #[em Our Liberties We Prize and Our Rights We Will Maintain]
        li.icon-item

  .guide
    .content
      h2 Colors
      p The flag’s blue, white, and red are borrowed from the French flag, but Gebhardt meant for them to have additional symbolic meaning.
      p The blue represents loyalty, justice, and truth. The white represents purity and the red stands for courage.
      hr
      small Iowa statute does not provide Cable or Pantone values for the colors of the flag.
      small The hex values here are approximations.
    .visual
      .colors.primary
        .color
          .sample(class='blue')
          .name Blue
          .hex #0a1f62
        include includes/color-white
        .color
          .sample(class='red')
          .name Red
          .hex #d80025
      .colors.secondary
        .color
          .sample(class='brown')
          .name Brown
          .hex #69310b

  .guide
    .content
      h2 Construction
      p Though not specified in Iowa statute, the flag is usually produced with a proportion of 2:3.
      p The width of the white middle stripe should be twice the width of each of the other stripes.
    .visual
      +construction(name, path)

  .guide.wide
    .content
      h2 Flags of the Native Peoples
      p Lalalala
    ul.visual.flag-list
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')

  +pagination('texas', 'Texas',
              'wisconsin', 'Wisconsin')

  .guide.wide.sources
    h3 Sources
    ul
      include includes/source-howe
      li.source Iowa Code. Title I State Sovereignty and Management. Subtitle 1 Sovereignty. Chapter § 1B State Flag.
      li.source: a(href='http://iassar.org/2008/01/01/state-flag/') Iowa Society, Sons of the American Revolution
      li.source: a(href='https://www.britannica.com/topic/flag-of-Iowa') Encyclopedia Britannica
      li.source: a(href='https://en.wikipedia.org/wiki/Flag_of_Iowa') Flag of Iowa - Wikipedia
