extends layout

block vars
  - var bodyClass = 'detail'
  - var category = 'state'
  - var name = 'Kansas'
  - var path = 'kansas'

block content

  +state(name, path, 'The Sunflower State', 'January 29, 1861')

  .intro
    p The Kansas flag was designed and sewn by Lincoln seamstress, Hazel Avery, for a 1925 Fourth of July parade.
    p It was adopted in 1927, replacing a previous state banner that had been rejected for display in Washington D.C. It was designed to hang from a horizontal bar and wouldn’t fly well next to other state flags.
    p Avery’s flag was later altered to add “Kansas” below the state seal.
    p This version was officially adopted September 24, 1961.


  .guide
    .content
      h2 Composition
      p The Kansas flag features a field of dark blue charged with the state seal, centered.
      p Above the seal is the state’s sunflower crest and below is the word “Kansas” in gold.
      +survey(name, '69th')
    .visual.flag
      +flag(name, path)

  .guide.wide
    .content
      h2 Iconography
      ul.visual.icon-list
        li.icon-item
          span.icon: img(src='/assets/images/flag-kansas-icon-stars.svg', alt='half-circle of stars in three rows')
          h4 34 stars
          p Kansas as the 34th state to join the Union
        li.icon-item
          span.icon: img(src='/assets/images/flag-kansas-icon-motto.svg', alt='Ad Astra Per Aspera, on a half-circle banner')
          h4 motto
          p westward expansion, #[em To the Stars through Difficulties]
        li.icon-item
          span.icon: img(src='/assets/images/flag-kansas-icon-sunflower.svg', alt='sunflower')
          h4 sunflower
          p state flower, regional flora
        li.icon-item
          span.icon: img(src='/assets/images/flag-kansas-icon-wagons.svg', alt='train of covered wagons pulled by oxen')
          h4 wagon train
          p westward expansion
        li.icon-item
          span.icon: img(src='/assets/images/flag-kansas-icon-native-americans.svg', alt='Native Americans on horseback hunting buffalo')
          h4 Native peoples
          p the Kansas plains, shared history with Native Americans
        li.icon-item
          span.icon: img(src='/assets/images/flag-kansas-icon-hills.svg', alt='mountains with a sun rising behind')
          h4 rising sun
          p the east, tradition
        li.icon-item
          span.icon: img(src='/assets/images/flag-kansas-icon-boat.svg', alt='steamboat on a river')
          h4 steamboat
          p the Kansas River, commerce
        li.icon-item
          span.icon: img(src='/assets/images/flag-kansas-icon-farming.svg', alt='a man and horses plow a field by a house')
          h4 farming
          p rich agricultural tradition

  .guide
    .content
      h2 Coat of Arms
      p The Kansas seal and coat of arms are credited to state senator John James Ingalls. It is a complicated and detailed design that is often reproduced with poor quality.
    .visual.flag
      +coat-of-arms(name, path)

  .guide
    .content
      h2 Colors
      p The Kansas flag prominently features blue and gold, with supporting colors within the state seal.
      hr
      small Kansas statute describes the colors of the flag, but doesn’t provide Cable or Pantone values.
      small The hex values here are approximations.
    .visual
      .colors.primary
        .color
          .sample(class='blue')
          .name Blue
          .hex #002569
        .color
          .sample(class='gold')
          .name Gold
          .hex #f1ad02
      .colors.secondary
        .color
          .sample(class='orange')
          .name Orange
          .hex #ff660e
        .color
          .sample(class='yellow')
          .name Yellow
          .hex #feff00
        .color
          .sample(class='green')
          .name Green
          .hex #3cff15
        .color
          .sample(class='light-blue')
          .name Light Blue
          .hex #4ea8ff
        .color
          .sample(class='purple')
          .name Purple
          .hex #794488
        .color
          .sample(class='brown')
          .name Brown
          .hex #583b19

  .guide
    .content
      h2 Construction
      p The Kansas flag uses a proportion of 3:5.
      p Kansas statute specifies the proportion and spacing for the flag’s visual elements in feet and inches, which is rendered here.
    .visual
      +construction(name, path)

  .guide
    .content
      h2 Previous iteration
      p Hazel Avery’s original flag design used from 1927 until 1961.
    .visual.flag
      img(src='/assets/images/flag-kansas-avery.svg', alt='similar to the current Kansas flag but with the word “Kansas” missing')

  +pagination('oregon', 'Oregon',
              'west-virginia', 'West Virginia')

  .guide.wide.sources
    h3 Sources
    ul
      include includes/source-howe
      include includes/source-mitchell
      li.source Kansas Statute. Chapter 73. Soldiers, Sailors and Patriotic Emblems. Article 7. Flag and Patriotic Emblems. Section § 73-702. Same; description; form and makeup.
      li.source: a(href='https://www.kansas.com/news/article1085283.html') The Wichita Eagle
      li.souurce: a(href='https://web.archive.org/web/20121016142535/http://www.kshs.org/kansapedia/cool-things-state-banner/10112') Kansas Historical Society
      li.source: a(href='https://en.wikipedia.org/wiki/Flag_of_Kansas') Flag of Kansas - Wikipedia
