extends layout

block vars
  - var bodyClass = 'detail'
  - var category = 'state'
  - var name = 'Kentucky'
  - var path = 'kentucky'

block tweet
  a.tweet(href="https://ctt.ec/DidfP") Share on Twitter

block content

  +state(name, path, 'The Bluegrass State', 'June 1, 1792')

  .intro
    p The flag of Kentucky follows a common pattern for U.S. state flags, featuring the seal on a field of blue.
    p The seal was designed in 1793 by Lexington silversmith David Humphries and placed within the flag design by Jesse Cox Burgess, an art teacher in Frankfort.
    p The flag was officially adopted March 26, 1918.

  .guide
    .content
      h2 Flag design
      p The Kentucky flag features a field of navy charged with the seal of the commonwealth, centered.
      +survey(name, '66th')
    .visual.flag
      +flag(name, path)

  .guide.wide
    .content
      h2 Iconography
      ul.visual.icon-list
        li.icon-item
          span.icon: img(src='/assets/images/flag-kentucky-icon-goldenrod.svg', alt='half wreath of leaves and flowers')
          h4 goldenrod
          p state flower, regional flora
        li.icon-item
          span.icon: img(src='/assets/images/flag-kentucky-icon-men.svg', alt='two men facing each other and shaking hands')
          h4 handshake
          p pioneers, statesmen, united we stand
          p #[em Note:] The two men are often mistaken for Daniel Boone and Henry Clay.
        li.icon-item
          span.icon: img(src='/assets/images/flag-kentucky-icon-motto.svg', alt='“United we stand, divided we fall” in a circle')
          h4 motto
          p unity
          p #[em Note:] Historians believe this motto was inspired by “The Liberty Song,” written by John Dickinson in 1768.
        li.icon-item
  .guide
    .content
      h2 Coat of Arms
      p The coat of arms, along with early versions of the state seal, depicted the two men as statesmen, both in swallowtail coats.
      p Alternate versions show the men shaking hands and in other versions in full embrace.
    .visual.flag
      +coat-of-arms(name, path)

  .guide
    .content
      h2 Colors
      p The official colors of the seal are blue and gold, reflected also on the state flag.
      hr
      small Kentucky statute does not provide Cable or Pantone values for the colors of the flag.
      small The hex values here are approximations.
    .visual
      .colors.primary
        .color
          .sample(class='navy')
          .name Navy
          .hex #000066
      .colors.secondary
        include includes/color-white
        .color
          .sample(class='gold')
          .name Gold
          .hex #e6ad05
        .color
          .sample(class='green')
          .name Green
          .hex #396f4a

  .guide
    .content
      h2 Construction
      p The fly of the flag must be 1 and 9/10 the width of the hoist.
      p The seal should be 2/3 the width of the hoist.
      h2 Pike
      p A pike (flagpole) flying the flag should be surmounted by the Kentucky cardinal “in an alert but restful pose, cast in bronze, brass, or other suitable material.”
    .visual
      +construction(name, path)

  .guide.wide
    .content
      h2 Flags of the Native Peoples
      p Lalalala
    ul.visual.flag-list
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')

  .guide.wide
    .content
      h2 Similar Flags
      p Lalalala
    ul.visual.flag-list
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')

  +pagination('vermont', 'Vermont',
              'tennessee', 'Tennessee')

  .guide.wide.sources
    h3 Sources
    ul
      include includes/source-howe
      include includes/source-mitchell
      li.source Kentucky Revised Statutes Title I. Sovereignty and Jurisdiction of the Commonwealth § 2.030. State flag
      li.source: a(href='https://www.britannica.com/topic/flag-of-Kentucky') Encyclopedia Britannica
      li.source: a(href='https://en.wikipedia.org/wiki/Flag_of_Kentucky') Flag of Kentucky - Wikipedia
