doctype html
html(lang='en')

  //- Variable block for page-specific info
  block vars

  head

    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='chrome=1')
    meta(name='viewport',content='width=device-width, initial-scale=1, minimum-scale=1')

    if bodyClass == 'detail'
      meta(name='description', content='Design guide for the ' + category + ' flag of ' + name + '.')
    else
      meta(name='description', content=pageDescription)
    meta(name='author', content='Lynn Fisher')

    title
      if bodyClass !== 'home'
        | #{name} - US Flags [dot] Design
      else
        | US Flags [dot] Design

    if bodyClass == 'detail'
      link(rel='shortcut icon', href='/assets/images/favicons/' + path + '.png')
    else
      link(rel='shortcut icon', href='/assets/images/favicons/us-flag.png')
    link(rel='stylesheet', href='https://use.typekit.net/wpe2kir.css')

    link(rel='stylesheet', href='/assets/css/main.css')

    block scripts

  body(class=bodyClass + ' ' + path)

    include mixins/mixins

    .container
      nav.nav-main
        div
          if bodyClass !== 'home'
            a.back(href='/') Back to flags
        .links
          a(href='/about') About
          a(href='/glossary') Glossary

      block content

      footer.footer-main
        p Made with <3 by #[a(href='https://twitter.com/lynnandtonic') Lynn Fisher]
        p: a(href='https://patreon.com/lynnandtonic') Support this project on Patreon

    include includes/ga.html
