extends layout

block vars
  - var bodyClass = 'detail'
  - var category = 'state'
  - var name = 'Maine'
  - var path = 'maine'

block tweet
  a.tweet(href="https://ctt.ec/DidfP") Share

block content

  +state(name, path, 'The Pine Tree State', 'March 15, 1820')

  .intro
    p The Maine state flag follows a common pattern for U.S. state flags, featuring the coat of arms on a field of blue.
    p It wasn’t always this way, though. The first official flag was a simple and graphic design featuring a pine tree. It has proven very popular over the years and many campaigns have tried to revert the flag back to the original design with no success (yet).
    p The current version of the flag was adopted February 23, 1909.

  .guide
    .content
      h2 Flag design
      p The Maine flag features a field of blue charged with the state coat of arms, centered.
      +survey(name, '60th')
    .visual.flag
      +flag(name, path)

  .guide.wide
    .content
      h2 Iconography
      ul.visual.icon-list
        li.icon-item
          span.icon: img(src='/assets/images/flag-maine-icon-north-star.svg', alt='five-pointed star surrouned by radiating beams, “Dirigo” on a banner')
          h4 North Star
          p a guiding light, navigation, leadership
        li.icon-item
          span.icon: img(src='/assets/images/flag-maine-icon-farmer.svg', alt='a farmer with scythe')
          h4 farmer
          p rich agricultural tradition
        li.icon-item
          span.icon: img(src='/assets/images/flag-maine-icon-sailor.svg', alt='a sailor with an anchor')
          h4 sailor
          p Maine’s long coastline, fishing, shipbuilding
        li.icon-item
          span.icon: img(src='/assets/images/flag-maine-icon-tree.svg', alt='a moose lies in front of a pine tree')
          h4 pine tree
          p New England, regional flora and fauna
  .guide
    .content
      h2 Coat of Arms
      p The Maine coat of arms (and state seal) have remained relatively unchanged since adoption in 1820. It was formally standardized in 1919 to reduce small variations.
    .visual.flag
      +coat-of-arms(name, path)

  .guide
    .content
      h2 Colors
      p The Maine flag uses the same blue of the U.S. national flag.
      hr
      small Maine statute does not provide Cable or Pantone values for the colors of the coat of arms.
      small The hex values here are approximations.
    .visual
      .colors.primary
        include includes/color-us-blue
      .colors.secondary
        .color
          .sample(class='gold')
          .name Gold
          .hex #ffe84f
        .color
          .sample(class='red')
          .name Red
          .hex #ff163c
        .color
          .sample(class='light-blue')
          .name Light blue
          .hex #9ed9ff
        .color
          .sample(class='pine')
          .name Pine
          .hex #3e6f3e
        .color
          .sample(class='green')
          .name Green
          .hex #36e218
        .color
          .sample(class='brown')
          .name Brown
          .hex #6f513e

  .guide
    .content
      h2 Construction
      p Maine statute specifies the dimensions of the flag in feet and inches.
      p The flag should have a fly of 5 feet, 6 inches and a hoist of 4 feet, 4 inches.
      p The coat of arms should be embroidered on a flag of silk and can be trimmed with knotted yellow fringe measuring 2 1/2 inches wide.
      h2 Pike
      p The flag should be flown on a 9 foot pike (flagple) with a tassled cord 8 feet 6 inches in length attached to the spearhead. The cord should be made of white and blue silk strands.
    .visual
      +construction(name, path)

  .guide
    .content
      h2 Previous iteration
      p The 1901 version of the Maine flag featured a green pine tree and a blue five-pointed star on a field of buff.
      p Two attempts in the 1990’s failed to bring back the original flag. In the last few years, though, private companies have begun manufacturing and selling a similar version resulting in increased popularity and new calls to change the flag once again.
    .visual.flag
      img(src='/assets/images/flag-maine-1901.svg', alt='1901 version of the Maine flag')

  .guide.wide
    .content
      h2 Flags of the Native Peoples
      p Lalalala
    ul.visual.flag-list
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')

  +pagination('alabama', 'Alabama',
              'missouri', 'Missouri')

  .guide.wide.sources
    h3 Sources
    ul
      include includes/source-howe
      include includes/source-mitchell
      li.source Maine Revised Statutes. Chapter 9: SEAL, MOTTO, EMBLEMS AND FLAGS. §206. State flag.
      li.source: a(href='https://en.wikipedia.org/wiki/Flag_of_Maine') Flag of Maine - Wikipedia
