extends layout

block vars
  - var pageDescription = 'Design guide for the state flag of Massachusetts.'
  - var bodyClass = 'detail massachusetts'

block tweet
  a.tweet(href="https://ctt.ec/DidfP") Share on Twitter

block title
  | Massachusetts - 

block content

  +state('Massachusetts', '/assets/images/flag-massachusetts.svg', 'The Bay State', 'February 6, 1788')

  .intro
    p The Massachusetts flag was the first state flag to feature a plain white field and, for about 50 years, was a rare two-sided design.
    p The flag (and the state seal) have received criticism for its depiction of a Native American man beneath a faceless arm weilding a broadsword. There is still pressure for Massachusetts to make changes to these symbols.
    p The current flag was officially adopted July 3, 1971.

  .guide
    .content
      h2 Flag design
      p The flag features a field of white upon which the state coat of arms, in blue and gold, is placed at the center.
      h2 Iconography
      p A blue Plantagenet shield surrounds an Algonquian man holding a bow and arrow, with the arrow pointing downward to symbolize peace. The Massachusetts flag was the first to feature a Native American.
    .visual.flag
      img(src='/assets/images/flag-massachusetts.svg')

  .guide
    .content
      h2 Coat of Arms
      p The arm holding the broadsword is said to be a visual representation of the state’s motto, inscribed in Latin on the ribbon translated as “By the Sword We Seek Peace, But Peace Only Under Liberty.”
      p Despite these claims, it is not difficult to see the pain this image can cause with the context of history.
    .visual.flag
      img(src='/assets/images/coat-of-arms-massachusetts.jpg')

  .guide
    .content
      h2 Colors
      p The blue of the flag represents the Blue Hills of Canton. The five-pointed star is white, unlike the state seal where it appears silver.
    .visual.colors
      .color.primary
        .sample(class='white')
        .name White
        .hex #ffffff
      .color.primary
        .sample(class='blue')
        .name Blue
        .hex #1f2c5c
      .color.primary
        .sample(class='gold')
        .name Gold
        .hex #e6a300

  .guide
    .content
      h2 Dimensions
      p The flag should have a proportion of 3:5. So if the flag has a hoist of 3 feet, its fly should be 5 feet.
      p If resized, it must maintain these proportions.
    .visual
      img(src='/assets/images/flag-massachusetts-dimensions.svg')

  .guide
    .content
      h2 Previous iteration
      p Before 1971, the Massachusetts flag had a different design on its reverse. It featured the blue shield with a pine tree.
      p With the importance of timber in the region, the pine tree became a symbol of New England. After the Pine Tree Riot in 1772, it persisted as an emblem for resistance and independence.
    .visual.flag
      img(src='/assets/images/flag-massachusetts-reverse.svg')

  .guide.wide
    .content
      h2 Flags of the Native Peoples
      p Lalalala
    ul.visual.flag-list
      +flag('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag('Delaware', 'delaware', '/assets/images/flag-arizona.png')

  .guide.wide
    .content
      h2 Similar Flags
      p Lalalala
    ul.visual.flag-list
      +flag('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag('Delaware', 'delaware', '/assets/images/flag-arizona.png')

  .guide.wide.sources
    h3 Sources
    ul
      li.source Howe, Randy. Flags of the Fifty States: Their Colorful Histories and Significance. Guilford: The Globe Pequot Press, 2002. Print.
      li.source Mitchell, Henry. The State Arms of the Union. Boston: L. Prang & Co, 1876.
      li.source: a(href='http://www.sec.state.ma.us/cis/cismaf/mf1a.htm') Secretary of the Commonwealth of Massachusetts
      li.source: a(href='https://www.britannica.com/topic/flag-of-Massachusetts') Encyclopedia Britannica
      li.souurce: a(href='https://www.usflagsupply.com/u.s.-state-flag-history/massachusettss-flag-history.html') US Flag Supply
      li.source: a(href='https://en.wikipedia.org/wiki/Pine_Tree_Flag') Wikipedia
      li.source: a(href='https://en.wikipedia.org/wiki/Flag_of_Massachusetts') Wikipedia
