extends layout

block vars
  - var pageDescription = 'Design guide for the state flag of Massachusetts.'
  - var bodyClass = 'detail massachusetts'

block tweet
  a.tweet(href="https://ctt.ec/DidfP") Share on Twitter

block title
  | Massachusetts - 

block content

  +state('Massachusetts', '/assets/images/flag-massachusetts.svg', 'The Bay State', 'February 6, 1788', 'border')

  .intro
    p The Massachusetts flag was the first state (commonwealth) flag to feature a plain white field and, for about 50 years, was a rare two-sided design.
    p The flag (and the seal) have received criticism for its depiction of a Native American man beneath a faceless arm weilding a broadsword. There is still pressure for Massachusetts to make changes to these symbols.
    p The current flag was officially adopted July 3, 1971.

  .guide
    .content
      h2 Flag design
      p The Massachusetts flag features a field of white charged with the state coat of arms in blue and gold, centered.
      +survey('Massachusettss', '38th')
    .visual.flag
      img.border(src='/assets/images/flag-massachusetts.svg')

  .guide.wide
    .content
      h2 Iconography
      ul.visual.icon-list
        li.icon-item
          span.icon: img(src='/assets/images/flag-massachusetts-icon-algonquin.svg')
          h4 Algonquin
          p Native peoples
        li.icon-item
          span.icon: img(src='/assets/images/flag-massachusetts-icon-arrow.svg')
          h4 arrow
          p peace (pointed downward)
        li.icon-item
          span.icon: img(src='/assets/images/flag-massachusetts-icon-star.svg')
          h4 star
          p Massachusetts, an original colony
        li.icon-item
          span.icon: img(src='/assets/images/flag-massachusetts-icon-broadsword.svg')
          h4 broadsword
          p peace only under liberty

  .guide
    .content
      h2 Coat of Arms
      p The Massachusetts coat of arms was adopted in 1775. Inscribed in Latin on the ribbon are the words “Ense petit placidam sub libertate quietem” which translate to “By the Sword We Seek Peace, But Peace Only Under Liberty.”
      p Despite the claim that the broadsword references the state’s motto, the imagery of a Native American beneath an arm weilding a sword has caused a great deal of pain, reminding many of the violence inflicted on Native Americans.
    .visual.flag
      img(src='/assets/images/coat-of-arms-massachusetts.jpg')

  .guide
    .content
      h2 Colors
      p The blue of the flag represents the Blue Hills of Canton. The five-pointed star is white, unlike the state seal where it appears silver.
    .visual.colors.primary
      include includes/color-white
      .color
        .sample(class='blue')
        .name Blue
        .hex #1f2c5c
      .color
        .sample(class='gold')
        .name Gold
        .hex #e6a300

  .guide
    .content
      h2 Construction
      p The Massachusetts flag is usually produced with a proportion of 3:5.
      p If resized, it will maintain these proportions.
    .visual
      img(src='/assets/images/flag-massachusetts-dimensions.svg')

  .guide
    .content
      h2 Previous iteration
      p Before 1971, the Massachusetts flag had a different design on its reverse. It featured the blue shield with a pine tree.
      p With the importance of timber in the region, the pine tree became a symbol of New England. After the #[a(href='https://en.wikipedia.org/wiki/Pine_Tree_Riot') Pine Tree Riot] in 1772, it persisted as an emblem for resistance and independence.
    .visual.flag
      img.border(src='/assets/images/flag-massachusetts-reverse.svg')

  .guide.wide
    .content
      h2 Flags of the Native Peoples
      p Lalalala
    ul.visual.flag-list
      +flag('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag('Delaware', 'delaware', '/assets/images/flag-arizona.png')

  .guide.wide
    .content
      h2 Similar Flags
      p Lalalala
    ul.visual.flag-list
      +flag('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag('Delaware', 'delaware', '/assets/images/flag-arizona.png')

  .guide.wide.sources
    h3 Sources
    ul
      include includes/source-howe
      include includes/source-mitchell
      li.source: a(href='http://www.sec.state.ma.us/cis/cismaf/mf1a.htm') Secretary of the Commonwealth of Massachusetts
      li.source: a(href='https://www.britannica.com/topic/flag-of-Massachusetts') Encyclopedia Britannica
      li.souurce: a(href='https://www.usflagsupply.com/u.s.-state-flag-history/massachusettss-flag-history.html') US Flag Supply
      li.source: a(href='https://en.wikipedia.org/wiki/Pine_Tree_Flag') Wikipedia
      li.source: a(href='https://en.wikipedia.org/wiki/Flag_of_Massachusetts') Wikipedia
