extends layout

block vars
  - var bodyClass = 'detail'
  - var category = 'state'
  - var name = 'Massachusetts'
  - var path = 'massachusetts'

block tweet
  a.tweet(href="https://ctt.ec/DidfP") Share on Twitter

block content

  +state(name, path, 'The Bay State', 'February 6, 1788', 'border')

  .intro
    p The Massachusetts flag was the first state (commonwealth) flag to feature a plain white field and, for about 50 years, was a rare two-sided design.
    p The flag (and the seal) have received criticism for its depiction of a Native American man beneath a faceless arm weilding a broadsword. There is still pressure for Massachusetts to make changes to these symbols.
    p The current flag was officially adopted July 3, 1971.

  .guide
    .content
      h2 Flag design
      p The Massachusetts flag features a field of white charged with the commonwealth coat of arms in blue and gold, off-centered towards the hoist.
      +survey(name, '38th')
    .visual.flag
      +flag(name, path, 'border')

  .guide.wide
    .content
      h2 Iconography
      ul.visual.icon-list
        li.icon-item
          span.icon: img(src='/assets/images/flag-massachusetts-icon-algonquin.svg', alt='Native American man with bow and arrow')
          h4 Algonquin
          p Native peoples
        li.icon-item
          span.icon: img(src='/assets/images/flag-massachusetts-icon-arrow.svg', alt='arrow, pointed downward')
          h4 arrow
          p peace (pointed downward)
        li.icon-item
          span.icon: img(src='/assets/images/flag-massachusetts-icon-star.svg', alt='five-pointed star')
          h4 star
          p Massachusetts, an original colony
        li.icon-item
          span.icon: img(src='/assets/images/flag-massachusetts-icon-broadsword.svg', alt='an arm holds up a sword, pointed downward')
          h4 broadsword
          p peace only under liberty
        li.icon-item
          span.icon: img(src='/assets/images/flag-massachusetts-icon-motto.svg', alt='Latin words on a banner')
          h4 motto
          p “By the Sword We Seek Peace, But Peace Only Under Liberty”

  .guide
    .content
      h2 Coat of Arms
      p The Massachusetts coat of arms was adopted in 1775. Inscribed in Latin on the ribbon are the words “Ense petit placidam sub libertate quietem” which translate to “By the Sword We Seek Peace, But Peace Only Under Liberty.”
      p Despite the claim that the broadsword references the commonwealth motto, the imagery of an Algonquin man beneath an arm weilding a sword has caused a great deal of pain, reminding many of the violence inflicted on Native Americans.
    .visual.flag
      +coat-of-arms(name, path)

  .guide
    .content
      h2 Colors
      p The Secretary of the Commonwealth provides Cable values for the colors of its flag.
      p The blue of the flag represents the Blue Hills of Canton. The five-pointed star is white, unlike the seal where it appears silver.
    .visual.colors.primary
      .color
        .sample(class='white')
        .name White
        .hex #ffffff
        .cable Cable No. 70001 #[span White]
      .color
        .sample(class='blue')
        .name Blue
        .hex #1f2c5c
        .cable Cable No. 70087 #[span Royal Blue]
      .color
        .sample(class='gold')
        .name Gold
        .hex #e6a300
        .cable Cable No. 70068 #[span Spanish Yellow]

  .guide
    .content
      h2 Construction
      p The Secretary of the Commonwealth provides specifications for the flag, recreated here.
      p The flag can be produced with a few proportions, but 3:5 is recommended.
    .visual
      +construction(name, path)

  .guide
    .content
      h2 Previous iteration
      p Before 1971, the Massachusetts flag had a different design on its reverse. It featured the blue shield with a pine tree.
      p With the importance of timber in the region, the pine tree became a symbol of New England. After the #[a(href='https://en.wikipedia.org/wiki/Pine_Tree_Riot') Pine Tree Riot] in 1772, it persisted as an emblem for resistance and independence.
    .visual.flag
      img.border(src='/assets/images/flag-massachusetts-reverse.svg', alt='the reverse of a previous version of the Massachusetts flag, featuring a pine tree')

  .guide.wide
    .content
      h2 Flags of the Native Peoples
      p Lalalala
    ul.visual.flag-list
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')

  .guide.wide
    .content
      h2 Similar Flags
      p Lalalala
    ul.visual.flag-list
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')

  +pagination('connecticut', 'Connecticut',
              'maryland', 'Maryland')

  .guide.wide.sources
    h3 Sources
    ul
      include includes/source-howe
      include includes/source-mitchell
      li.source: a(href='http://www.sec.state.ma.us/cis/cismaf/mf1a.htm') Secretary of the Commonwealth of Massachusetts
      li.source: a(href='https://www.mass.gov/regulations/950-CMR-3400-commonwealth-of-massachusetts-flags-arms-and-seal-specifications') 950 CMR 34.00: Commonwealth of Massachusetts flags, arms and seal specifications
      li.source: a(href='https://www.britannica.com/topic/flag-of-Massachusetts') Encyclopedia Britannica
      li.souurce: a(href='https://www.usflagsupply.com/u.s.-state-flag-history/massachusettss-flag-history.html') US Flag Supply
      li.source: a(href='https://en.wikipedia.org/wiki/Pine_Tree_Flag') Pine Tree Flag - Wikipedia
      li.source: a(href='https://en.wikipedia.org/wiki/Flag_of_Massachusetts') Flag of Massachusetts - Wikipedia
