extends layout

block vars
  - var bodyClass = 'detail'
  - var category = 'state'
  - var name = 'Michigan'
  - var path = 'michigan'

block tweet
  a.tweet(href="https://ctt.ec/DidfP") Share on Twitter

block content

  +state(name, path, 'The Great Lake State', 'January 26, 1837')

  .intro
    p The current Michigan flag is the third version for the state. Descriptions of the first two flags exist, but their specific designs have been lost to history.
    p The first Michigan flag was notable in its depiction of Governor Stevens T. Mason. He is the only real person besides George Washington to appear on a state flag.
    p Michigan’s flag now follows the common pattern of a field of blue charged with the state coat of arms.
    p This version was officially adopted June 26, 1911.

  .guide
    .content
      h2 Flag design
      p The Michigan flag features a field of blue charged with the state coat of arms, centered.
      +survey(name, '59th')
    .visual.flag
      +flag(name, path)

  .guide.wide
    .content
      h2 Iconography
      ul.visual.icon-list
        li.icon-item
          span.icon: img(src='/assets/images/flag-michigan-icon-elk-moose.svg', alt='an elk and a mooose face each other on hind legs, their front legs on a shield')
          h4 elk & moose
          p natural beauty, regional fauna
          p #[em Note:] The elk and moose are said to be borrowed from the Hudson’s Bay Company coat of arms.
        li.icon-item
          span.icon: img(src='/assets/images/flag-michigan-icon-eagle.svg', alt='eagle with laurel and arrows in its claws')
          h4 eagle
          p freedom, peace, strength, the Union
        li.icon-item
          span.icon: img(src='/assets/images/flag-michigan-icon-man.svg', alt='a man holds a gun and waves on the shore')
          h4 armed man
          p peace, strong defense
        li.icon-item
          span.icon: img(src='/assets/images/flag-michigan-icon-tuebor.svg', alt='Tuebor')
          h4 motto
          p #[em I will defend]
        li.icon-item
          span.icon: img(src='/assets/images/flag-michigan-icon-e-pluribus-unum.svg', alt='E Pluribus Unum on a banner')
          h4 motto
          p national unity, #[em Out of many, one]
        li.icon-item
          span.icon: img(src='/assets/images/flag-michigan-icon-motto.svg', alt='Latin words on a banner')
          h4 motto
          p #[em If You Seek a Pleasant Peninsula, Look About You]

  .guide
    .content
      h2 Coat of Arms
      p Established in 1835, the Michigan coat of arms bears resemblance to the coat of arms of the #[a(href='https://en.wikipedia.org/wiki/Hudson%27s_Bay_Company#/media/File:HBC-coa.JPG') Hudson’s Bay Company], which also features an elk and moose as supports.
    .visual.flag
      +coat-of-arms(name, path)

  .guide
    .content
      h2 Colors
      p Only azure and white (argent) are specifically mentioned in the statute for the coat of arms. No colors are specified for the flag.
    .visual
      .colors.primary
        .color
          .sample(class='blue')
          .name Blue
          .hex #00287e
      .colors.secondary
        .color
          .sample(class='brown')
          .name Brown
          .hex #86473f
        .color
          .sample(class='tan')
          .name Tan
          .hex #b37535
        .color
          .sample(class='red')
          .name Red
          .hex #ef1439
        .color
          .sample(class='azure')
          .name Azure
          .hex #006fff
        .color
          .sample(class='yellow')
          .name Yellow
          .hex #ffef6f
        .color
          .sample(class='green')
          .name Green
          .hex #35b336

  .guide
    .content
      h2 Construction
      p Michigan statute doesn’t specify dimensions for its flag. It is usually produced with a proportion of 2:3.
    .visual
      +construction(name, path)

  .guide.wide.timeline
    .content
      h2 Previous iterations
      ul.visual.flag-list
        li.flag-item
          span.flag: img.blank(src='/assets/images/blank.jpg', alt='a blank rectangle')
          h4 1837–1865
          p Lost to time, but as described: The first flag featured the coat of arms plus a woman and soldier. The reverse featured a portrait of Stevens T. Mason.
        li.flag-item
          span.flag: img.blank(src='/assets/images/blank.jpg', alt='a blank rectangle')
          h4 1837–1911
          p Lost to time, but as described: The woman and soldier were removed from the obverse. Mason’s portrait was removed and the U.S. coat of arms was added to the reverse.
        li.flag-item
          span.flag: img.blank(src='/assets/images/flag-michigan.svg', alt='the current flag of Michigan')
          h4 1911–Present
          p The U.S. coat of arms were removed from the reverse.
        li.flag-item

  .guide.wide
    .content
      h2 Flags of the Native Peoples
      p Lalalala
    ul.visual.flag-list
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')

  .guide.wide
    .content
      h2 Similar Flags
      p Lalalala
    ul.visual.flag-list
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')

  +pagination('arkansas', 'Arkansas',
              'florida', 'Florida')

  .guide.wide.sources
    h3 Sources
    ul
      include includes/source-howe
      include includes/source-mitchell
      li.source Michigan Compiled Laws. Chapter 2. Section § 2.22 - State coat-of-arms; emblazonment.
      li.source: a(href='https://en.wikipedia.org/wiki/Flag_of_Michigan') Flag of Michigan - Wikipedia
