extends layout

block vars
  - var bodyClass = 'detail'
  - var category = 'state'
  - var name = 'Mississippi'
  - var path = 'mississippi'

block content

  +state(name, path, 'The Magnolia State', 'December 10, 1817', 'border')

  .intro
    p The controversial Mississippi flag is the second flag the state has officially adopted, replacing the original “Magnolia Flag.”
    p Since Georgia changed its flag in 2003, Mississippi is the only U.S. flag to feature the Confederate battle flag, often called “The Southern Cross.”
    p This version of the flag was adopted February 7, 1894, almost 30 years after the end of the American Civil War.
    p The people of Mississippi voted (with a significant majority) to keep this version of the flag in a referendum on April 17, 2001.

  .guide
    .content
      h2 Flag design
      p The Mississippi flag is a horizontal tricolor of blue, white, and red.
      p It features a fimbriated canton of red with a blue saltire, bordered in white and emblazoned with thirteen white five-pointed stars.
      +survey(name, '22nd')
    .visual.flag
      +flag(name, path)

  .guide
    .content
      h2 Iconography
      p Both the second and third national flags of the Confederate States, like the Mississippi state flag, use the battle flag in their cantons.
      p Defenders of the battle flag claim it is a symbol of the south’s history and defense of liberty and states’ rights during the Civil War.
      p Despite this claim, it is representative of the Confederacy’s support and defense of slavery. Since the war, the battle flag has been used as a rallying banner for white supremacists and a symbol of continued racism and violence.
    .visual.flag
      img(src='/assets/images/flag-mississippi-southern-cross.svg', alt='the Confederate battle flag')

  .guide
    .content
      h2 Colors
      p The Mississippi flag uses the same red, white, and blue as the U.S. national flag.
    .visual.colors.primary
      include includes/color-us-red
      include includes/color-us-blue
      include includes/color-us-white

  .guide
    .content
      h2 Construction
      p The flag should have a proportion of 2:3.
      p The canton should be square, 2/3 the width of the hoist.
    .visual
      +construction(name, path)

  .guide
    .content
      h2 Previous iteration
      p Adopted March 30, 1861, the original Mississippi flag was known as the “Magnolia Flag.” It featured a magnolia tree centered on a field of white and a blue canton with one white five-pointed star. At the free end is a uniform perpendicular stripe of red.
      p The blue canton is modeled after the Bonnie Blue Flag, a symbolic banner of the Confederacy.
    .visual.flag
      img.border(src='/assets/images/flag-mississippi-magnolia.svg', alt='original version of the Mississippi flag')

  .guide.wide
    .content
      h2 Flags of the Native Peoples
      p Lalalala
    ul.visual.flag-list
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')

  +pagination('indiana', 'Indiana',
              'illinois', 'Illinois')

  .guide.wide.sources
    h3 Sources
    ul
      include includes/source-howe
      li.source Mississippi Code. Title 3. Chapter 3 § 3-3-16 - Design of state flag.
      li.source: a(href='https://en.wikipedia.org/wiki/Flag_of_Mississippi') Flag of Mississippi - Wikipedia
