extends layout

block vars
  - var bodyClass = 'detail'
  - var category = 'state'
  - var name = 'Missouri'
  - var path = 'missouri'

block content

  +state(name, path, 'The Show Me State', 'August 10, 1821', 'border')

  .intro
    p Like many other state flags, the Missouri flag begins with the Daughters of the American Revolution. They appointed Mary Elizabeth Oliver to lead a committee and in 1908 she brought her design to the state capitol.
    p Her flag competed against another design by Dr. G.H. Holcomb, but ultimately it was chosen as the first (and so far, only) Missouri state flag.
    p It was officially adopted March 22, 1913.

  .guide
    .content
      h2 Flag design
      p The Missouri state flag is a horizontal tricolor of red, white, and blue.
      p At the center, the state coat of arms is charged, surrounded by a circular band of blue emblazoned with 24 white five-pointed stars.
      +survey(name, '48th')
    .visual.flag
      +flag(name, path, 'border')

  .guide.wide
    .content
      h2 Iconography
      ul.visual.icon-list
        li.icon-item
          span.icon: img(src='/assets/images/flag-missouri-icon-stars.svg', alt='circle of 24 stars')
          h4 24 stars
          p the states of the Union, including Missouri
        li.icon-item
          span.icon: img(src='/assets/images/flag-missouri-icon-stars2.svg', alt='a half-circle of 24 stars in 3 rows')
          h4 24 more stars
          p Missouri as the 24th state
        li.icon-item
          span.icon: img(src='/assets/images/flag-missouri-icon-bears.svg', alt='two bears face each other on hind legs')
          h4 bears
          p strength, courage
        li.icon-item
          span.icon: img(src='/assets/images/flag-missouri-icon-knight.svg', alt='a Knight’s helmet upon a circle that reads “United we stand, divided we fall”')
          h4 knight & shield
          p strength and independence of the state, strength of the Union
        li.icon-item
          span.icon: img(src='/assets/images/flag-missouri-icon-crescent.svg', alt='crescent moon shape')
          h4 crescent
          p the immense potential for the future
        li.icon-item
          span.icon: img(src='/assets/images/flag-missouri-icon-eagle.svg', alt='eagle from the Great Seal of the U.S.')
          h4 eagle
          p freedom, strength, peace, the Union
        li.icon-item
          span.icon: img(src='/assets/images/flag-missouri-icon-motto.svg', alt='Salus Populi Suprema Lex Esto')
          h4 motto
          p #[em The Welfare of the People Shall Be the Supreme Law]
        li.icon-item
          span.icon: img(src='/assets/images/flag-missouri-icon-date.svg', alt='Roman numberals MDCCCXX')
          h4 1820
          p the Missouri Compromise

  .guide
    .content
      h2 Coat of Arms
      p The Missouri coat of arms and state seal have been relatively unchanged since they were designed in 1822 by Judge Robert William Wells.
    .visual.flag
      +coat-of-arms(name, path)

  .guide
    .content
      h2 Colors
      p The colors of the Missouri flag do have specific meaning. The red represents valor, white represents purity, and blue represents vigilance, permanency, and justice.
      hr
      small According to Missouri law and the Office of the Secretary of State, Missouri does not provide official Cable or Pantone values for the colors of the flag.
      small The hex values here are approximations.
    .visual
      .colors.primary
        .color
          .sample(class='red')
          .name Red
          .hex #ab0635
        include includes/color-white
        .color
          .sample(class='blue')
          .name Blue
          .hex #004b8d
      .colors.secondary
        .color
          .sample(class='gold')
          .name Gold
          .hex #c3a204
        .color
          .sample(class='brown')
          .name Brown
          .hex #9a4a23
        .color
          .sample(class='green')
          .name Green
          .hex #228a43
        .color
          .sample(class='light-blue')
          .name Light blue
          .hex #0083a9

  .guide
    .content
      h2 Construction
      p The Missouri flag has a proportion of 7:12.
      p The width of the blue band around the center circle of the seal is 1/14 the width of the hoist.
      p The diameter of the circle is 1/3 the length of the fly.
    .visual
      +construction(name, path)

  .guide.wide
    .content
      h2 Flags of the Native Peoples
      p Lalalala
    ul.visual.flag-list
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')

  +pagination('maine', 'Maine',
              'arkansas', 'Arkansas')

  .guide.wide.sources
    h3 Sources
    ul
      include includes/source-howe
      include includes/source-mitchell
      li.source Missouri Revised Statutes. Chapter 10 State Emblems. Section § 10.020 Flag, official--design of--original design--where kept.
      li.source Reference Staff. Missouri State Archives, personal communication, August 2, 2019.
      li.source: a(href='http://cdm16795.contentdm.oclc.org/cdm/compoundobject/collection/molaws/id/20126/rec/50') 1913, Missouri Session Laws
      li.source: a(href='https://www.sos.mo.gov/Kids/history/flag.asp') Missouri Secretary of State
      li.source: a(href='https://en.wikipedia.org/wiki/Flag_of_Missouri') Flag of Missouri - Wikipedia
