extends layout

block vars
  - var bodyClass = 'detail'
  - var category = 'state'
  - var name = 'Mississippi'
  - var path = 'mississippi'

block content

  +state(name, path, 'The Magnolia State', 'December 10, 1817', 'border')

  .intro
    p For 126 years, Mississippi’s flag featured the Confederate Battle flag in its canton. Despite its inclusion of the racist symbol, the people of Mississippi voted to keep this version of the flag in a referendum in 2001.
    p Following nationwide Black Lives Matter protests in the summer of 2020, the state finally removed the flag and created a commission to design a new one.
    p Voters chose The New Magnolia flag, designed by Rocky Vaughan, Sue Anna Joe, Kara Giles, Dominique Pugh, and Micah Whitson. The flag was made official November 2020 and renamed the In God We Trust flag.

  .guide
    .content
      h2 Composition
      p The Mississippi flag features a panel of blue charged with a magnolia blossom at the center. Surrounding the blossom is a circle of twenty white five-pointed stars and a single gold star at the top.
      p Below the magnolia blossom, the words “In God We Trust” are inscribed in Americana typeface.
      p The panel of blue is flanked by gold and red vertical stripes.
      +survey(name, '22nd*', '*The flag voted on was the 1894–2020 version (see Previous Iterations section).')
    .visual
      +flag(name, path)

  .guide.wide
    .content
      h2 Iconography
      ul.visual.icon-list
        li.icon-item
          span.icon: img(src='/assets/images/flag-mississippi-icon-stars.svg', alt='a ring of twenty stars')
          h4 20 stars
          p Mississippi as the 20th state to join the union
        li.icon-item
          span.icon: img(src='/assets/images/flag-mississippi-icon-five-pointed-star.svg', alt='five-pointed star')
          h4 five-pointed star
          p the indigenous peoples of Mississippi
        li.icon-item
          span.icon: img(src='/assets/images/flag-mississippi-icon-magnolia.svg', alt='magnolia blossom')
          h4 magnolia blossom
          p hospitality, rebirth
        li.icon-item
          span.icon: img(src='/assets/images/flag-mississippi-icon-in-god-we-trust.svg', alt='In God We Trust')
          h4 motto
          p faith

  .guide
    .content
      h2 Colors
      p The flag’s official colors are white, gold, Old Glory Red, and Old Glory Blue (both of which differ slightly from the U.S. flag colors of the same name).
      p Blue represents vigilance, justice, and perseverance, red represents hardiness and valor, and gold represents Mississippi’s rich cultural history.
      hr
      small The hex values here are approximations.
    .visual.colors.primary
      .color
        .sample(class='red')
        .name Old Glory Red
        .hex #c21f32
        .pantone PMS 200
      .color
        .sample(class='blue')
        .name Old Glory Blue
        .hex #081f40
        .pantone PMS 282
      include includes/color-white
      .color
        .sample(class='gold')
        .name Gold
        .hex #eaab22
        .pantone PMS 7563

  .guide
    .content
      h2 Construction
      p The Mississippi flag is generally produced with a 3:5 width to length proportion.
      p Its visual elements are described in proportional units. The flag’s vertical height is 72 units and horizontal length is 120. The outer red bars are 25 units wide each, the inner gold stripes are 5 each, and the center blue panel is 60 units wide. The central artwork is two-thirds the height or 48 units.
    .visual
      +construction(name, path)

  .guide.wide
    .content
      h2 Previous iterations
      ul.visual.flag-list
        li.flag-item
          span.flag: img.border(src='/assets/images/flag-mississippi-magnolia.svg', alt='a magnolia tree centered on a field of white and a blue canton with one white five-pointed star. At the free end is a uniform perpendicular stripe of red')
          h4 1861–1894
          p The original Mississippi flag, known as the “Magnolia Flag.” The blue canton was modeled after the Bonnie Blue Flag, a symbolic banner of the Confederacy.
        li.flag-item
          span.flag: img(src='/assets/images/flag-mississippi-battle.svg', alt='a fimbriated canton of red with a blue saltire, bordered in white and emblazoned with thirteen white five-pointed stars')
          h4 1894–2020
          p This controversial flag, featuring the Confederate battle flag, was removed in 2020 following nationwide Black Lives Matter protests.
        li.flag-item
          span.flag: img(src='/assets/images/flag-mississippi-thumb.svg', alt='the current flag')
          h4 2020–Present
          p The current Mississippi state flag.

  +pagination('indiana', 'Indiana',
              'illinois', 'Illinois')

  .guide.wide.sources
    h3 Sources
    ul
      include includes/source-howe
      li.source Mississippi Code. Title 3. Chapter 3 § 3-3-16 - Design of state flag.
      li.source: a(href='https://en.wikipedia.org/wiki/Flag_of_Mississippi') Flag of Mississippi - Wikipedia
      li.source: a(href="https://mississippitoday.org/2020/06/28/mississippi-furls-state-flag-with-confederate-emblem-after-126-years/") Mississippi Today
      li.source: a(href='https://www.mdah.ms.gov/flagpoll-top2') Mississippi Department of Archives and History
