extends layout

block vars
  - var bodyClass = 'detail'
  - var category = 'state'
  - var name = 'Montana'
  - var path = 'montana'

block content

  +state(name, path, 'The Treasure State', 'November 8, 1889')

  .intro
    p The Montana state flag was first flown by the First Territorial Infantry during the Spanish-American War. Colonel Harry C. Kessler commissioned this flag featuring the state seal on a field of blue.
    p The flag was officially adopted February 7, 1905, with the only change made to eliminate the text “1st Montana Infantry U.S.V.”
    p In 1981, the word “Montana” was added to the flag and in 1985, it was specified that Helvetica Bold be used.

  .guide
    .content
      h2 Flag design
      p The Montana flag features a field of blue charged with the state seal, in full color, centered.
      p Above the seal, the word “Montana” is inscribed in gold.
      +survey(name, '70th')
    .visual.flag
      +flag(name, path)

  .guide.wide
    .content
      h2 Iconography
      ul.visual.icon-list
        li.icon-item
          span.icon: img(src='/assets/images/flag-montana-icon-tools.svg', alt='shovel, pickax, and plow')
          h4 tools
          p farming, mining
        li.icon-item
          span.icon: img(src='/assets/images/flag-montana-icon-motto.svg', alt='Oro y Plata')
          h4 motto
          p natural resources, #[em Gold and Silver]
        li.icon-item
          span.icon: img(src='/assets/images/flag-montana-icon-nature.svg', alt='mountains, river, and sun')
          h4 nature
          p natural beauty, the Great Falls of the Missouri River, the Rocky Mountains
        li.icon-item

  .guide
    .content
      h2 Coat of Arms
      p The Montana coat of arms and state seal were designed in 1865 by Francis Thompson.
    .visual.flag
      +coat-of-arms(name, path)

  .guide
    .content
      h2 Colors
      p The Montana flag prominently features blue and gold, with supporting colors within the state seal.
      hr
      small Montana statute does not provide Cable or Pantone values for the colors of the flag.
      small The hex values here are approximations.
    .visual
      .colors.primary
        .color
          .sample(class='blue')
          .name Blue
          .hex #002a86
        .color
          .sample(class='gold')
          .name Gold
          .hex #ffd90f
      .colors.secondary
        .color
          .sample(class='green-1')
          .name Green 1
          .hex #a2d100
        .color
          .sample(class='green-2')
          .name Green 2
          .hex #008600
        .color
          .sample(class='orange')
          .name Orange
          .hex #e86f00
        .color
          .sample(class='sienna')
          .name Sienna
          .hex #a81800
        .color
          .sample(class='tan')
          .name Tan
          .hex #e8d9a8
        .color
          .sample(class='silver')
          .name Silver
          .hex #a89982
        .color
          .sample(class='blue-2')
          .name Light Blue
          .hex #a8efff
        .color
          .sample(class='blue-3')
          .name Medium Blue
          .hex #1691ff

  .guide
    .content
      h2 Construction
      p The Montana flag is usually produced with a proportion of 2:3.
      p The height of the letters in “Montana” should be 1/10 the width of the fly.
      p The typeface for “Montana” should be Helvetica in bold.
      p The flag can optionally have golden fringe along the upper and lower edges.
    .visual
      +construction(name, path)

  .guide
    .content
      h2 Previous iteration
      p The original state flag featured the seal, but the word ”Montana” wasn’t added until years later. This version flew from 1905–1981.
    .visual.flag
      img.border(src='/assets/images/flag-montana-original.svg', alt='the original Montana flag')

  .guide.wide
    .content
      +native-intro(name)
      ul.visual.flag-list.natives
        +native-item('Affiliated Tribes of Northwest Indians', 'atni.jpg', 'alt', 'border')
        +native-item('Assiniboine & Gros Ventre', 'assiniboine-and-gros-ventre.jpg', 'alt', 'border')
        +native-item('Assiniboine & Sioux', 'assiniboine-and-sioux.jpg', 'alt')
        +native-item('Blackfeet Nation', 'blackfeet-nation.jpg', 'alt')

  +pagination('south-dakota', 'South Dakota',
              'washington', 'Washington')

  .guide.wide.sources
    h3 Sources
    ul
      include includes/source-howe
      include includes/source-healy
      include includes/source-mitchell
      li.source Montana Code Annotated. TITLE 1. GENERAL LAWS AND DEFINITIONS. CHAPTER 1. GENERAL PROVISIONS. Part 5. State Symbols -- Official Designations. Section 1-1-502. State flag.
      li.source: a(href='https://sosmt.gov/about-corey/state-flag/') Montana Secretary of State
      li.source: a(href='https://en.wikipedia.org/wiki/Flag_of_Montana') Flag of Montana - Wikipedia
      li.source: a(href='https://www.atnitribes.org/') Affiliated Tribes of Northwest Indians
      li.source: a(href='http://www.fortpecktribes.org/') Fork Peck Tribes
      li.source: a(href='https://blackfeetnation.com/') Blackfeet Nation
