extends layout

block vars
  - var bodyClass = 'detail'
  - var category = 'state'
  - var name = 'Nevada'
  - var path = 'nevada'

block content

  +state(name, path, 'The Silver State', 'October 31, 1864')

  .intro
    p Nevada has flown four state flags, with a notable third version resulting from a mistake in legislature that went unnoticed for 60 years.
    p The flag was designed in 1926 by Reno museum curator, Louis Shellback III. His flag was the winning entry in a design contest sponsored by Lt. Governor Maurice J. Sullivan.
    p It was adopted in 1929, but the inscription of the word “Nevada” (with letters placed between the points of the star) was incorrectly described. It was noticed and updated years later and “Nevada” was moved below the star where it was originally intended.
    p The corrected version of the flag was approved by the governor June 8, 1991, and finally implemented in October of the same year.

  .guide
    .content
      h2 Flag design
      p The Nevada flag features a field of cobalt blue. In the canton is a variant of the state’s emblem which centers a silver five-pointed star.
      p Above the star is a gold banner with “Battle Born” inscribed in black. Below the star “Nevada” is inscribed also in gold and it is surrounded by two sprays of green sagebrush with gold flowers.
      +survey(name, '55th')
    .visual.flag
      +flag(name, path)

  .guide.wide
    .content
      h2 Iconography
      ul.visual.icon-list
        li.icon-item
          span.icon: img(src='/assets/images/flag-nevada-icon-star.svg', alt='star')
          h4 star
          p Nevada, natural silver resources
          p #[em Note:] It was the discovey of silver ore that attracted many to the area in the 1850’s
        li.icon-item
          span.icon: img(src='/assets/images/flag-nevada-icon-sagebrush.svg', alt='to crossed sprigs of sagebrush')
          h4 sagebrush
          p state flower, regional flora
        li.icon-item
          span.icon: img(src='/assets/images/flag-nevada-icon-motto.svg', alt='a banner reading “Battle Born”')
          h4 motto
          p Nevada joining the Union during the Civil War
          p #[em Note:] Nevada’s official state motto is “All for Our Country.”
        li.icon-item

  .guide
    .content
      h2 Colors
      p Nevada’s flag specifications provide Pantone values for each of the flag’s five colors.
      hr
      small Values corresponding to imagery:
      small #[strong Cobalt Blue]: field <br>
        | #[strong Gold]: scroll, flowers, “Nevada” <br>
        | #[strong Green]: sagebrush sprays and leaves <br>
        | #[strong White]: star <br>
        | #[strong Black]: “Battle Born”
    .visual
      .colors.primary
        .color
          .sample(class='blue')
          .name Cobalt Blue
          .hex #0033ab
          .pantone PMS 286
      .colors.secondary
        .color
          .sample(class='gold')
          .name Gold
          .hex #ffa300
          .pantone PMS 137
        .color
          .sample(class='green')
          .name Green
          .hex #00843d
          .pantone PMS 348
        include includes/color-white-pantone
        include includes/color-black-pantone

  .guide
    .content
      h2 Construction
      p The Nevada flag can be produced with different proportions including 2:3, 3:5, or 5:8.
      p Nevada law specifies the proportion and spacing for the flag’s visual elements, which is rendered here.
      p The flag should be produced single faced, obverse side only.
    .visual
      +construction(name, path)

  .guide.wide.timeline
    .content
      h2 Previous iterations
      ul.visual.flag-list
        li.flag-item
          span.flag: img(src='/assets/images/flag-nevada-1905.svg', alt='a field of blue with “Nevada” inscribed at the center horizontally flanked by two silver stars and vertically flanked by two rows of stars in gold and silver; “Silver” inscribed at the top, “Gold” at the bottom')
          h4 1905–1915
          p Designed by Governor John Sparks and Adjutant General Harry Day, featuring 36 stars (the 36th state) and Nevada’s rich natural resources.
        li.flag-item
          span.flag: img(src='/assets/images/flag-nevada-1915-1929.jpg', alt='a field of blue charged with the coat of arms surrounded by a lens shape of gold and silver stars')
          h4 1915–1929
          p Designed by schoolteacher Clara Crisler and features the state coat of arms.
        li.flag-item
          span.flag: img(src='/assets/images/flag-nevada-1929.svg', alt='similar to the current flag, but with the letters of “Nevada” making a ring around the star')
          h4 1929–1991
          p Schellback’s design with the letters of “Nevada” incorrectly surrounding the star.
        li.flag-item
          span.flag: img(src='/assets/images/flag-nevada.svg', alt='the current flag of Nevada')
          h4 1991–Present
          p The corrected version of the Schellback design, with “Nevada” below the star.

  .guide.wide
    .content
      h2 Flags of the Native Peoples
      p Lalalala
    ul.visual.flag-list
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')

  +pagination('west-virginia', 'West Virginia',
              'nebraska', 'Nebraska')

  .guide.wide.sources
    h3 Sources
    ul
      include includes/source-howe
      li.source Nevada Revised Statutes. CHAPTER 235 - STATE SEAL, MOTTO AND SYMBOLS; GIFTS AND ENDOWMENTS. Section § 235.020 - State flag.
      li.source: a(href='http://nava.org/digital-library/raven/Raven_v01_1994_p065-089.pdf') Ferrigan II, James J. “Battle Born” Vexillology: The Nevada State Flag and Its Predecessor. NAVA:  1994.
      li.source: a(href='https://www.leg.state.nv.us/Division/Research/Publications/PHoN/Ch02.pdf') Nevada Legislature
      li.source: a(href='https://en.wikipedia.org/wiki/Flag_of_Nevada') Flag of Nevada - Wikipedia
