extends layout

block vars
  - var bodyClass = 'detail'
  - var category = 'state'
  - var name = 'New York'
  - var path = 'new-york'

block tweet
  a.tweet(href="https://ctt.ec/DidfP") Share on Twitter 

block content

  +state(name, path, 'The Empire State', 'July 26, 1788')

  .intro
    p The New York flag, one of unusually wide proportion, follows a common pattern for U.S. state flags, featuring the state coat of arms on a field of blue.
    p It spotlights many images seen in other state seals and flags like the goddess Liberty, Phrygian cap, and bald eagle, among others.
    p An original version of the flag was adopted in 1788, but the current iteration was officially adopted April 2, 1901.

  .guide
    .content
      h2 Flag design
      p The New York flag features a field of deep blue charged with the state coat of arms, centered.
      +survey(name, '53rd')
    .visual.flag
      +flag(name, path)

  .guide.wide
    .content
      h2 Iconography
      ul.visual.icon-list
        li.icon-item
          span.icon: img(src='/assets/images/flag-new-york-icon-liberty.svg', alt='the goddess Liberty holding a staff topped with a phrygian cap')
          h4 Liberty
          p the goddess Liberty, freedom
        li.icon-item
          span.icon: img(src='/assets/images/flag-new-york-icon-justice.svg', alt='the goddess Justice, blindfolded, holding a sword and the scales')
          h4 Justice
          p the goddess Justice, fighting tyranny
        li.icon-item
          span.icon: img(src='/assets/images/flag-new-york-icon-cap.svg', alt='a phrygian cap')
          h4 phrygian cap
          p liberty
        li.icon-item
          span.icon: img(src='/assets/images/flag-new-york-icon-crown.svg', alt='a crown on its side')
          h4 toppled crown
          p freedom from England after the Revolutionary War
        li.icon-item
          span.icon: img(src='/assets/images/flag-new-york-icon-scales.svg', alt='scales')
          h4 scales
          p justice and equality under the law
        li.icon-item
          span.icon: img(src='/assets/images/flag-new-york-icon-eagle.svg', alt='eagle atop a globe with wings spread')
          h4 eagle & globe
          p Europe and the Americas, the meeting of two worlds
        li.icon-item
          span.icon: img(src='/assets/images/flag-new-york-icon-hudson.svg', alt='two sailboats on the water with mountains and the sun behind')
          h4 Hudson River
          p natural beauty, commerce by waterway
        li.icon-item
          span.icon: img(src='/assets/images/flag-new-york-icon-excelsior.svg', alt='a banner inscribed with “Excelsior”')
          h4 motto
          p #[em Ever Upward], progress

  .guide
    .content
      h2 Coat of Arms
      p The New York coat of arms was originally designed in 1777 and officially adopted on March 16th, 1778 (a few months before statehood).
      p A commission was appointed in 1880 to standardize its presentation.
    .visual.flag
      +coat-of-arms(name, path)

  .guide
    .content
      h2 Colors
      p The prominent color is a deep blue, with supporting colors within the coat of arms.
      hr
      small New York statute does not provide Cable or Pantone values for the colors of the flag.
      small The hex values here are approximations.
    .visual
      .colors.primary
        .color
          .sample(class='blue')
          .name Blue
          .hex #002d72
      .colors.secondary
        include includes/color-white
        .color
          .sample(class='red')
          .name Red
          .hex #ff3515
        .color
          .sample(class='gold')
          .name Gold
          .hex #f2a900
        .color
          .sample(class='light-blue')
          .name Light Blue
          .hex #0077c8
        .color
          .sample(class='green')
          .name Green
          .hex #2c5234
        .color
          .sample(class='tan')
          .name Tan
          .hex #d18644

  .guide
    .content
      h2 Construction
      p The New York flag is usually produce with a proportion of 1:2.
    .visual
      +construction(name, path)

  .guide
    .content
      h2 Previous iteration
      p The New York flag previously had a field of buff, matching the color of troop uniforms. In 1901 it was changed to a field of blue to better follow the design of other military flags.
    .visual
      img(src='/assets/images/flag-new-york-pre-1901.svg', alt='a field of buff charged with the state coat of arms')

  .guide.wide
    .content
      h2 Flags of the Native Peoples
      p Lalalala
    ul.visual.flag-list
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')

  .guide.wide
    .content
      h2 Similar Flags
      p Lalalala
    ul.visual.flag-list
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')

  +pagination('virginia', 'Virginia',
              'north-carolina', 'North Carolina')

  .guide.wide.sources
    h3 Sources
    ul
      include includes/source-howe
      include includes/source-mitchell
      li.source: a(href='http://www.nysl.nysed.gov/emblems/flag.htm') New York State Library
      li.source: a(href='https://www.states101.com/flags/new-york') States101
      li.source: a(href='https://www.crwflags.com/FOTW/flags/us-ny.html') Flags of the World
      li.source: a(href='https://en.wikipedia.org/wiki/Coat_of_arms_of_New_York') Coat of Arms of New York - Wikipedia
