extends layout

block vars
  - var pageDescription = ''
  - var bodyClass = 'detail new-jersey'

block tweet
  a.tweet(href="https://ctt.ec/DidfP") Share on Twitter

block title
  | New Jersey - 

block content

  +state('New Jersey', '/assets/images/flag-new-jersey.svg', 'The Garden State', 'December 18, 1787')

  .intro
    p New Jersey became the third state to ratify the U.S. Constitution, named in honor of England’s Isle of Jersey.
    p Its flag is the only U.S. flag to feature a field of buff, often incorrectly represented as yellow. It’s one of many to showcase its state coat of arms.
    p The flag was officially adopted March 26, 1896.

  .guide
    .content
      h2 Flag design
      p The New Jersey flag has a field of buff on which the state coat of arms is placed.
    .visual.flag
      img(src='/assets/images/flag-new-jersey.svg')

  .guide.wide
    .content
      h2 Iconography
      ul.visual.icon-list
        li.icon-item
          span.icon: img(src='/assets/images/flag-new-jersey-icon-liberty.svg')
          h4 Liberty
          p The goddess Liberty represents her namesake and completes half of the motto “Liberty and Prosperity.”
        li.icon-item
          span.icon: img(src='/assets/images/flag-new-jersey-icon-ceres.svg')
          h4 Ceres
          p The Roman goddess of agriculture symbolizes the “Prosperity” part of the state motto.
        li.icon-item
          span.icon: img(src='/assets/images/flag-new-jersey-icon-cap.svg')
          h4 Phrygian cap
          p The Phrygian cap, borrowed iconography from the French Revolution, represents liberty.
        li.icon-item
          span.icon: img(src='/assets/images/flag-new-jersey-icon-cornucopia.svg')
          h4 Cornucopia
          p Ceres holds a corncopia, representing agriculture and signaling a bountiful harvest.
        li.icon-item
          span.icon: img(src='/assets/images/flag-new-jersey-icon-horse.svg')
          h4 Horse
          p The horse is New Jersey’s state animal, crucial in transport and farming.
        li.icon-item
          span.icon: img(src='/assets/images/flag-new-jersey-icon-knight.svg')
          h4 Knight
          p The forward-facing knight symbolizes the state’s strength and sovereignty.
        li.icon-item
          span.icon: img(src='/assets/images/flag-new-jersey-icon-shield.svg')
          h4 Shield
          p Containing the plows, the shield represents New Jersey’s strong agricultural tradition.
        li.icon-item
          span.icon: img(src='/assets/images/flag-new-jersey-icon-plow.svg')
          h4 Plow
          p The plows reference New Jersey agriculture and fertile soil.

  .guide
    .content
      h2 Coat of Arms
      p New Jersey’s coat of arms was designed by Pierre Eugene du Simitiere in 1777.
    .visual.flag
      img(src='/assets/images/coat-of-arms-new-jersey.jpg')

  .guide
    .content
      h2 Colors
      p Jersey Blue and Buff are New Jersey’s state colors.
      p The colors were chosen by George Washington while encamped at Jockey Hollow during the Revolutionary War, originally for the New Jersey Line uniform coats.
    .visual
      .colors.primary
        .color
          .sample(class='buff')
          .name Buff
          .hex #e1b584
          small US Army Buff - Cable No. 65015
        .color
          .sample(class='blue')
          .name Jersey Blue
          .hex #2484c6
          small Royal Blue - Cable No. 70087
      .colors.secondary
        .color
          .sample(class='argent')
          .name Argent
          .hex #9ba7b9
        .color
          .sample(class='tenne')
          .name Tenne
          .hex #dc6026
        .color
          .sample(class='gules')
          .name Gules
          .hex #d0202e
        .color
          .sample(class='brown')
          .name Brown
          .hex #81512b

  .guide
    .content
      h2 Production
      p The flag should have a fly width 1.5 times its hoist. Standard flag size has a hoist of 3 feet and a fly of 4.5 feet.
      p If resized, it must maintain these proportions.
    .visual
      img(src='/assets/images/flag-new-jersey-dimensions.svg')

  .guide.wide
    .content
      h2 Flags of the Native Peoples
      p Lalalala
    ul.visual.flag-list
      +flag('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag('Delaware', 'delaware', '/assets/images/flag-arizona.png')

  .guide.wide
    .content
      h2 Similar Flags
      p Lalalala
    ul.visual.flag-list
      +flag('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag('Delaware', 'delaware', '/assets/images/flag-arizona.png')

  .guide.wide.sources
    h3 Sources
    ul
      li.source Howe, Randy. Flags of the Fifty States: Their Colorful Histories and Significance. Guilford: The Globe Pequot Press, 2002. Print.
      li.source: a(href='https://www.state.nj.us/nj/about/symbols/') State of New Jersey
      li.source: a(href='https://statesymbolsusa.org/symbol-official-item/new-jersey/state-flag/flag-new-jersey') State Symbols USA
      li.source: a(href='https://www.states101.com/flags/new-jersey') States101.com
      li.source: a(href='https://www.britannica.com/topic/flag-of-New-Jersey') Encyclopedia Britannica
      li.source: a(href='https://en.wikipedia.org/wiki/Coat_of_arms_and_flag_of_New_Jersey#cite_note-8') Wikipedia
