extends layout

block vars
  - var bodyClass = 'detail'
  - var category = 'state'
  - var name = 'New Jersey'
  - var path = 'new-jersey'

block content

  +state(name, path, 'The Garden State', 'December 18, 1787')

  .intro
    p New Jersey became the third state to ratify the U.S. Constitution, named in honor of England’s Isle of Jersey.
    p Its flag is the only U.S. flag to feature a field of buff, often incorrectly represented as yellow. It’s one of many to showcase its state coat of arms.
    p The flag was officially adopted March 26, 1896.

  .guide
    .content
      h2 Composition
      p The New Jersey flag features a field of buff charged with the state coat of arms, centered.
      +survey(name, '46th')
    .visual.flag
      +flag(name, path)

  .guide.wide
    .content
      h2 Iconography
      ul.visual.icon-list
        li.icon-item
          span.icon: img(src='/assets/images/flag-new-jersey-icon-liberty.svg', alt='the goddess Liberty holding a staff topped with a phrygian cap')
          h4 Liberty
          p goddess of liberty, freedom
        li.icon-item
          span.icon: img(src='/assets/images/flag-new-jersey-icon-ceres.svg', alt='the goddess Ceres holding a cornucopia')
          h4 Ceres
          p goddess of agriculture, prosperity
        li.icon-item
          span.icon: img(src='/assets/images/flag-new-jersey-icon-cap.svg', alt='a phrygian cap')
          h4 phrygian cap
          p liberty, freedom
        li.icon-item
          span.icon: img(src='/assets/images/flag-new-jersey-icon-cornucopia.svg', alt='a cornucopia filled with fruits')
          h4 cornucopia
          p agriculture, bountiful harvest
        li.icon-item
          span.icon: img(src='/assets/images/flag-new-jersey-icon-horse.svg', alt='a left-facing horse’s head')
          h4 horse
          p state animal, transportation, farming
        li.icon-item
          span.icon: img(src='/assets/images/flag-new-jersey-icon-knight.svg', alt='a forward facing knight’s helmet and gorget')
          h4 knight
          p strength, sovereignty
        li.icon-item
          span.icon: img(src='/assets/images/flag-new-jersey-icon-shield.svg', alt='a shield')
          h4 shield
          p strength, agricultural tradition
        li.icon-item
          span.icon: img(src='/assets/images/flag-new-jersey-icon-plow.svg', alt='a plow')
          h4 plow
          p agriculture, fertile soil

  .guide
    .content
      h2 Coat of Arms
      p New Jersey’s coat of arms was designed by Pierre Eugene du Simitiere in 1777.
    .visual.flag
      +coat-of-arms(name, path)

  .guide
    .content
      h2 Colors
      p Jersey Blue and Buff are New Jersey’s state colors, assigned with specific color values.
      p The colors were chosen by George Washington while encamped at Jockey Hollow during the Revolutionary War, originally for the New Jersey Line uniform coats.
      p The New Jersey Secretary of State’s Office provides Pantone color values for the colors within the seal.
    .visual
      .colors.primary
        .color
          .sample(class='buff')
          .name Buff
          .hex #e1b584
          .cable Cable No. 65015 #[span US Army Buff]
        .color
          .sample(class='blue')
          .name Jersey Blue
          .hex #2484c6
          .cable Cable No. 70087 #[span Royal Blue]
      .colors.secondary
        .color
          .sample(class='skin')
          .name Skin
          .hex #efd19f
          .pantone PMS 155C
        .color
          .sample(class='tan')
          .name Tan
          .hex #b59461
          .pantone PMS 465C
        .color
          .sample(class='brown')
          .name Brown
          .hex #744f28
          .pantone PMS 463C
        .color
          .sample(class='brown2')
          .name Brown 2
          .hex #5d2a2c
          .pantone PMS 490C
        .color
          .sample(class='gold')
          .name Gold
          .hex #b4a91f
          .pantone PMS 7766C
        .color
          .sample(class='orange')
          .name Orange
          .hex #db6b30
          .pantone PMS 7578C
        .color
          .sample(class='red')
          .name Red
          .hex #c8102e
          .pantone PMS 186C
        .color
          .sample(class='pink')
          .name Pink
          .hex #e68699
          .pantone PMS 701C
        .color
          .sample(class='deep-pink')
          .name Deep Pink
          .hex #872651
          .pantone PMS 7435C
        .color
          .sample(class='purple')
          .name Purple
          .hex #b4b5df
          .pantone PMS 270C
        .color
          .sample(class='purple2')
          .name Purple 2
          .hex #565294
          .pantone PMS 7670C
        .color
          .sample(class='blue2')
          .name Blue 2
          .hex #418fde
          .pantone PMS 279C
        .color
          .sample(class='blue3')
          .name Blue 3
          .hex #0076a8
          .pantone PMS 7690C
        .color
          .sample(class='blue4')
          .name Blue 4
          .hex #4698ca
          .pantone PMS 7688C
        .color
          .sample(class='green')
          .name Green
          .hex #61913d
          .pantone PMS 7490C
        .color
          .sample(class='grey')
          .name Grey
          .hex #98a4ae
          .pantone PMS 7543C

  .guide
    .content
      h2 Construction
      p New Jersey statute doesn’t specify dimensions, but the flag is usually produced with a proportion of 2:3.
    .visual
      +construction(name, path)

  +pagination('pennsylvania', 'Pennsylvania',
              'georgia', 'Georgia')

  .guide.wide.sources
    h3 Sources
    ul
      include includes/source-howe
      li.source New Jersey General and Permanent Statutes. Title 52. STATE GOVERNMENT, DEPARTMENTS AND OFFICERS. Section 52:2A-1. Official colors.
      li.source Vouk, Elizabeth. Executive Assistant, Office of the Secretary of State, New Jersey, personal communication, September 27, 2019.
      li.source: a(href='https://www.state.nj.us/nj/about/symbols/') State of New Jersey
      li.source: a(href='https://statesymbolsusa.org/symbol-official-item/new-jersey/state-flag/flag-new-jersey') State Symbols USA
      li.source: a(href='https://www.britannica.com/topic/flag-of-New-Jersey') Encyclopedia Britannica
      li.source: a(href='https://en.wikipedia.org/wiki/Coat_of_arms_and_flag_of_New_Jersey') Coat of Arms and Flag of New Jersey - Wikipedia
