extends layout

block vars
  - var bodyClass = 'detail'
  - var category = 'state'
  - var name = 'New Mexico'
  - var path = 'new-mexico'

block content

  +state(name, path, 'The Land of Enchantment', 'January 6, 1912')

  .intro
    p New Mexico’s flag was rated #1 in a 2001 survey by the North American Vexillological Association.
    p Its distinctive yellow and red design, featuring the Zia sun symbol, was submitted to a flag design contest by Dr. Harry Mera, a Santa Fe archaeologist.
    p The contest aimed to replace the original flag designed by Ralph E. Twitchell, former mayor of Santa Fe. The “Twitchell Flag” was not representative of New Mexico’s history and culture, so the local chapter of the Daughters of the American Revolution pushed for a new design to be chosen.
    p The new flag was officially adopted in March 1923.

  .guide
    .content
      h2 Composition
      p The New Mexico flag features a field of yellow charged with the Zia sun symbol in red, centered.
      +survey(name, '1st')
    .visual.flag
      +flag(name, path)

  .guide
    .content
      h2 Iconography
      p The Zia are an indigenous tribe living at Zia Pueblo in the state of New Mexico.
      p The sun, a sacred symbol, is featured on the New Mexico flag. It shows four rays radiating from four sides of a circle. Four is a sacred number for the Zia and represents:
      ul.bullets
        li the four seasons of the year (spring, summer, autumn, winter)
        li the four directions of a compass (north, south, east, west)
        li the four points of a day (sunrise, noon, evening, night)
        li the four divisions of life (childhood, youth, adulthood, old age)
        li the four sacred obligations (strong body, clear mind, pure spirit, devotion to others)
    .visual.flag
      img(src='/assets/images/flag-new-mexico-icon-zia-sun.svg', alt='the Zia sun symbol, (a disc with four lines extending from each of its top, bottom, left, and right sides)')

  .guide
    .content
      h2 Colors
      p The New Mexico red and yellow are specified as the colors of “old Spain.” They were originally the colors of Spain’s Queen Isabella.
      p It is one of only four state flags to not include blue.
      hr
      small New Mexico statute does not provide Cable or Pantone values for the colors of the flag.
      small The hex values here are approximations.
    .visual.colors.primary
      .color
        .sample(class='yellow')
        .name Yellow
        .hex #ffd700
      .color
        .sample(class='red')
        .name Red
        .hex #bf0a30

  .guide
    .content
      h2 Construction
      p The New Mexico flag has a proportion of 2:3.
      p The Zia symbol’s inner rays should be one-fifth longer than the outer rays. The circle’s diameter should be one-third the width of the symbol, which should be one-third the width of the flag.
    .visual
      +construction(name, path)

  .guide
    .content
      h2 Previous iteration
      p Adopted in 1915 for the San Diego World’s Fair, the “Twitchell Flag” featured a field of blue with the U.S. flag in the canton. “New Mexico” was insribed diagonally across the field in silver and the number 47 placed in the upper right (New Mexico was the 47th state). The state seal was placed in the bottom right.
    .visual.flag
      img(src='/assets/images/flag-new-mexico-1915-1923.jpg', alt='')

  +pagination('oklahoma', 'Oklahoma',
              'arizona', 'Arizona')

  .guide.wide.sources
    h3 Sources
    ul
      include includes/source-howe
      li.source New Mexico Statutes Chapter 12 Article 3 § 12-3-2. Adoption of flag for state of New Mexico.
      li.source: a(href='https://en.wikipedia.org/wiki/Zia_people#Zia_symbol') Zia People - Wikipedia
      li.source: a(href='https://en.wikipedia.org/wiki/Flag_of_New_Mexico') Flag of New Mexico - Wikipedia
