extends layout

block vars
  - var bodyClass = 'detail'
  - var category = 'territory'
  - var name = 'Northern Mariana Islands'
  - var path = 'northern-mariana-islands'

block content

  +territory(name, path, 'November 4, 1986')

  .intro
    p Until the early 1970s, the Flag of the Trust Territory of the Pacific Islands flew over the Northern Mariana Islands (NMI).
    p In 1972, the Third Marianas Legislature held a flag design contest for Marianas schools. The winning submission was designed by Rotanese student Vito Calvo and featured a latte stone and star on a field of blue.
    p The flag was not officially adopted until July, 4 1976.
    p In 1981, the flag was modified and the mwáár (traditional flower wreath) was added. This version of the flag was officially adopted in July, 1985.

  .guide
    .content
      h2 Composition
      p The NMI flag features a field of ocean blue.
      p Centered, a white five-pointed star is superimposed on a gray latte stone. Surrounding both is a traditional Carolinian mwáár.
      +survey(name, '41st')
    .visual.flag
      +flag(name, path)

  .guide.wide
    .content
      h2 Iconography
      ul.visual.icon-list
        li.icon-item
          span.icon: img(src='/assets/images/flag-northern-mariana-islands-icon-mwaar.svg', alt='a circular wreath of flowers')
          h4 mwáár
          p Carolinian tradition, honor, respect
          p #[em Note:] The flowers of the mwáár are langilang (ylang-ylang), flores mayo (seyúr), angagha (peacock flower), and teibwo (Pacific basil).
        li.icon-item
          span.icon: img(src='/assets/images/flag-northern-mariana-islands-icon-latte-stone.svg', alt='a stone column capped by a smaller stone')
          h4 latte stone
          p Chamorro tradition, Taga the Great, ingenuity
          p #[em Note:] A latte stone was a support for ancient houses, made of a column (halagi) topped by a capstone (tasa). Their origins are told in #[a(href='https://www.guampedia.com/taga/') the legend of Taga the Great].
        li.icon-item
          span.icon: img(src='/assets/images/flag-northern-mariana-islands-icon-star.svg', alt='a star')
          h4 star
          p protection from intruders, the United States
        li.icon-item

  .guide
    .content
      h2 Colors
      p The NMI flag features “ocean blue” and “traditional colors” for the flowers in the mwáár.
      hr
      small NMI statute does not provide Cable or Pantone values for the colors of the flag.
      small The hex values here are approximations.
    .visual
      .colors.primary
        .color
          .sample(class='blue')
          .name Ocean Blue
          .hex #0071bc
        include includes/color-white
        .color
          .sample(class='gray')
          .name Gray
          .hex #8c8a8c
      .colors.secondary
        .color
          .sample(class='red')
          .name Red
          .hex #de2010
        .color
          .sample(class='green')
          .name Green
          .hex #217900
        .color
          .sample(class='yellow')
          .name Yellow
          .hex #ffd200
        .color
          .sample(class='violet')
          .name Violet
          .hex #6b18b5
        include includes/color-black

  .guide
    .content
      h2 Construction
      p NMI statute specifies the proportion for the flag’s visual elements in inches.
      p While the flag can be produced with different proportions, they provide an example with a hoist of 40 inches and a fly of 78 inches.
      p Within this proportion, the latte stone and star should be 16 inches wide and 24 inches tall. The mwáár wreath should be 6 inches wide.
    .visual
      +construction(name, path)

  .guide.wide.timeline
    .content
      h2 Previous iterations
      ul.visual.flag-list
        li.flag-item
          span.flag: img.border(src='/assets/images/flag-northern-mariana-islands-fttpi.svg', alt='a field of light blue charged with a ring of six white stars')
          h4 1965-1972
          p Flag of the Trust Territory of the Pacific Islands. The six stars represent the Marianas, the Marshall Islands, Yap, Chuuk, Pohnpei (including Kosrae), and Palau.
        li.flag-item
          span.flag: img.border(src='/assets/images/flag-northern-mariana-islands-1972.svg', alt='a field of blue charged with a latte stone superimposed with a white star')
          h4 1972–1981
          p Vito Calvo’s winning design.
        li.flag-item
          span.flag: img.border(src='/assets/images/flag-northern-mariana-islands.svg', alt='the current flag')
          h4 1981–Present
          p Current version with added mwáár.
        li.flag-item

  +pagination('us-virgin-islands', 'U.S. Virgin Islands',
              'usa', 'United States')

  .guide.wide.sources
    h3 Sources
    ul
      li.source Commonwealth of the Northern Mariana Islands Code. TITLE 1: GENERAL PROVISIONS. Section § 221. Commonwealth Flag: Described.
      li.source Gov. Ralph  DLG Torres. State of the Commonwealth Address. 20th Commonwealth of the Northern Mariana Islands Legislature. 2018.
      li.source Marianas Variety. Volume 5, Number 17. July 14, 1976.
      li.source: a(href='https://www.guampedia.com/taga/') Guampedia
      li.source: a(href='https://www.usmint.gov/coins/coin-medal-programs/dc-and-us-territories/northern-mariana-islands') U.S. Mint
      li.source: a(href='http://www.mvariety.com/cnmi/cnmi-news/local/43400-santos-honors-designer-of-original-northern-mariana-islands-flag') Marianas Variety
      li.source: a(href='http://www.hubert-herald.nl/USANMarianas.htm#_edn1') Hubert Herald
      li.source: a(href='https://fotw.info/flags/mp.html') Flags of the World
      li.source: a(href='https://en.wikipedia.org/wiki/Flag_of_the_Northern_Mariana_Islands') Flag of the Northern Mariana Islands - Wikipedia
