extends layout

block vars
  - var bodyClass = 'detail'
  - var category = 'state'
  - var name = 'North Carolina'
  - var path = 'north-carolina'

block content

  +state(name, path, 'The Tar Heel State', 'November 21, 1789', 'border')

  .intro
    p The first official flag of North Carolina was adopted a month after the state seceded from the union in 1861. The design of the flag is credited to Raleigh artist, William G. Browne.
    p The flag has had two other versions since, with a redesign introduced in 1885 by then state Adjutant General, Johnston Jones.
    p The current version of the flag was adopted in 1991.

  .guide
    .content
      h2 Flag design
      p The North Carolina flag features a blue union the full width of the flag and one-third the length. The remaining area is a horizontal bicolor of red and white.
      p Within the blue union is a white five-pointed star flanked by the letters ‘N’ and ‘C’ in gold.
      p They are encircled by two scrolls inscribed with two dates: “May 20th, 1775” above and “April 12th, 1776” below.
      +survey(name, '33rd')
    .visual.flag
      +flag(name, path, 'border')

  .guide.wide
    .content
      h2 Iconography
      ul.visual.icon-list
        li.icon-item
          span.icon: img(src='/assets/images/flag-north-carolina-icon-star.svg', alt='a star flanked with the letters “N” and “C”')
          h4 star, N, & C
          p North Carolina
        li.icon-item
          span.icon: img(src='/assets/images/flag-north-carolina-icon-may-20.svg', alt='a banner inscribed with the date May 20th 1775')
          h4 May 20th 1775
          p the alleged #[a(href='https://en.wikipedia.org/wiki/Mecklenburg_Declaration_of_Independence') Mecklenburg Declaration of Independence] (disputed by historians)
          p #[em Note:] Historians do agree that on May 31st, 1775 Mecklenburg County adopted the Mecklenburg Resolves, a set of anti-British resolutions, more than a year before the U.S. Declaration would be signed.
        li.icon-item
          span.icon: img(src='/assets/images/flag-north-carolina-icon-april-12.svg', alt='a banner inscribed with the date April 12th 1776')
          h4 April 12th 1776
          p the date North Carolina authorized its delegates to vote for declaring independence to the Continental Congress
          p #[em Note:] The resolutions were written and they became known as the #[a(href='https://en.wikipedia.org/wiki/Halifax_Resolves') Halifax Resolves].

  .guide
    .content
      h2 Colors
      p The North Carolina flag uses the same red, white, and blue as the U.S. national flag.
      hr
      small North Carolina statute does not provide Cable or Pantone values for the gold of the flag.
      small The hex value here is approximate.
    .visual.colors.primary
      include includes/color-us-blue
      include includes/color-us-red
      include includes/color-us-white
      .color
        .sample(class='gold')
        .name Gold
        .hex #ffca00

  .guide
    .content
      h2 Construction
      p The flag’s length should be half more than its width (a proportion of 2:3).
      p The length of the blue union should be the same as the widths of the horizontal red and white stripes.
    .visual
      +construction(name, path)

  .guide.wide.timeline
    .content
      h2 Previous iterations
      ul.visual.flag-list
        li.flag-item
          span.flag: img.border(src='/assets/images/flag-north-carolina-1861-1865.svg', alt='a bicolor of blue and white with a hoist-side red union charged with a white star and surrounded by two dates: May 20th 1775 and May 20th 1861')
          h4 1861-1865
          p Designed by William G. Browne. “May 20th 1861” is the date North Carolina seceded to join the Confederacy.
        li.flag-item
          span.flag: img.border(src='/assets/images/flag-north-carolina-1885-1991.svg', alt='similar to the current flag but with a narrower blue union and different proportion')
          h4 1885–1991
          p Blue and red stripes are swapped and the letters ‘N’ and ‘C’ are added. “May 20th 1861” is replaced with “April 12th 1776” and both dates get golden scrolls underneath.
        li.flag-item
          span.flag(style='margin-bottom:8.274%'): img.border(src='/assets/images/flag-north-carolina.svg', alt='the current flag')
          h4 1991-Present
          p The current flag of North Carolina. It is widened to a 2:3 proportion instead of 3:4.
        li.flag-item

  .guide.wide
    .content
      h2 Flags of the Native Peoples
      p Lalalala
    ul.visual.flag-list
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')

  +pagination('new-york', 'New York',
              'rhode-island', 'Rhode Island')

  .guide.wide.sources
    h3 Sources
    ul
      include includes/source-howe
      li.source North Carolina General Statutes. Chapter 144. State Flag, Official Governmental Flags, Motto, and Colors. Section § 144-1. State flag.
      li.source: a(href='https://www.britannica.com/topic/flag-of-North-Carolina') Encyclopedia Britannica
      li.source: a(href='https://www.ncpedia.org/symbols/flag') NCpedia
      li.source: a(href='https://statesymbolsusa.org/symbol-official-item/north-carolina/state-flag/flag-north-carolina.html') State Symbols USA
      li.source: a(href='https://en.wikipedia.org/wiki/Flag_of_North_Carolina') Flag of North Carolina - Wikipedia
