extends layout

block vars
  - var bodyClass = 'detail'
  - var category = 'state'
  - var name = 'Oklahoma'
  - var path = 'oklahoma'

block tweet
  a.tweet(href="https://ctt.ec/DidfP") Share

block content

  +state(name, path, 'The Sooner State', 'November 16, 1907')

  .intro
    p Oklahoma adopted its first state flag in 1911 which featured a field of red and a single white star.
    p Fearing a red flag would be associated with communism, the Daughters of the American Revolution (DAR) proposed designing a new flag in 1924.
    p DAR held a flag contest and Louise Funk Fluke, a local artist, submitted the winning design. Her design, featuring an Osage war shield on a field of blue, was officially adopted April 2, 1925.
    p It has seen a couple small changes since. The word “Oklahoma” was added in 1941. In 1988, due to inconsistencies, the colors of the flag were addressed, but not standardized into law until November 1, 2006.

  .guide
    .content
      h2 Flag design
      p The Oklahoma flag features a field of sky blue charged with an Osage war shield, centered. The shield is decorated with six crosses and seven pendant eagle feathers.
      p On top of the shield, a Native American peace pipe is crossed with an olive branch.
      p The word “Oklahoma” is inscribed below in white.
      +survey(name, '39th')
    .visual.flag
      +flag(name, path)

  .guide.wide
    .content
      h2 Iconography
      ul.visual.icon-list
        li.icon-item
          span.icon: img(src='/assets/images/flag-oklahoma-icon-shield.svg', alt='a circular shield decorated with seven hanging feathers')
          h4 Osage shield
          p tribute to Native peoples
        li.icon-item
          span.icon: img(src='/assets/images/flag-oklahoma-icon-crosses.svg', alt='six cross shapes in two rows')
          h4 crosses
          p stars, high ideals
        li.icon-item
          span.icon: img(src='/assets/images/flag-oklahoma-icon-olive-branch.svg', alt='a single olive branch')
          h4 olive branch
          p peace, white settlers
        li.icon-item
          span.icon: img(src='/assets/images/flag-oklahoma-icon-pipe.svg', alt='a peace')
          h4 pipe
          p peace, Native peoples

  .guide
    .content
      h2 Colors
      p Oklahoma statute specifies Pantone values for its flag colors.
      p Fluke chose her specific blue to match the Choctaw battle flag that flew during the Civil War.
    .visual
      .colors.primary
        .color
          .sample(class='blue')
          .name French Blue
          .hex #0072ce
          .pantone PMS 285c
        .color
          .sample(class='amber')
          .name Amber
          .hex #bb9959
          .pantone PMS 465c
        include includes/color-white-pantone
      .colors.secondary
        .color
          .sample(class='flesh')
          .name Flesh
          .hex #e8927c
          .pantone PMS 486c
        .color
          .sample(class='brown')
          .name Gold Brown
          .hex #963821
          .pantone PMS 174c
        .color
          .sample(class='red')
          .name Ruby Red
          .hex #782f40
          .pantone PMS 195c
        .color
          .sample(class='green')
          .name Dartmouth Green
          .hex #215b41
          .pantone PMS 554c

  .guide
    .content
      h2 Construction
      p Oklahoma statute does not specify the dimensions for the flag. It is often produced with a 4:6 proportion.
      p For each cross on the war shield, the horizontal bar should be 3/4 the width of the vertical bar. The top edge of the horizontal bar should be placed at the 25% mark of the vertical bar.
    .visual
      +construction(name, path)

  .guide.wide.timeline
    .content
      h2 Previous iterations
      ul.visual.flag-list
        li.flag-item
          span.flag: img(src='/assets/images/flag-oklahoma-1911-1925.svg', alt='a field of red charged with a blue-bordered white star; within the star the number 46 is inscribed')
          h4 1911–1925
          p Original flag for the 46th state.
        li.flag-item
          span.flag: img(src='/assets/images/flag-oklahoma-1925-1941.jpg', alt='a field of blue charged with the war shield, olive branch, and pipe')
          h4 1925–1941
          p Louise Funk Fluke’s winning design.
        li.flag-item
          span.flag: img(src='/assets/images/flag-oklahoma-1941-1988.jpg', alt='the current flag but with slightly different coloring')
          h4 1941–2006
          p The word “Oklahoma” is added.
        li.flag-item
          span.flag: img(src='/assets/images/flag-oklahoma.svg', alt='the current flag')
          h4 2006–Present
          p Shapes and colors are standardized.

  .guide.wide
    .content
      h2 Flags of the Native Peoples
      p Lalalala
    ul.visual.flag-list
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')

  +pagination('utah', 'Utah',
              'new-mexico', 'New Mexico')

  .guide.wide.sources
    h3 Sources
    ul
      include includes/source-howe
      li.source Oklahoma Statutes. Title 25. Definitions and General Provisions. §25-91. State flag - Design.
      li.source: a(href='https://www.okhistory.org/kids/symbols') Oklahoma Historical Society
      li.source: a(href='https://www.britannica.com/topic/flag-of-Oklahoma') Encyclopedia Britannica
      li.source: a(href='https://en.wikipedia.org/wiki/Flag_of_Oklahoma') Flag of Oklahoma - Wikipedia
