extends layout

block vars
  - var bodyClass = 'detail'
  - var category = 'state'
  - var name = 'Oregon'
  - var path = 'oregon'
block content

  +state(name, path, 'The Beaver State', 'February 14, 1859')

  .intro
    p Oregon has a unique state flag despite it featuring its coat of arms on a field of blue (like many others). Since Massachusetts updated its flag in 1971, Oregon is the only state with a different design on its reverse.
    p The state has only flown this one flag, though newspapers and legislators have tried to gain momentum for a redesign.
    p The flag was officially adopted relatively late on April 15, 1925.


  .guide
    .content
      h2 Flag design
      p The Oregon flag’s obverse features a field of blue charged with the state coat of arms in gold, centered. “State of Oregon” and “1859” are inscribed in gold, above and below the coat of arms respectively.
      p The flag’s reverse is also a field of blue charged with a gold beaver on a log and facing right, centered.
      +survey(name, '62nd')
    .visual.flag
      +flag(name, path)
      img(src='/assets/images/flag-oregon-reverse.svg', alt='')

  .guide.wide
    .content
      h2 Iconography
      ul.visual.icon-list
        li.icon-item
          span.icon: img(src='/assets/images/flag-oregon-icon-stars.svg', alt='a shield shape of 33 stars')
          h4 33 stars
          p Oregon as the 33rd state to join the Union
        li.icon-item
          span.icon: img(src='/assets/images/flag-oregon-icon-eagle.svg', alt='an eagle with wings spread')
          h4 eagle
          p freedom, strength, peace
        li.icon-item
          span.icon: img(src='/assets/images/flag-oregon-icon-plow.svg', alt='a plow with a sheave of wheat')
          h4 plow, pickax, & wheat
          p animal husbandry, mining, farming
        li.icon-item
          span.icon: img(src='/assets/images/flag-oregon-icon-wagon.svg', alt='a covered wagon pulled by oxen')
          h4 conestoga wagon
          p the Oregon Trail
        li.icon-item
          span.icon: img(src='/assets/images/flag-oregon-icon-union.svg', alt='a banner inscribed with “The Union”')
          h4 the Union
          p Oregon as part of the United States
        li.icon-item
          span.icon: img(src='/assets/images/flag-oregon-icon-ships.svg', alt='two ships on the water at a distance with the sun radiating behind')
          h4 ships
          p the end of British rule
          p #[em Note:] The ships are a British Man-of-war departing the Pacific shore, while an American steamship arrives.
        li.icon-item
          span.icon: img(src='/assets/images/flag-oregon-icon-date.svg', alt='1859')
          h4 1859
          p the year Oregon gained statehood
        li.icon-item
          span.icon: img(src='/assets/images/flag-oregon-icon-beaver.svg', alt='a right-facing beaver on a log')
          h4 beaver
          p state animal, regional fauna

  .guide
    .content
      h2 Coat of Arms
      p Oregon has had a few versions of its seal and coat of arms. Previous iterations featured a salmon, Native American man, and the state motto “Alis Volat Propriis” which translates to “She flies with her own wings.”
      p This version was first designed in 1857 and adopted in 1859 when Oregon became a state.
    .visual.flag
      +coat-of-arms(name, path)

  .guide
    .content
      h2 Colors
      p The Oregon flag features the state colors of navy blue and gold.
      hr
      small Oregon statute describes the colors of the flag, but doesn’t provide Cable or Pantone values.
      small The hex values here are approximations.
    .visual.colors.primary
      .color
        .sample(class='blue')
        .name Navy Blue
        .hex #002a86
      .color
        .sample(class='gold')
        .name Gold
        .hex #ffea0f

  .guide
    .content
      h2 Construction
      p Oregon statute does not specify dimensions, but the flag is often produced with a proportion of 3:5.
    .visual
      +construction(name, path)

  .guide.wide
    .content
      +native-intro(name)
      ul.visual.flag-list
        +native-item('Affiliated Tribes of Northwest Indians', 'atni.jpg', 'alt', 'border')
        .flag-item
        .flag-item
        .flag-item

  +pagination('minnesota', 'Minnesota',
              'kansas', 'Kansas')

  .guide.wide.sources
    h3 Sources
    ul
      include includes/source-howe
      include includes/source-healy
      include includes/source-mitchell
      li.source Oregon Revised Statutes. Vol. 5 State Government, Government Procedures, Land Use. Chapter 186 State Emblems. Section § 186.010 State flag.
      li.souurce: a(href='https://oregonencyclopedia.org/articles/oregon_state_flag/#.XS5r-pNKg_V') Oregon Encyclopedia
      li.source: a(href='https://en.wikipedia.org/wiki/Flag_of_Oregon') Flag of Oregon - Wikipedia
      li.source: a(href='https://www.atnitribes.org/') Affiliated Tribes of Northwest Indians
