extends layout

block vars
  - var pageDescription = 'Design guide for the state flag of Oregon.'
  - var bodyClass = 'detail oregon'

block tweet
  a.tweet(href="https://ctt.ec/DidfP") Share on Twitter

block title
  | Oregon - 

block content

  +state('Oregon', '/assets/images/flag-oregon.svg', 'The Beaver State', 'February 14, 1859')

  .intro
    p Oregon has a unique state flag despite it featuring its coat of arms on a field of blue (like many others). Since Massachusetts updated its flag in 1971, Oregon is the only state with a different design on its reverse.
    p The state has only flown this one flag, though newspapers and legislators have tried to gain momentum for a redesign.
    p The flag was officially adopted relatively late on April 15, 1925.


  .guide
    .content
      h2 Flag design
      p The Oregon flag’s obverse features a field of blue with the state coat of arms placed at the center in gold. “State of Oregon” and “1859” are inscribed in gold, above and below the coat of arms respectively.
      p The flag’s reverse is also a field of blue with a gold beaver on a log and facing right placed at the center.
    .visual.flag
      img(src='/assets/images/flag-oregon.svg')
      img(src='/assets/images/flag-oregon-reverse.svg')

  .guide.wide
    .content
      h2 Iconography
      ul.visual.icon-list
        li.icon-item
          span.icon: img(src='/assets/images/flag-oregon-icon-stars.svg')
          h4 33 Stars
          p Oregon was the 33rd state to join the U.S.
        li.icon-item
          span.icon: img(src='/assets/images/flag-oregon-icon-eagle.svg')
          h4 Eagle
          p The eagle is borrowed from the Great Seal and represents freedom.
        li.icon-item
          span.icon: img(src='/assets/images/flag-oregon-icon-plow.svg')
          h4 Plow, Pickaxe, & Wheat
          p The plow, pickaxe, and sheaf of wheat represent Oregon’s industries of animal husbandry, mining, and farming.
        li.icon-item
          span.icon: img(src='/assets/images/flag-oregon-icon-wagon.svg')
          h4 Conestoga Wagon
          p The wagon and oxen symbolize the many pioneers who traveled the Oregon Trail.
        li.icon-item
          span.icon: img(src='/assets/images/flag-oregon-icon-union.svg')
          h4 The Union
          p Inscribed on a scroll, “The Union” represents Oregon’s part of the U.S.
        li.icon-item
          span.icon: img(src='/assets/images/flag-oregon-icon-ships.svg')
          h4 Ships
          p A British Man-of-war departs the Pacific shore, while an American steamship arrives, representing the end of British rule.
        li.icon-item
          span.icon: img(src='/assets/images/flag-oregon-icon-date.svg')
          h4 1859
          p The year Oregon gained statehood.
        li.icon-item
          span.icon: img(src='/assets/images/flag-oregon-icon-beaver.svg')
          h4 Beaver
          p Common in the Oregon wilderness, the beaver is the state animal.

  .guide
    .content
      h2 Coat of Arms
      p Oregon has had a few versions of its seal and coat of arms. Previous iterations featured a salmon, Native American man, and the state motto “Alis Volat Propriis” which translates to “She flies with her own wings.”
      p This version was first designed in 1857 and adopted in 1859 when Oregon became a state.
    .visual.flag
      img(src='/assets/images/coat-of-arms-oregon.jpg')

  .guide
    .content
      h2 Colors
      p Oregon statute only specifies that navy blue and gold (the state colors) be used on the flag.
    .visual.colors.primary
      .color
        .sample(class='blue')
        .name Navy Blue
        .hex #002a86
      .color
        .sample(class='gold')
        .name Gold
        .hex #ffea0f

  .guide
    .content
      h2 Production
      p Oregon statute does not specify dimensions, but the flag is often produced with a proportion of 3:5.
      p If resized, it will maintain these proportions.
    .visual
      img(src='/assets/images/flag-oregon-dimensions.svg')

  .guide.wide
    .content
      h2 Flags of the Native Peoples
      p Lalalala
    ul.visual.flag-list
      +flag('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag('Delaware', 'delaware', '/assets/images/flag-arizona.png')

  .guide.wide
    .content
      h2 Similar Flags
      p Lalalala
    ul.visual.flag-list
      +flag('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag('Delaware', 'delaware', '/assets/images/flag-arizona.png')

  .guide.wide.sources
    h3 Sources
    ul
      li.source Howe, Randy. Flags of the Fifty States: Their Colorful Histories and Significance. Guilford: The Globe Pequot Press, 2002. Print.
      li.source Mitchell, Henry. The State Arms of the Union. Boston: L. Prang & Co, 1876.
      li.source 2017 Oregon Revised Statutes. Vol. 5 State Government, Government Procedures, Land Use. Chapter 186 State Emblems. Section § 186.010 State flag.
      li.souurce: a(href='https://oregonencyclopedia.org/articles/oregon_state_flag/#.XS5r-pNKg_V') Oregon Encyclopedia
      li.source: a(href='https://en.wikipedia.org/wiki/Flag_of_Oregon') Wikipedia
