extends layout

block vars
  - var pageDescription = 'Design guide for the state flag of Pennsylvania.'
  - var bodyClass = 'detail pennsylvania'

block tweet
  a.tweet(href="https://ctt.ec/DidfP") Share on Twitter

block title
  | Pennsylvania - 

block content

  +state('Pennsylvania', '/assets/images/flag-pennsylvania.svg', 'The Keystone State', 'December 12, 1787')

  .intro
    p Pennsylvania was the second state to ratify the U.S. Constitution (just days after Delaware).
    p The state’s General Assembly approved a first official flag in 1799, prominently featuring the state coat of arms. However, inconsistencies abounded so a few years later the flag was standardized to the version known today.
    p The flag was officially adopted June 13, 1907.

  .guide
    .content
      h2 Flag design
      p The flag features a field of blue on which the state coat of arms is embroidered.
    .visual.flag
      img(src='/assets/images/flag-pennsylvania.svg')

  .guide.wide
    .content
      h2 Iconography
      ul.visual.icon-list
        li.icon-item
          span.icon: img(src='/assets/images/flag-pennsylvania-icon-horse.svg')
          h4 Horse
          p Horses were crucial for transport and the agriculture of Pennsylvania.
        li.icon-item
          span.icon: img(src='/assets/images/flag-pennsylvania-icon-corn.svg')
          h4 Corn
          p A Native American corn stalk is a reminder of Pennsylvania’s history.
        li.icon-item
          span.icon: img(src='/assets/images/flag-pennsylvania-icon-olive.svg')
          h4 Olive branch
          p A common symbol for peace, the olive branch represents a hopeful future.
        li.icon-item
          span.icon: img(src='/assets/images/flag-pennsylvania-icon-eagle.svg')
          h4 Eagle
          p The bald eagle symbolizes Pennsylvania’s strength in sovereignty.
        li.icon-item
          span.icon: img(src='/assets/images/flag-pennsylvania-icon-ship.svg')
          h4 Ship
          p The ship represents coastal commerce, especially by the city of Philadelphia, a crucial port.
        li.icon-item
          span.icon: img(src='/assets/images/flag-pennsylvania-icon-wheat.svg')
          h4 Wheat
          p Borrowed from Sussex County (formerly part of Pennsylvania), wheat references a rich agricultural tradition.
        li.icon-item
          span.icon: img(src='/assets/images/flag-pennsylvania-icon-plow.svg')
          h4 Plow
          p The plow is also a symbol of Pennsylvania’s rich natural resources.

  .guide
    .content
      h2 Coat of Arms
      p Somewhat like the original flag, there were many inconsistent versions of the coat of arms between 1778 and 1875. The official coat of arms was adopted in 1874, designed almost 100 years earlier by Caleb Lownes, a Philadelphia Quaker.
      p The coat of arms also features the state’s motto “Virtue, Liberty, and Independence.”
    .visual.flag
      img(src='/assets/images/coat-of-arms-pennsylvania.jpg')

  .guide
    .content
      h2 Colors
      p The flag must use the same blue of the United States flag, required since the standardization in 1907.
    .visual
      .colors.primary
        .color
          .sample(class='us-blue')
          .name Blue
          .hex #00205b
          small PMS 281
      .colors.secondary
        .color
          .sample(class='grey')
          .name Grey
          .hex #414141
        .color
          .sample(class='gold')
          .name Gold
          .hex #dca90d
        .color
          .sample(class='red')
          .name Red
          .hex #d10b10
        .color
          .sample(class='green')
          .name Green
          .hex #076a21

  .guide
    .content
      h2 Production
      p The flag should have a proportion of 2:3. So if the flag has a hoist of 4 feet, its fly should be 6 feet.
      p If resized, it must maintain these proportions.
    .visual
      img(src='/assets/images/flag-pennsylvania-dimensions.svg')

  .guide.wide
    .content
      h2 Flags of the Native Peoples
      p Lalalala
    ul.visual.flag-list
      +flag('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag('Delaware', 'delaware', '/assets/images/flag-arizona.png')

  .guide.wide
    .content
      h2 Similar Flags
      p Lalalala
    ul.visual.flag-list
      +flag('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag('Delaware', 'delaware', '/assets/images/flag-arizona.png')

  .guide.wide.sources
    h3 Sources
    ul
      li.source Howe, Randy. Flags of the Fifty States: Their Colorful Histories and Significance. Guilford: The Globe Pequot Press, 2002. Print.
      li.source Mitchell, Henry. The State Arms of the Union. Boston: L. Prang & Co, 1876.
      li.source: a(href='https://www.monticello.org/site/research-and-collections/caleb-lownes') Thomas Jefferson Foundation, Inc.
      li.souurce: a(href='https://statesymbolsusa.org/symbol-or-officially-designated-item/pennsylvania/state-coat-arms/pennsylvania-coat-arms') State Symbols USA
      li.source: a(href='https://visitpa.com/pennsylvania-facts-history') Visit PA
      li.source: a(href='https://en.wikipedia.org/wiki/Coat_of_arms_of_Pennsylvania') Wikipedia
