extends layout

block vars
  - var bodyClass = 'detail'
  - var category = 'state'
  - var name = 'Pennsylvania'
  - var path = 'pennsylvania'

block tweet
  a.tweet(href="https://ctt.ec/DidfP") Share on Twitter

block content

  +state(name, path, 'The Keystone State', 'December 12, 1787')

  .intro
    p Pennsylvania was the second state (commonwealth) to ratify the U.S. Constitution (just days after Delaware).
    p The General Assembly approved a first official flag in 1799, prominently featuring the Pennsylvania coat of arms. However, inconsistencies abounded so a few years later the flag was standardized to the version known today.
    p The flag was officially adopted June 13, 1907.

  .guide
    .content
      h2 Flag design
      p The Pennsylvania flag features a field of blue charged with the commonwealth coat of arms, centered.
      +survey(name, '57th')
    .visual.flag
      +flag(name, path)

  .guide.wide
    .content
      h2 Iconography
      ul.visual.icon-list
        li.icon-item
          span.icon: img(src='/assets/images/flag-pennsylvania-icon-horse.svg', alt='a right-facing horse on its hind legs')
          h4 horse
          p transportation, agriculture
        li.icon-item
          span.icon: img(src='/assets/images/flag-pennsylvania-icon-corn.svg', alt='an ear of corn')
          h4 corn
          p Native peoples, history
        li.icon-item
          span.icon: img(src='/assets/images/flag-pennsylvania-icon-olive.svg', alt='an olive branch')
          h4 olive branch
          p peace, a hopeful future.
        li.icon-item
          span.icon: img(src='/assets/images/flag-pennsylvania-icon-eagle.svg', alt='a left-facing eagle')
          h4 eagle
          p strength in sovereignty
        li.icon-item
          span.icon: img(src='/assets/images/flag-pennsylvania-icon-ship.svg', alt='a ship with three masts')
          h4 ship
          p coastal commerce, the port of Philadelphia
        li.icon-item
          span.icon: img(src='/assets/images/flag-pennsylvania-icon-wheat.svg', alt='three sheaves of wheat')
          h4 wheat
          p rich agricultural tradition
        li.icon-item
          span.icon: img(src='/assets/images/flag-pennsylvania-icon-plow.svg', alt='a plow')
          h4 plow
          p rich natural resources
        li.icon-item
          span.icon: img(src='/assets/images/flag-pennsylvania-icon-motto.svg', alt='“Virtue Liberty Independence” inscribed on a banner')
          h4 motto
          p virtue, liberty, independence

  .guide
    .content
      h2 Coat of Arms
      p Somewhat like the original flag, there were many inconsistent versions of the coat of arms between 1778 and 1875. The official coat of arms was adopted in 1874, designed almost 100 years earlier by Caleb Lownes, a Philadelphia Quaker.
    .visual.flag
      +coat-of-arms(name, path)

  .guide
    .content
      h2 Colors
      p The flag must use the same blue as the U.S. national flag, required since the standardization in 1907.
      hr
      small Pennsylvania statute does not provide Cable or Pantone values for the colors of the coat of arms.
      small The hex values here are approximations.
    .visual
      .colors.primary
        include includes/color-us-blue
      .colors.secondary
        .color
          .sample(class='grey')
          .name Grey
          .hex #414141
        .color
          .sample(class='gold')
          .name Gold
          .hex #dca90d
        .color
          .sample(class='red')
          .name Red
          .hex #d10b10
        .color
          .sample(class='green')
          .name Green
          .hex #076a21

  .guide
    .content
      h2 Construction
      p Pennsylvania statute specifies the dimensions of the flag in feet and inches. It should have a hoist of 4 feet, 6 inches and a fly of 6 feet, 2 inches.
      p This is an unusual 27:37 proportion, so the flag is usually produced with a proportion of 2:3.
      p It does not specify dimensions for the coat of arms beyond “proportionate size.”
      p The flag can also have knotted fringe of yellow silk, measuring 2 and 1/2 inches wide and a cord of white and blue silk, measuring 8 feet, 6 inches.
    .visual
      +construction(name, path)

  .guide.wide
    .content
      h2 Flags of the Native Peoples
      p Lalalala
    ul.visual.flag-list
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')

  .guide.wide
    .content
      h2 Similar Flags
      p Lalalala
    ul.visual.flag-list
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')

  +pagination('delaware', 'Delaware',
              'new-jersey', 'New Jersey')

  .guide.wide.sources
    h3 Sources
    ul
      include includes/source-howe
      include includes/source-mitchell
      li.source Pennsylvania Statutes. Title 44 P.S. Legal Holidays and Observances. Section § 45. Flag of Pennsylvania;  size and emblems.
      li.source: a(href='https://www.monticello.org/site/research-and-collections/caleb-lownes') Thomas Jefferson Foundation, Inc.
      li.souurce: a(href='https://statesymbolsusa.org/symbol-or-officially-designated-item/pennsylvania/state-coat-arms/pennsylvania-coat-arms') State Symbols USA
      li.source: a(href='https://visitpa.com/pennsylvania-facts-history') Visit PA
      li.source: a(href='https://en.wikipedia.org/wiki/Coat_of_arms_of_Pennsylvania') Coat of Arms of Pennsylvania - Wikipedia
