extends layout

block vars
  - var bodyClass = 'detail'
  - var category = 'state'
  - var name = 'South Carolina'
  - var path = 'south-carolina'

block content

  +state(name, path, 'The Palmetto State', 'May 23, 1788')

  .intro
    p The South Carolina flag’s origins date back to the American Revolutionary War when Colonel William Moultrie designed their first militia flag, a silver crescent on a field of blue.
    p It has evolved since then (to include the palmetto tree), with one iteration having the shortest lifespan of any official U.S. state flag: just two days.
    p The current flag was adopted January 28, 1861.

  .guide
    .content
      h2 Flag design
      p The South Carolina flag features a white palmetto tree centered on a field of indigo with a white crescent in the upper left.
      +survey(name, '10th')
    .visual.flag
      +flag(name, path)

  .guide.wide
    .content
      h2 Iconography
      ul.visual.icon-list
        li.icon-item
          span.icon: img(src='/assets/images/flag-south-carolina-icon-crescent.svg', alt='a crescent shape')
          h4 crescent
          p military troops’ silver crescent on the front of their caps
          p #[em Note:] The crescent is sometimes called a “gorget” although gorgets are typically worn around the throat.
        li.icon-item
          span.icon: img(src='/assets/images/flag-south-carolina-icon-palmetto.svg', alt='a palmetto tree')
          h4 sabal palmetto
          p a source of strong defense against British cannons during a fort attack on Sullivan’s Island
        li.icon-item

  .guide
    .content
      h2 Colors
      p The Moultrie Flag’s blue was chosen to match the militia’s uniforms, however there are no official color guidelines.
      hr
      small South Carolina statute does not provide Cable or Pantone values for the indigo of the flag.
      small The hex value here is approximate.
    .visual.colors.primary
      .color
        .sample(class='indigo')
        .name Indigo
        .hex #003366
      include includes/color-white

  .guide
    .content
      h2 Construction
      p Similar to the colors of the flag, South Carolina has no official guidelines for the size of the flag nor the treatment of the crescent and palmetto. Because of this, #[a(href='https://www.postandcourier.com/politics/can-south-carolina-fix-its-state-flag/article_8a12ebb6-0112-11e8-82fd-0bf4949fdfe1.html') the flag sees a lot of variation].
      p Regardless, the flag is often produced with a proportion of 2:3.
    .visual
      +construction(name, path)

  .guide.wide.timeline
    .content
      h2 Previous iterations
      p Despite a variety of flags flying over South Carolina, only two have been officially recognized.
      ul.visual.flag-list
        li.flag-item
          span.flag: img(src='/assets/images/flag-south-carolina-moultrie.svg', alt='a field of blue with a white crescent in the upper left and inscribed with “Liberty”')
          h4 Moultrie Flag
          p The flag supplied to militia units during the Revolutionary War, designed by William Moultrie.
        li.flag-item
          span.flag: img.border(src='/assets/images/flag-south-carolina-draft.svg', alt='a field of white charged with a green palmetto tree off-centered; in the upper left is a blue canton charged with a white crescent')
          h4 Unofficial draft
          p A draft with the palmetto, the design later credited to Alexander S. Salley and Ellen Heyward Jervey.
        li.flag-item
          span.flag: img(src='/assets/images/flag-south-carolina-two-day.svg', alt='a field of blue charged with a white oval containing a gold palmetto tree; in the upper left is a white crescent')
          h4 January 26–28, 1861
          p The Two-Day Flag featured a gold palmetto within a white circle, changed moments later.
        li.flag-item
          span.flag: img(src='/assets/images/flag-south-carolina.svg', alt='the current flag')
          h4 January 28, 1861–Present
          p The current state flag of South Carolina.

  +pagination('maryland', 'Maryland',
              'new-hampshire', 'New Hampshire')

  .guide.wide.sources
    h3 Sources
    ul
      include includes/source-howe
      li.source: a(href='https://www.scstatehouse.gov/studentpage/coolstuff/seal.shtml') South Carolina State House
      li.souurce: a(href='https://www.britannica.com/topic/flag-of-South-Carolina') Encyclopedia Britannica
      li.source: a(href='https://www.postandcourier.com/news/the-history-behind-why-south-carolina-has-no-formal-template/article_f46ed714-5490-11e8-9b41-0304ddd08ad7.html') The Post and Courier
      li.source: a(href='https://chstoday.6amcity.com/south-carolina-state-flag-history/') CHS Today
      li.source: a(href='https://en.wikipedia.org/wiki/Flag_of_South_Carolina') Flag of South Carolina - Wikipedia
