extends layout

block vars
  - var bodyClass = 'detail'
  - var category = 'state'
  - var name = 'Tennessee'
  - var path = 'tennessee'

block content

  +state(name, path, 'The Volunteer State', 'June 1, 1796')

  .intro
    p Tennessee has had two official state flags. The first was adopted 1 May 1897, but did not find widespread popularity.
    p The current flag was designed by Captain LeRoy Reeves of the Tennessee Infantry, which honors the three divisions of Tennessee. It’s one of few U.S. flags designed with intentional consideration for how it will look draped on a wind-free day.
    p It was officially adopted April 17, 1905.

  .guide
    .content
      h2 Flag design
      p The Tennessee flag features a field of red.
      p At the free end is a uniform, vertical stripe of blue, fimbriated with a stripe of white.
      p Centered on the field of red is a circle of blue, also fimbriated with white. Upon the blue circle are three white five-pointed stars.
      +survey(name, '14th')
    .visual.flag
      +flag(name, path)

  .guide.wide
    .content
      h2 Iconography
      ul.visual.icon-list
        li.icon-item
          span.icon: img(src='/assets/images/flag-tennessee-icon-stars.svg', alt='three stars')
          h4 3 stars
          p the three divisions of Tennessee: East Tennessee, Middle Tennessee, and West Tennessee
        li.icon-item
          span.icon: img(src='/assets/images/flag-tennessee-icon-circle.svg', alt='a bordered circle')
          h4 circle of blue
          p the three divisions of Tennessee as one “indissoluble trinity”
        li.icon-item
          span.icon: img(src='/assets/images/flag-tennessee-icon-stripes.svg', alt='two stripes, one thinner than the other')
          h4 stripes
          p visual interest when the flag hangs limp
        li.icon-item

  .guide
    .content
      h2 Colors
      p The Tennessee flag uses the same red, white, and blue as the U.S. national flag.
    .visual.colors.primary
      include includes/color-us-red
      include includes/color-us-blue
      include includes/color-us-white

  .guide
    .content
      h2 Construction
      p The flag should have a proportion of 3:5.
      p The blue stripe is 1/8 the width of the hoist and the white stripe is 1/5 the width of the blue stripe. The diameter of the blue circle is one half the hoist.
      p The three stars are the largest they can be without touching each other or the edge of the blue circle. None of their sides should be parallel with the flag edges.
    .visual
      +construction(name, path)

  .guide
    .content
      h2 Previous iteration
      p The first official flag, used from 1897-1905, featured three diagonal sections in red, blue, and white. Tennessee’s nickname “The Volunteer State” is inscribed in gold, along with the number 16 in blue, representing Tennessee as the 16th state.
    .visual.flag
      img.border(src='/assets/images/flag-tennessee-1897-1905.svg', alt='')

  .guide.wide
    .content
      h2 Flags of the Native Peoples
      p Lalalala
    ul.visual.flag-list
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')

  +pagination('kentucky', 'Kentucky',
              'ohio', 'Ohio')

  .guide.wide.sources
    h3 Sources
    ul
      include includes/source-howe
      li.source Tennessee Code. Title 4 - State Government. Chapter 1 - General Provisions. Part 3 - State Symbols. Section § 4-1-301 - State flag or banner.
      li.source: a(href='https://sos.tn.gov/products/state-flag') Tennessee Secretary of State
      li.source: a(href='https://www.britannica.com/topic/flag-of-Tennessee') Encyclopedia Britannica
      li.source: a(href='https://en.wikipedia.org/wiki/Flag_of_Tennessee') Flag of Tennessee - Wikipedia
