extends layout

block vars
  - var bodyClass = 'detail'
  - var category = 'state'
  - var name = 'The United States'
  - var path = 'usa'

block content

  header.territory
    .flex
      h1 #{name}
      .flag
        img(src='/assets/images/flag-usa.svg',
            alt='flag of the United States of America',
            class='border')
    .meta
      .date Established 
        span July 4, 1776

  .intro
    p With much of the evidence lost to history, historians disagree on which individuals designed and constructed early versions of the United States flag.
    p Notably, Francis Hopkinson claimed he designed the first flag and Betsy Ross, because of her grandson, has been credited with constructing it. Historians remain skeptical.
    p The flag has seen 27 different versions (and countless variations) since its official adoption June 14, 1777.
    p As new states joined, corresponding stars were added to the flag. With few specifications in place, a variety of creative star arrangements were produced. The orderly pattern of offset rows wasn’t standardized until 1959.
    p The current 50-star flag was adopted July 4, 1960.

  .guide
    .content
      h2 Composition
      p The U.S. flag features thirteen horizontal stripes of alternating red and white, seven red and six white.
      p In the upper hoist canton is a union of blue with fifty white five-pointed stars arranged in nine horizontal offset rows.
    .visual.flag
      +flag(name, path, 'border')

  .guide.wide
    .content
      h2 Iconography
      ul.visual.icon-list
        li.icon-item
          span.icon: img(src='/assets/images/flag-usa-icon-stars.svg', alt='fifty stars')
          h4 50 stars
          p the fifty states of the Union
        li.icon-item
          span.icon: img(src='/assets/images/flag-usa-icon-stripes.svg', alt='thirteen horizontal stripes')
          h4 13 stripes
          p the original thirteen colonies
        li.icon-item

  .guide
    .content
      h2 Colors
      p The official colors of the flag are white, “Old Glory Red” and “Old Glory Blue.”
      p There are a lot of varying color values in use due to the difficulty of interpreting Cable colors for digital screens.
      p The values here are provided by the U.S. State Department and the U.S. Embassy in the U.K.
      p Red represents valor and bravery, white symbolizes purity and innocence, and the blue stands for vigilance, perseverance, and justice.
    .visual.colors.primary
      include includes/color-us-red
      include includes/color-us-white
      include includes/color-us-blue

  .guide
    .content
      h2 Construction
      p U.S. Executive Order 10834 specifies proportions for the flag, as recreated here.
      p The U.S. flag has a proportion of 1:1.9.
      p Each stripe is 1/13 the width of the hoist and each star is 4/5 the width of a stripe.
      p The union is the width of seven stripes and 2/5 the length of the fly.
    .visual
      +construction(name, path)

  .guide.wide.timeline
    .content
      h2 Previous iterations
      p For years every flag was constructed by hand. Because there were no specifications for dimension, color, or star arrangement, the flag saw #[a(href='http://www.rareflags.com/index.htm') a plethora of one-off variations]. Shown here is a timeline of each official iteration (including notable variations).
      ul.visual.flag-list
        li.flag-item
          .date Pre–1777
          span.flag: img.border(src='/assets/images/flag-usa-1775-1777.svg', alt='')
          h4 Continential Colors
        li.flag-item
          .date 1777–1795
          span.flag: img.border(src='/assets/images/flag-usa-1777-1795.svg', alt='')
          h4 13 stars
          small The original 13 colonies: Delaware, Pennsylvania, New Jersey, Georgia, Connecticut, Massachusetts, Maryland, South Carolina, New Hampshire, Virginia, New York, North Carolina, Rhode Island
        li.flag-item.variant
          span.flag: img.border(src='/assets/images/flag-usa-1777-1795-hopkinson.svg', alt='')
          h4 Francis Hopkinson flag
          small 13-star variant
        li.flag-item.variant
          span.flag: img.border(src='/assets/images/flag-usa-1777-1795-ross.svg', alt='')
          h4 Betsy Ross flag
          small 13-star variant
        li.flag-item.variant
          span.flag: img.border(src='/assets/images/flag-usa-1777-1795-cowpens.svg', alt='')
          h4 Cowpens flag
          small 13-star variant
        li.flag-item
          .date 1795–1818
          span.flag: img.border(src='/assets/images/flag-usa-1795-1818.svg', alt='')
          h4 15 stars, 15 stripes
          small Vermont, Kentucky
        li.flag-item.variant
          span.flag: img.border(src='/assets/images/flag-usa-1795-1818-variant.svg', alt='')
          h4 Star-Spangled Banner
          small 15-star variant that inspired Francis Scott Key’s “Defence of Fort M'Henry”
        li.flag-item
          .date 1818–1819
          span.flag: img.border(src='/assets/images/flag-usa-1818-1819.svg', alt='')
          h4 20 stars, 13 stripes
          small Tennessee, Ohio, Louisiana, Indiana, Mississippi
        li.flag-item.variant
          span.flag: img.border(src='/assets/images/flag-usa-1818-1819-variant.svg', alt='')
          h4 Great Star flag
          small 20-star variant
        li.flag-item
          .date 1819–1820
          span.flag: img.border(src='/assets/images/flag-usa-1819-1820.svg', alt='')
          h4 21 stars
          small Illinois
        li.flag-item
          .date 1820–1822
          span.flag: img.border(src='/assets/images/flag-usa-1820-1822.svg', alt='')
          h4 23 stars
          small Alabama, Maine
        li.flag-item
          .date 1822–1836
          span.flag: img.border(src='/assets/images/flag-usa-1822-1836.svg', alt='')
          h4 24 stars
          small Missouri
        li.flag-item
          .date 1836–1837
          span.flag: img.border(src='/assets/images/flag-usa-1836-1837.svg', alt='')
          h4 25 stars
          small Arkansas
        li.flag-item
          .date 1837–1845
          span.flag: img.border(src='/assets/images/flag-usa-1837-1845.svg', alt='')
          h4 26 stars
          small Michigan
        li.flag-item.variant
          span.flag: img.border(src='/assets/images/flag-usa-1837-1845-variant.svg', alt='')
          h4 Great Star flag
          small 26-star variant
        li.flag-item
          .date 1845–1846
          span.flag: img.border(src='/assets/images/flag-usa-1845-1846.svg', alt='')
          h4 27 stars
          small Florida
        li.flag-item
          .date 1846–1847
          span.flag: img.border(src='/assets/images/flag-usa-1846-1847.svg', alt='')
          h4 28 stars
          small Texas
        li.flag-item
          .date 1847–1848
          span.flag: img.border(src='/assets/images/flag-usa-1847-1848.svg', alt='')
          h4 29 stars
          small Iowa
        li.flag-item.variant
          span.flag: img.border(src='/assets/images/flag-usa-1847-1848-variant.svg', alt='')
          h4 Diamond flag
          small 29-star variant
        li.flag-item
          .date 1848–1851
          span.flag: img.border(src='/assets/images/flag-usa-1848-1851.svg', alt='')
          h4 30 stars
          small Wisconsin
        li.flag-item
          .date 1851–1858
          span.flag: img.border(src='/assets/images/flag-usa-1851-1858.svg', alt='')
          h4 31 stars
          small California
        li.flag-item
          .date 1858–1859
          span.flag: img.border(src='/assets/images/flag-usa-1858-1859.svg', alt='')
          h4 32 stars
          small Minnesota
        li.flag-item
          .date 1859–1861
          span.flag: img.border(src='/assets/images/flag-usa-1859-1861.svg', alt='')
          h4 33 stars
          small Oregon
        li.flag-item.variant
          span.flag: img.border(src='/assets/images/flag-usa-1859-1861-variant1.svg', alt='')
          h4 Fort Sumter flag
          small 33-star variant
        li.flag-item.variant
          span.flag: img.border(src='/assets/images/flag-usa-1859-1861-variant2.svg', alt='')
          h4 Great Star flag
          small 33-star variant
        li.flag-item.variant
          span.flag: img.border(src='/assets/images/flag-usa-1859-1861-variant3.svg', alt='')
          h4 Variation
          small 33-star variant
        li.flag-item
          .date 1861–1863
          span.flag: img.border(src='/assets/images/flag-usa-1861-1863.svg', alt='')
          h4 34 stars
          small Kansas
        li.flag-item.variant
          span.flag: img.border(src='/assets/images/flag-usa-1861-1863-variant.svg', alt='')
          h4 Star flag
          small 34-star variant
        li.flag-item
          .date 1863–1865
          span.flag: img.border(src='/assets/images/flag-usa-1863-1865.svg', alt='')
          h4 35 stars
          small West Virginia
        li.flag-item.variant
          span.flag: img.border(src='/assets/images/flag-usa-1863-1865-variant.svg', alt='')
          h4 Medallion flag
          small 35-star variant
        li.flag-item
          .date 1865–1867
          span.flag: img.border(src='/assets/images/flag-usa-1865-1867.svg', alt='')
          h4 36 stars
          small Nevada
        li.flag-item.variant
          span.flag: img.border(src='/assets/images/flag-usa-1865-1867-variant.svg', alt='')
          h4 Wagon Wheel flag
          small 36-star variant
        li.flag-item
          .date 1867–1877
          span.flag: img.border(src='/assets/images/flag-usa-1867-1877.svg', alt='')
          h4 37 stars
          small Nebraska
        li.flag-item.variant
          span.flag: img.border(src='/assets/images/flag-usa-1867-1877-variant1.svg', alt='')
          h4 Variation
          small 37-star variant
        li.flag-item.variant
          span.flag: img.border(src='/assets/images/flag-usa-1867-1877-variant2.svg', alt='')
          h4 Medallion Centennial flag
          small 37-star variant
        li.flag-item
          .date 1877–1890
          span.flag: img.border(src='/assets/images/flag-usa-1877-1890.svg', alt='')
          h4 38 stars
          small Colorado
        li.flag-item.variant
          span.flag: img.border(src='/assets/images/flag-usa-1877-1890-variant.svg', alt='')
          h4 Concentric circles
          small 38-star variant
        li.flag-item
          .date 1890–1891
          span.flag: img.border(src='/assets/images/flag-usa-1890-1891.svg', alt='')
          h4 43 stars
          small North Dakota, South Dakota, Montana, Washington, Idaho
        li.flag-item
          .date 1891–1896
          span.flag: img.border(src='/assets/images/flag-usa-1891-1896.svg', alt='')
          h4 44 stars
          small Wyoming
        li.flag-item
          .date 1896–1908
          span.flag: img.border(src='/assets/images/flag-usa-1896-1908.svg', alt='')
          h4 45 stars
          small Utah
        li.flag-item
          .date 1908–1912
          span.flag: img.border(src='/assets/images/flag-usa-1908-1912.svg', alt='')
          h4 46 stars
          small Oklahoma
        li.flag-item
          .date 1912–1959
          span.flag: img.border(src='/assets/images/flag-usa-1912-1959.svg', alt='')
          h4 48 stars
          small New Mexico, Arizona
        li.flag-item
          .date 1959–1960
          span.flag: img.border(src='/assets/images/flag-usa-1959-1960.svg', alt='')
          h4 49 stars
          small Alaska
        li.flag-item
          .date 1960–Present
          span.flag: img.border(src='/assets/images/flag-usa.svg', alt='')
          h4 50 stars
          small Hawaii

  +pagination('northern-mariana-islands', 'Northern Mariana Islands',
              'delaware', 'Delaware')

  .guide.wide.sources
    h3 Sources
    ul
      li.source U.S. Code. Title 4. FLAG AND SEAL, SEAT OF GOVERNMENT, AND THE STATES. Chapter 1. THE FLAG. Sections 1-2.
      li.source: a(href='https://www.scstatehouse.gov/studentpage/coolstuff/seal.shtml') United States Executive Order 10834, Aug. 21, 1959.
      li.souurce: a(href='https://en.wikisource.org/wiki/Page:Title_3_CFR_1959-1963_Compilation.djvu/368') Title 3 - The President, Code of Federal Regulations, 1959-1963 Compilation. January 1, 1959 to December 31, 1963.
      li.source: a(href='https://uk.usembassy.gov/our-relationship/u-s-flag-facts/') U.S. Embassy and Consulates in the United Kingdom
      li.source: a(href='https://eca.state.gov/files/bureau/state_department_u.s._flag_style_guide.pdf') United States Department of State Identity and Marking Standards, June, 2012.
      li.source: a(href='https://www.usa.gov/flag') usa.gov
      li.source: a(href='http://www.ushistory.org/betsy/flagfact.html') ushistory.org
      li.source: a(href='http://www.rareflags.com/index.htm') rareflags.com
      li.source: a(href='https://arago.si.edu/exhibit_481_6.html') Smithsonian National Postal Museum
      li.source: a(href='https://en.wikipedia.org/wiki/Flag_of_the_United_States') Flag of the United States - Wikipedia
