extends layout

block vars
  - var bodyClass = 'detail'
  - var category = 'state'
  - var name = 'Utah'
  - var path = 'utah'

block content

  +state(name, path, 'The Beehive State', 'January 4, 1896')

  .intro
    p In prepration for the 1903 St. Louis World’s Fair, the Utah Daughters of the American Revolution (DAR) created an unofficial flag. It was embroidered by Agnes Frenelius of Zion’s Cooperative Mercantile Institution.
    p The flag, a field of blue with the coat of arms in white, was officially adopted March 9, 1911.
    p In 1913, a full color version was adopted.
    p In 1922, Dollie McMonegal embroidered the flag with an error (the year 1847 was moved outside of the shield). This was copied and reproduced for years, until the error was noticed by vexillologist John M. Hartvigsen in the 1980s.
    p It wasn’t until February 2011 that Utah adopted a concurrent resolution requiring flag makers to fix the mistake.
    p In 2021, the Utah State Flag Task Force was created to redesign the flag. A final design was chosen in 2023, merging elements from public submissions by Mark Brooks, Sarina Ehrgott, and early prototype designs by Ben Barnes. The new flag was officially adopted March 9, 2024.

  .guide
    .content
      h2 Composition
      p The Utah flag features two irregular, horizontal lines creating three segments of blue, white, and red. The higher horizontal line forms five peaks.
      p At the center, a blue hexagon contains a smaller hexagon outlined in gold. Inside the hexagon is a gold beehive consisting of five hive sections. Below is a five-pointed white star.
      +survey(name, '58th*', '*The flag voted on was the 2011-2024 version (see Previous Iterations section).')
    .visual.flag
      +flag(name, path)

  .guide.wide
    .content
      h2 Iconography
      ul.visual.icon-list
        li.icon-item
          span.icon: img(src='/assets/images/flag-utah-icon-beehive.svg', alt='a beehive made of five geometric segments')
          h4 beehive
          p industry, community, 1847 when pioneers settled in Utah
        li.icon-item
          span.icon: img(src='/assets/images/flag-utah-icon-star.svg', alt='five-pointed star')
          h4 five-pointed star
          p hope, 1896 when Utah gained statehood, the five historical tribal nations
        li.icon-item
          span.icon: img(src='/assets/images/flag-utah-icon-hexagon.svg', alt='hexagon')
          h4 hexagon
          p strength of Utah’s people
        li.icon-item
          span.icon: img(src='/assets/images/flag-utah-icon-sky.svg', alt='segment with peaked lower border')
          h4 top segment
          p Utah’s skies, faith
        li.icon-item
          span.icon: img(src='/assets/images/flag-utah-icon-mountains.svg', alt='segment with peaked upper embroidered')
          h4 middle segment
          p snowy mountains, indigenous people
        li.icon-item
          span.icon: img(src='/assets/images/flag-utah-icon-rocks.svg', alt='segement with triangular cutout')
          h4 bottom segment
          p Utah’s red rocks and unique landscape, perseverance

  .guide
    .content
      h2 Colors
      p The official colors of the flag are white, gold, red, and blue.
      hr
      small Utah statute does not yet specify Cable or Pantone values.
      small The hex values here are approximations.
    .visual.colors.primary
      .color
        .sample(class='blue')
        .name Blue
        .hex #071d49
      include includes/color-white
      .color
        .sample(class='red')
        .name Red
        .hex #aa0200
      .color
        .sample(class='gold')
        .name Gold
        .hex #ffb81d

  .guide
    .content
      h2 Construction
      p The Utah state flag should be constructed with a 3:5 width to length proportion.
      p Utah statute does not yet specify any other proportions.
    .visual
      +construction(name, path)

  .guide.wide.timeline
    .content
      h2 Previous iterations
      ul.visual.flag-list
        li.flag-item
          span.flag: img(src='/assets/images/flag-utah-1903-1913.jpg', alt='a field of blue charged with the state coat of arms in white')
          h4 1903–1913
          p The original DAR flag, adopted in 1911.
        li.flag-item
          span.flag: img(src='/assets/images/flag-utah-1913-2011.jpg', alt='a field of blue charged with the coat of arms in full color and surrounded by a gold circle; the year 1947 is placed below the shield')
          h4 1913–2011
          p The coat of arms is changed to full color, encircled with gold. The incorrect McMonegal version is shown here.
        li.flag-item
          span.flag: img(src='/assets/images/flag-utah-2011-prototype.jpg', alt='similar to the historic flag but with slightly different artwork')
          h4 2011–2024
          p A prototype design by the Colonial Flag Company.
        li.flag-item
          span.flag: img(src='/assets/images/flag-utah-2011-2024.svg', alt='the historic flag featuring the coat of arms')
          h4 2011–2024
          p An enhanced version of the 2011 prototype created by Perry Van Schelt. Designated the “historic state flag” in 2023 and replaced in 2024.
        li.flag-item
          span.flag: img(src='/assets/images/flag-utah.svg', alt='the current flag featuring the beehive and five-pointed star')
          h4 2024–Present
          p The current flag, adopted in 2024.

  +pagination('wyoming', 'Wyoming',
              'oklahoma', 'Oklahoma')

  .guide.wide.sources
    h3 Sources
    ul
      include includes/source-howe
      li.source H.C.R. 2. UTAH STATE FLAG CONCURRENT RESOLUTION - 2011 GENERAL SESSION - STATE OF UTAH
      li.source Utah Code. Title 63G - General Government. Chapter 1 - State Symbols and Designations. Part 5 - State Flag. Section 501 - State flag.
      li.source State of Utah S.B. 31 State Flag Amendments. 2023 General Session.
      li.source Hartvigsen, John M. Fellow, Flag Research Center & the Vexillological Association of the State of Texas (VAST), personal communication, July 31, 2019.
      li.source: a(href='https://www.sltrib.com/news/politics/2023/01/30/newly-designed-state-flag-will/') The Salt Lake Tribune
      li.source: a(href='https://www.sltrib.com/artsliving/2022/11/10/see-new-design-that-may-replace/') The Salt Lake Tribune
      li.source: a(href='https://flag.utah.gov/finaldesign/') flag.utah.gov
      li.source: a(href='https://le.utah.gov/interim/2019/pdf/00001805.pdf') State of Utah
      li.source: a(href='http://www.loeser.us/flags/utah.html') Historical Flags of Our Ancestors
      li.source: a(href='https://en.wikipedia.org/wiki/Flag_of_Utah') Flag of Utah - Wikipedia
