extends layout

block vars
  - var bodyClass = 'detail'
  - var category = 'state'
  - var name = 'Vermont'
  - var path = 'vermont'

block content

  +state(name, path, 'The Green Mountain State', 'March 4, 1791')

  .intro
    p Vermont has had three official iterations of its state flag. The first two closely resembled the flag of the United States, with alternating red and white stripes and blue canton.
    p This proved confusing, especially due to the U.S. flag changing frequently as new states were added. For the third version, they opted for the reliable design of their coat of arms on a field of blue.
    p This version of the flag was officially adopted June 1, 1923.

  .guide
    .content
      h2 Flag design
      p The Vermont flag features a field of blue charged with the state coat of arms, centered.
      +survey(name, '61st')
    .visual.flag
      +flag(name, path)

  .guide.wide
    .content
      h2 Iconography
      ul.visual.icon-list
        li.icon-item
          span.icon: img(src='/assets/images/flag-vermont-icon-pine-needles.svg', alt='two crossing pine boughs')
          h4 pine boughs
          p New England
          p #[em Note:] Pine boughs were worn at the battle of Plattsburgh during the War of 1812.
        li.icon-item
          span.icon: img(src='/assets/images/flag-vermont-icon-tree.svg', alt='pine tree')
          h4 pine tree
          p forests
        li.icon-item
          span.icon: img(src='/assets/images/flag-vermont-icon-wheat.svg', alt='three sheaves of wheat')
          h4 wheat
          p agricultural tradition
        li.icon-item
          span.icon: img(src='/assets/images/flag-vermont-icon-cow.svg', alt='cow')
          h4 cow
          p dairy farming
        li.icon-item
          span.icon: img(src='/assets/images/flag-vermont-icon-mountains.svg', alt='a shield with mountains in the distance')
          h4 Green Mountains
          p Vermont, Camel’s Hump and Mount Mansfield
          p #[em Note:] “Verd Mont” translates to Green Mountain.
        li.icon-item
          span.icon: img(src='/assets/images/flag-vermont-icon-deer.svg', alt='a left-facing deer’s head')
          h4 deer
          p flourishing wildlife
        li.icon-item
          span.icon: img(src='/assets/images/flag-vermont-icon-motto.svg', alt='“Freedom and Unity” on a banner flanking the word “Vermont”')
          h4 motto
          p personal liberty, welfare of the common good
  .guide
    .content
      h2 Coat of Arms
      p First seen in 1807 on Vermont bank notes, the coat of arms wasn’t formalized and standardized until 1840.
    .visual.flag
      +coat-of-arms(name, path)

  .guide
    .content
      h2 Colors
      p The Vermont flag features a field of deep blue.
      hr
      small Vermont statute describes the colors featured in the coat of arms, but Cable or Pantone values are not provided.
      small The hex values here are approximations.
    .visual
      .colors.primary
        .color
          .sample(class='blue')
          .name Blue
          .hex #003366
      .colors.secondary
        .color
          .sample(class='gold')
          .name Gold
          .hex #ffcc33
        .color
          .sample(class='red')
          .name Red
          .hex #c2091d
        .color
          .sample(class='pine')
          .name Pine
          .hex #5a8562
        .color
          .sample(class='green')
          .name Green
          .hex #002a22
        .color
          .sample(class='brown')
          .name Brown
          .hex #c24b20

  .guide
    .content
      h2 Construction
      p Although not specified in Vermont statutes, the flag is typically produced with a 3:5 proportion.
    .visual
      +construction(name, path)

  .guide.wide.timeline
    .content
      h2 Previous iterations
      ul.visual.flag-list
        li.flag-item
          span.flag: img(src='/assets/images/flag-vermont-pre-1804.svg', alt='a field of green with a blue canton charged with thirteen unevenly spaced white stars')
          h4 Pre-1804
          p An unofficial flag, representing the Green Mountain Boys, a Vermont militia led by Ethan Allen.
        li.flag-item
          span.flag: img.border(src='/assets/images/flag-vermont-1804-1837.svg', alt='seventeen alternating red and white horizontal stripes with “Vermont” inscribed in the top red stripe; a dark blue canton is charged with seventeen white stars in five rows')
          h4 1804–1837
          p The first official flag mimics the U.S. flag, but with 17 stars and 17 stripes (a change they expected the U.S. flag to adopt). Vermont is inscribed on the first red stripe.
        li.flag-item
          span.flag: img.border(src='/assets/images/flag-vermont-1837-1924.jpg', alt='thirteen alternating horizontal stripes; a dark blue canton is charged with the coat of arms inside an eight-pointed star-burst')
          h4 1837–1924
          p The flag changed to 13 stripes (again to match the U.S. flag) and within the canton the coat of arms is placed within an 8-pointed star. Sometimes a 5-pointed star was used.
        li.flag-item
          span.flag: img(src='/assets/images/flag-vermont.svg', alt='the current flag')
          h4 1924–Present
          p The current flag of Vermont, no longer matching the U.S. flag.

  +pagination('rhode-island', 'Rhode Island',
              'kentucky', 'Kentucky')

  .guide.wide.sources
    h3 Sources
    ul
      include includes/source-howe
      include includes/source-mitchell
      li.source Vermont Statutes Online. Title 1 : General Provisions. Chapter 011 : Flag, Insignia, Seal, Etc. Section § 495. State Flag.
      li.source: a(href='https://web.archive.org/web/20060923180633/http://www.sec.state.vt.us/kids/emblems.html') Vermont Secretary of State
      li.source: a(href='https://legislature.vermont.gov/statutes/fullchapter/01/011') The State of Vermont
      li.source: a(href='https://en.wikipedia.org/wiki/Flag_of_Vermont') Flag of Vermont - Wikipedia
