extends layout

block vars
  - var bodyClass = 'detail'
  - var category = 'state'
  - var name = 'Virginia'
  - var path = 'virginia'

block content

  +state(name, path, 'Old Dominion', 'June 25, 1788')

  .intro
    p The flag of the Commonwealth of Virginia follows a common pattern for U.S. state flags, featuring its seal on a field of blue.
    p The seal was primarily designed by George Wythe as part of a committee also including George Mason, Richard Henry Lee, and Robert Carter Nicholas Sr.
    p It borrows heavily from Roman mythological imagery and is the only U.S. flag to show nudity.
    p The flag was officially adopted April 30, 1861.

  .guide
    .content
      h2 Flag design
      p The Virginia flag features a field of deep blue charged with the seal of the commonwealth on a circle of white, centered.
      +survey(name, '54th')
    .visual.flag
      +flag(name, path)

  .guide.wide
    .content
      h2 Iconography
      ul.visual.icon-list
        li.icon-item
          span.icon: img(src='/assets/images/flag-virginia-icon-virtus.svg', alt='the goddess Virtus dressed as an Amazon and holding a spear')
          h4 Virtus
          p Roman goddess Virtus, peace, victory over tyranny
        li.icon-item
          span.icon: img(src='/assets/images/flag-virginia-icon-tyranny.svg', alt='a warrior lays defeated on the ground near a crown and broken chains')
          h4 defeated tyrant
          p freedom from tyranny
        li.icon-item
          span.icon: img(src='/assets/images/flag-virginia-icon-creeper.svg', alt='a circle of flowers and leaves')
          h4 creeper
          p red and green Virginia creeper, regional flora
        li.icon-item
          span.icon: img(src='/assets/images/flag-virginia-icon-sic-semper-tyrannis.svg', alt='Sic Semper Tyrannis')
          h4 motto
          p #[em Thus Always to Tyrants], a warning to oppressors of defeat

  .guide
    .content
      h2 Coat of Arms
      p Since the coat of arms and seal were created in the 1770s, many versions came about, though each still representing Virtus victorious over Tyranny. To achieve consistency, the seal (and the flag) were standardized in the 1950s. 
    .visual.flag
      +coat-of-arms(name, path)

  .guide
    .content
      h2 Colors
      p The prominent colors are a deep blue and white, with supporting colors within the seal like red and green, the colors of Virginia creeper.
      p The purple robe worn by the tyrant references Julius Caesar.
      hr
      small Virginia statute does not provide Cable or Pantone values for the colors of the flag.
      small The hex values here are approximations.
    .visual
      .colors.primary
        .color
          .sample(class='blue')
          .name Blue
          .hex #00297b
        include includes/color-white
      .colors.secondary
        .color
          .sample(class='red')
          .name Red
          .hex #ff350f
        .color
          .sample(class='green')
          .name Green
          .hex #3f863f
        .color
          .sample(class='light-blue')
          .name Light Blue
          .hex #97c8f0
        .color
          .sample(class='purple')
          .name Purple
          .hex #a039a8
        .color
          .sample(class='peach')
          .name Peach
          .hex #ffd9c5
        .color
          .sample(class='gold')
          .name Gold
          .hex #ffd93c

  .guide
    .content
      h2 Construction
      p Virginia law doesn’t specify dimensions for the flag. It is usually produced with a proportion of 2:3.
      p The flag should be made of silk, nylon, or similar material and can be trimmed with fringe on three sides measuring 2.5 inches wide.
    .visual
      +construction(name, path)

  +pagination('new-hampshire', 'New Hampshire',
              'new-york', 'New York')

  .guide.wide.sources
    h3 Sources
    ul
      include includes/source-howe
      include includes/source-mitchell
      li.source Code of Virginia. Title 1 — GENERAL PROVISIONS. Chapter 5 - Emblems  Code of Virginia § 1-506 - Flag of the Commonwealth.
      li.source: a(href='https://web.archive.org/web/20141230082900/http://www.netstate.com/states/symb/flags/va_flag.htm') Netstate.com
      li.source: a(href='https://en.wikipedia.org/wiki/Flag_and_seal_of_Virginia') Flag and Seal of Virginia - Wikipedia
