extends layout

block vars
  - var bodyClass = 'detail'
  - var category = 'state'
  - var name = 'Washington'
  - var path = 'washington'

block content

  +state(name, path, 'The Evergreen State', 'November 11, 1889')

  .intro
    p The Washington flag was designed in 1914 by the Daughters of the American Revolution, who put together a flag committee led by Emma Chadwick.
    p They placed the state seal, a portrait of George Washington designed by brothers Charles and George Talcott, on a field of green.
    p It took many years, but the flag was officially adopted March 5, 1923.
    p It has seen one major update in 1967 when artist Richard Nelms updated the state seal, modeled after Gilbert Stuart’s famous portrait of Washington.

  .guide
    .content
      h2 Flag design
      p The Washington flag features a field of green charged with the state seal, centered.
      +survey(name, '47th')
    .visual.flag
      +flag(name, path)

  .guide
    .content
      h2 Iconography
      p The portrait of George Washington honors the first U.S. President from which the state gets its name.
      p The seal almost featured Mount Rainier. In 1889, Charles Talcott, a local jeweler, was tapped to design the seal. Wanting something simple, he sketched a double circle and pasted a George Washington postage stamp inside.
      p This idea was approved and Washington has been on the seal ever since.
    .visual
      img(src='/assets/images/flag-washington-icon.svg', alt='a portrait of George Washington')

  .guide
    .content
      h2 Colors
      p The colors of the flag are defined by the Secretary of State, first standardized in 1955.
      hr
      small Values corresponding to imagery:
      small #[strong Green]: field <br>
        | #[strong Gold]: border of seal <br>
        | #[strong Blue]: background of seal <br>
        | #[strong Flesh]: George Washington’s face <br>
        | #[strong White]: Washington’s hair and shirt <br>
        | #[strong Black]: Washington’s coat, shadows, borders, lettering
    .visual
      .colors.primary
        .color
          .sample(class='green')
          .name Green
          .hex #00843d
          .cable Cable No. 80210 #[span Irish Green]
          .pantone PMS DS-268-1
        .color
          .sample(class='gold')
          .name Gold
          .hex #ffcd00
          .cable Cable No. 80068 #[span Spanish Yellow]
          .pantone PMS DS-5-4
      .colors.secondary
        .color
          .sample(class='blue')
          .name Blue
          .hex #05c3de
          .cable Cable No. 80176 #[span Oriental Blue]
          .pantone PMS DS-226-3
        .color
          .sample(class='flesh')
          .name Flesh
          .hex #fdd6c6
          .cable Cable No. 80004 #[span Eggshell]
          .pantone PMS DS-5-9
        include includes/color-white-pantone
        include includes/color-black-pantone

  .guide
    .content
      h2 Construction
      p The Washington flag can be produced with a variety of dimensions, specifically 3 feet by 5 feet, 4 feet by 6 feet, and 5 feet by 8 feet.
      p For these sizes, the seal must be 19 inches, 25 inches, and 31 inches, respectively.
      p All other sizes of the flag must keep a proportion of 1:1.6 and the seal will be 1/3 the length of the fly.
    .visual
      +construction(name, path)

  .guide
    .content
      h2 Previous iteration
      p The first Washington state flag featured a previous iteration of the state seal, designed by Charles and George Talcott. This version flew from 1923–1967.
    .visual.flag
      img.border(src='/assets/images/flag-washington-original.svg', alt='a field of green charged with an earlier version of the state seal; George Washington faces right')

  .guide.wide
    .content
      +native-intro(name)
      ul.visual.flag-list
        +native-item('Affiliated Tribes of Northwest Indians', 'atni.jpg', 'alt', 'border')
        .flag-item
        .flag-item
        .flag-item

  +pagination('montana', 'Montana',
              'idaho', 'Idaho')

  .guide.wide.sources
    h3 Sources
    ul
      include includes/source-howe
      include includes/source-healy
      li.source Revised Code of Washington. Title 1 - GENERAL PROVISIONS. Chapter 120 - GENERAL PROVISIONS. Section 1.20.010 - State flag.
      li.source: a(href='https://www.sos.wa.gov/flag/reproduction.aspx') Washington Secretary of State
      li.source: a(href='https://en.wikipedia.org/wiki/Flag_of_Washington') Flag of Washington - Wikipedia
      li.source: a(href='https://www.atnitribes.org/') Affiliated Tribes of Northwest Indians
