extends layout

block vars
  - var bodyClass = 'detail'
  - var category = 'district'
  - var name = 'Washington D.C.'
  - var path = 'washington-dc'

block content

  header.territory
    .flex
      h1 Washington D.C.
      .flag
        img.border(src='/assets/images/flag-washington-dc.svg', alt='Washington D.C. flag')
    .meta
      .date U.S. capital since 
        span July 16, 1790

  .intro
    p In 1924, the Daughters of the American Revolution introduced a bill to establish a District Flag Commission to create and select a flag.
    p That year, artist Charles A. R. Dunn submitted a design based on the Washington family coat of arms. It took 14 years (and many other design options) before this flag was officially adopted October 15, 1938.
    p Because of this delay, the flag’s design was for years attributed to Melvin C. Hazen and Arthur E. Du Bois who both sat on the Commission.
    p It wasn’t until 1957 that Dunn published an article titled #[em The Origins of the District of Columbia Flag] and reclaimed his place within the flag’s history.

  .guide
    .content
      h2 Composition
      p The Washington D.C. flag features a field of white.
      p The chief is charged with three red five-pointed stars, evenly spaced. Below, two red horizontal stripes extend the full length of the flag.
      +survey(name, '8th')
    .visual.flag
      +flag(name, path, 'border')

  .guide
    .content
      h2 Iconography
      p The current design of the Washington family coat of arms dates back to 14th century England.
      p When Charles Dunn began his design, he took inspiration from Maryland and their flag, featuring the coats of arms from the Calvert and Crossland families.
      p Choosing George Washington’s family coat of arms seemed fitting.
    .visual
      img(src='/assets/images/flag-washington-dc-icon-coat-of-arms.svg', alt='a shield with three stars and two horizontal stripes')

  .guide
    .content
      h2 Colors
      p The D.C. flag features two colors: red and white.
      hr
      small D.C. statute does not provide Cable or Pantone values for the red.
      small The hex value here is approximate.
    .visual.colors.primary
      .color
        .sample(class='red')
        .name Red
        .hex #e81b39
      include includes/color-white

  .guide
    .content
      h2 Construction
      p The D.C. flag is usually produced with a 1:2 proportion, but statute only specifies proportion of the visual elements relative to the hoist.
      p The chief (top white stripe) should be 3/10 the width of the hoist with each star measuring 2/10 the hoist and spaced evenly within the chief.
      p The red stripes and the base (bottom white stripe) should be 2/10 the hoist and the space between the red stripes should be 1/10.
    .visual
      +construction(name, path)

  +pagination('hawaii', 'Hawaii',
              'guam', 'Guam')

  .guide.wide.sources
    h3 Sources
    ul
      li.source: a(href='https://code.dccouncil.us/dc/council/code/sections/1-151.html') Code of the District of Columbia. § 1–151. District of Columbia official flag.
      li.source: a(href='https://os.dc.gov/page/dc-symbols') DC Office of the Secretary
      li.source: a(href='https://www.britannica.com/topic/flag-of-Washington-DC') Encyclopedia Britannica
      li.source: a(href='https://en.wikipedia.org/wiki/Coat_of_arms_of_the_Washington_family') Coat of Arms of the Washington Family - Wikipedia
      li.source: a(href='https://en.wikipedia.org/wiki/Flag_of_Washington,_D.C.') Flag of Washington D.C. - Wikipedia
