extends layout

block vars
  - var bodyClass = 'detail'
  - var category = 'state'
  - var name = 'West Virginia'
  - var path = 'west-virginia'

block content

  +state(name, path, 'The Mountain State', 'June 20, 1863')

  .intro
    p After the Civil War began and Virginia joined the Confederacy, 39 of its western counties voted to stay and West Virginia gained statehood in 1863.
    p It has flown three different flags since, each one representing a kind of “trial and error” approach to flag design. With each iteration, mistakes were fixed and then fixed again.
    p The two previous versions were among the rare flags with a different design on their reverse.
    p The current version of the flag was adopted (and has been unchanged since) March 7, 1929.

  .guide
    .content
      h2 Flag design
      p The West Virginia flag features an outer border of blue surrounding a panel of white.
      p At the center the state coat of arms is charged, surrounded by a wreath of rhododendron.
      p Above the coat of arms and on a red banner the words “State of West Virginia” are inscribed.
      +survey(name, '51st')
    .visual.flag
      +flag(name, path)

  .guide.wide
    .content
      h2 Iconography
      ul.visual.icon-list
        li.icon-item
          span.icon: img(src='/assets/images/flag-west-virginia-icon-rhododendron.svg', alt='a wreath of flowers and leaves')
          h4 rhododendron maximum
          p state flower, local flora
        li.icon-item
          span.icon: img(src='/assets/images/flag-west-virginia-icon-motto.svg', alt='“Montani Semper Liberi” inscribed on a banner')
          h4 motto
          p separation from Virginia (and the Confederacy), #[em Mountaineers Are Always Free]
        li.icon-item
          span.icon: img(src='/assets/images/flag-west-virginia-icon-farmer.svg', alt='a farmer holding a plow and ax')
          h4 farmer
          p agricultural tradition
        li.icon-item
          span.icon: img(src='/assets/images/flag-west-virginia-icon-miner.svg', alt='a miner with pickax and hammer and anvil')
          h4 miner
          p mining industry
        li.icon-item
          span.icon: img(src='/assets/images/flag-west-virginia-icon-boulder.svg', alt='a boulder carved with the date June 20, 1863')
          h4 June 20, 1863
          p strength in unity, the date West Virginia gained statehood
        li.icon-item
          span.icon: img(src='/assets/images/flag-west-virginia-icon-liberty.svg', alt='a phrygian cap sitting upon two crossed rifles')
          h4 phrygian cap
          p liberty, laying down arms

  .guide
    .content
      h2 Coat of Arms
      p West Virginia’s seal was created in 1863 by artist Joseph H. Diss Debar and has been unchanged since.
    .visual.flag
      +coat-of-arms(name, path)

  .guide
    .content
      h2 Colors
      p The West Virginia prominently features blue and white, with supporting colors within the coat of arms.
      hr
      small West Virginia statute does not provide Cable or Pantone values for the colors of the flag.
      small The hex values here are approximations.
    .visual
      .colors.primary
        include includes/color-white
        .color
          .sample(class='blue')
          .name Blue
          .hex #003776
      .colors.secondary
        .color
          .sample(class='gold')
          .name Gold
          .hex #ffb30f
        .color
          .sample(class='red')
          .name Red
          .hex #ff3516
        .color
          .sample(class='green')
          .name Green
          .hex #06884f
        .color
          .sample(class='brown')
          .name Brown
          .hex #ae5939

  .guide
    .content
      h2 Construction
      p The West Virginia flag uses the same proportion as the U.S. national flag of 1:1.9.
    .visual
      +construction(name, path)

  .guide.wide.timeline
    .content
      h2 Previous iterations
      ul.visual.flag-list
        li.flag-item
          span.flag: img(src='/assets/images/flag-west-virginia-1905.svg', alt='an outside border of blue surrounding a white panel charged with three bundles of rhododendron flowers')
          h4 1905–1907
          p The original flag featured a sprig of the rhododendron maximum. Its reverse featured the state coat of arms.
        li.flag-item
          span.flag: img(src='/assets/images/flag-west-virginia-1907.svg', alt='an outside border of blue surrounding a white panel charged with the coat of arms')
          h4 1907–1929
          p The sides were swapped. The rhododendron was moved to the reverse and the coat of arms to the obverse. The “State of West Virginia” banner was added.
        li.flag-item
          span.flag: img(src='/assets/images/flag-west-virginia.svg', alt='the current flag')
          h4 1929–Present
          p The design on the reverse is eliminated and the rhododendron is added around the coat of arms. The banner is moved to the top.
        li.flag-item

  .guide.wide
    .content
      h2 Flags of the Native Peoples
      p Lalalala
    ul.visual.flag-list
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')

  +pagination('kansas', 'Kansas',
              'nevada', 'Nevada')

  .guide.wide.sources
    h3 Sources
    ul
      include includes/source-howe
      include includes/source-mitchell
      li.source: a(href='http://www.wvlegislature.gov/educational/Kids_Page/symbols.cfm') West Virginia Legislature
      li.source: a(href='http://www.wvculture.org/history/symbols/stateflag01.html') West Virginia Department of Arts, Culture, and History
      li.source: a(href='https://en.wikipedia.org/wiki/Flag_of_West_Virginia') Flag of West Virginia - Wikipedia
