extends layout

block vars
  - var bodyClass = 'detail'
  - var category = 'state'
  - var name = 'Wisconsin'
  - var path = 'wisconsin'

block content

  +state(name, path, 'The Badger State', 'May 29, 1848')

  .intro
    p The Wisconsin flag was originally designed in 1863 for use during the Civil War. It wasn’t officially adopted by the state until 1913.
    p The flag featured the state coat of arms on a field of dark blue. Because many other state flags follow a similar design pattern, in 1979 Wisconsin added its name and the date “1848” in big white letters above and below the coat of arms.
    p This version of the flag was officially adopted May 1, 1981.


  .guide
    .content
      h2 Flag design
      p The flag features a field of dark blue charged with state coat of arms, centered.
      p The word “Wisconsin” is inscribed above and the date ”1848” is inscribed below.
      +survey(name, '65th')
    .visual.flag
      +flag(name, path)

  .guide.wide
    .content
      h2 Iconography
      ul.visual.icon-list
        li.icon-item
          span.icon: img(src='/assets/images/flag-wisconsin-icon-sailor.svg', alt='a sailor holding a rope')
          h4 sailor
          p labor on water
        li.icon-item
          span.icon: img(src='/assets/images/flag-wisconsin-icon-miner.svg', alt='a miner holding a pickax')
          h4 miner
          p labor on land
        li.icon-item
          span.icon: img(src='/assets/images/flag-wisconsin-icon-forward.svg', alt='“Forward” inscribed on a banner')
          h4 motto
          p leadership, progress
        li.icon-item
          span.icon: img(src='/assets/images/flag-wisconsin-icon-badger.svg', alt='a left-facing badger')
          h4 badger
          p state animal, regional fauna
        li.icon-item
          span.icon: img(src='/assets/images/flag-wisconsin-icon-e-pluribus-unum.svg', alt='a striped shield encircled by a belt and inscribed “E Pluribus Unum”')
          h4 motto
          p loyalty to the United States, #[em Out of many, one]
        li.icon-item
          span.icon: img(src='/assets/images/flag-wisconsin-icon-plow.svg', alt='a plow')
          h4 plow
          p agricultural tradition
        li.icon-item
          span.icon: img(src='/assets/images/flag-wisconsin-icon-tools.svg', alt='crossed pickax and shovel')
          h4 pick & shovel
          p mining industry
        li.icon-item
          span.icon: img(src='/assets/images/flag-wisconsin-icon-arm-and-hammer.svg', alt='a detached arm holds up a hammer')
          h4 arm & hammer
          p manufactoring industry
        li.icon-item
          span.icon: img(src='/assets/images/flag-wisconsin-icon-anchor.svg', alt='an anchor and chain')
          h4 anchor
          p water navigation
        li.icon-item
          span.icon: img(src='/assets/images/flag-wisconsin-icon-cornucopia.svg', alt='a cornucopia filled with fruit')
          h4 cornucopia
          p farming, prosperity, abundance
        li.icon-item
          span.icon: img(src='/assets/images/flag-wisconsin-icon-lead.svg', alt='thirteen triangles in stacks creating a pyramid')
          h4 lead
          p mineral resources, the original thirteen colonies
        li.icon-item
          span.icon: img(src='/assets/images/flag-wisconsin-icon-1848.svg', alt='1848')
          h4 1848
          p the year Wisconsin gained statehood

  .guide
    .content
      h2 Coat of Arms
      p The Wisconsin coat of arms was established in 1836. It has seen a few minor alterations, but has stayed mostly the same since.
    .visual.flag
      +coat-of-arms(name, path)

  .guide
    .content
      h2 Colors
      p The Wisconsin flag features a field of royal blue.
      hr
      small Wisconsin statute does not provide Cable or Pantone values for the colors of the flag.
      small The hex values here are approximations.
    .visual
      .colors.primary
        .color
          .sample(class='blue')
          .name Royal Blue
          .hex #002986
      .colors.secondary
        include includes/color-white
        .color
          .sample(class='gold')
          .name Gold
          .hex #ffcc18
        .color
          .sample(class='red')
          .name Red
          .hex #f3334b
        .color
          .sample(class='brown')
          .name Brown
          .hex #753c28

  .guide
    .content
      h2 Construction
      p The flag should have a proportion of 2:3.
      p The coat of arms should have a height 1/2 the width of the hoist. The text should measure 1/8 the width of the hoist and be placed midway between the coat of arms and the flag’s edge.
      p The flag can be optionally trimmed with yellow knotted fringe.
    .visual
      +construction(name, path)

  .guide
    .content
      h2 Previous iteration
      p The original version of the flag still featured the coat of arms. Missing are “Wisconsin” and “1848” which were added in 1979.
    .visual.flag
      img(src='/assets/images/flag-wisconsin-previous.svg', alt='a field of blue charged with the state coat of arms')

  +pagination('iowa', 'Iowa',
              'california', 'California')

  .guide.wide.sources
    h3 Sources
    ul
      include includes/source-howe
      include includes/source-mitchell
      li.source Wisconsin Statute. Chapter 1 Sovereignty and Jurisdiction of the State. Section 1.08 State Flag.
      li.source  Wisconsin Legislative Reference Bureau. State of Wisconsin 2007-2008 Blue Book. Madison: Wisconsin Legislature Joint Committee on Legislative Organization, 2007.
      li.souurce: a(href='https://www.wisconsinhistory.org/Records/Article/CS2076') Wisconsin Historical Society
      li.source: a(href='https://en.wikipedia.org/wiki/Flag_of_Wisconsin') Flag of Wisconsin - Wikipedia
