extends layout

block vars
  - var bodyClass = 'detail'
  - var category = 'state'
  - var name = 'Wyoming'
  - var path = 'wyoming'

block content

  +state(name, path, 'The Equality State', 'July 10, 1890')

  .intro
    p In 1916, the Wyoming Daughters of the American Revolution (DAR) organized a contest to design the state flag.
    p The winning design, featuring the state seal upon a bison, was submitted by Verna Keays, a local artist. Dr. Grace Raymond Hebard, state regent for DAR, suggested the bison be flipped so it faced the hoist.
    p With this change, the flag was offically adopted January 31, 1917.

  .guide
    .content
      h2 Flag design
      p The Wyoming flag features an outside border of red and an inner border of white.
      p Inside the borders, a panel of blue is charged with a white silhouetted bison, centered.
      p Upon the bison’s shoulder is the state seal in blue and white.
      +survey(name, '23rd')
    .visual.flag
      +flag(name, path)

  .guide.wide
    .content
      h2 Iconography
      ul.visual.icon-list
        li.icon-item
          span.icon: img(src='/assets/images/flag-wyoming-icon-bison.svg', alt='a left-facing bison')
          h4 bison
          p state mammal, regional fauna
        li.icon-item
          span.icon: img(src='/assets/images/flag-wyoming-icon-seal.svg', alt='')
          h4 seal
          p western custom of branding
        li.icon-item
          span.icon: img(src='/assets/images/flag-wyoming-icon-equal-rights.svg', alt='a woman and a banner inscribed “Equal Rights”')
          h4 woman
          p equality, women’s suffrage
        li.icon-item
          span.icon: img(src='/assets/images/flag-wyoming-icon-pillars.svg', alt='two columns wrapped with banners reading “Livestock, Mining, agriculture, Oil”')
          h4 pillars
          p livestock, mining, agriculture, oil industries
        li.icon-item
          span.icon: img(src='/assets/images/flag-wyoming-icon-cowboy.svg', alt='a cowboy')
          h4 cowboy
          p livestock, rodeo
        li.icon-item
          span.icon: img(src='/assets/images/flag-wyoming-icon-miner.svg', alt='a miner with pickax')
          h4 miner
          p mining industry
        li.icon-item
          span.icon: img(src='/assets/images/flag-wyoming-icon-eagle.svg', alt='an eagle and striped shield')
          h4 eagle
          p freedom, the United States
        li.icon-item
          span.icon: img(src='/assets/images/flag-wyoming-icon-dates.svg', alt='1869 and 1890 inscribed on a banner')
          h4 1869 & 1890
          p year Wyoming Territory established women’s suffrage, year of Wyoming’s statehood
        li.icon-item
          span.icon: img(src='/assets/images/flag-wyoming-icon-star.svg', alt='star')
          h4 star
          p Wyoming as the 44th state

  .guide
    .content
      h2 Colors
      p The Wyoming flag uses the same red, white, and blue as the U.S. national flag.
      p According to Keays, the blue represented fidelity, justice, and virility. The red symbolized the Native peoples and the blood spilled in war. The white represented purity and uprightness.
    .visual.colors.primary
      include includes/color-us-blue
      include includes/color-us-red
      include includes/color-us-white

  .guide
    .content
      h2 Construction
      p The Wyoming flag has a proportion of 7:10.
      p The red border is 1/20 and the white border is 1/40 the length of the fly.
      p The bison is 1/2 the length of the blue field and the state seal is 1/5 the length of the fly.
    .visual
      +construction(name, path)

  .guide.wide
    .content
      h2 Flags of the Native Peoples
      p Lalalala
    ul.visual.flag-list
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')
      +flag-item('Delaware', 'delaware', '/assets/images/flag-arizona.png')

  +pagination('idaho', 'Idaho',
              'utah', 'Utah')

  .guide.wide.sources
    h3 Sources
    ul
      include includes/source-howe
      li.source Wyoming Statutes. Title 8 - GENERAL PROVISIONS. Chapter 3 - STATE SEAL, FLAG, FLOWER, BIRD AND OTHER SYMBOLS. Section 8-3-102. Adoption, use and specifications of state flag; penalty for misuse.
      li.source: a(href='https://www.netstate.com/states/symb/flags/wy_flag.htm') netstate.com
      li.source: a(href='https://en.wikipedia.org/wiki/Flag_of_Wyoming') Flag of Wyoming - Wikipedia
