/*--------------------------------------------------------------------
* $DETAIL VIEW
--------------------------------------------------------------------*/

.intro
  border-bottom: 1px dashed $grey-med

  @media screen and (max-width: $w-medium - 1)
    margin-bottom: 60px
    padding-bottom: 20px
  @media screen and (min-width: $w-medium) and (max-width: $w-medium + 199)
    margin-bottom: 80px
    padding-bottom: 30px
  @media screen and (min-width: $w-medium + 200)
    margin-bottom: 100px
    padding-bottom: 60px

  @media $bp-small
    font-size: 1.1em
  @media $bp-medium
    font-size: 1.4em
  @media $bp-large
    font-size: 1.6em
  @media $bp-huge
    font-size: 1.8em

  p
    margin-bottom: 30px

    @media $bp-small
      max-width: 400px
    @media $bp-medium
      max-width: 500px
    @media $bp-large
      max-width: 550px
    @media $bp-huge
      max-width: 700px

.guide
  border-bottom: 1px dotted #ddd

  @media screen and (max-width: $w-medium - 1)
    padding-bottom: 60px
    margin-bottom: 60px
  @media screen and (min-width: $w-medium) and (max-width: $w-medium + 199)
    padding-bottom: 80px
    margin-bottom: 80px
  @media screen and (min-width: $w-medium + 200)
    padding-bottom: 100px
    margin-bottom: 100px

    &:not(.wide)
      display: flex
      justify-content: space-between

      .content
        width: 400px
        margin-right: 30px

      .visual
        width: 50%

    &.timeline .content > p
      max-width: 500px

  &:not(.wide)
    .content
      margin-bottom: 30px

  &.wide
    .content > p
      max-width: 400px

  h2:not(:first-of-type)
    margin-top: 50px

  img + img
    margin-top: 15px

  &.sources
    margin-bottom: 40px
    border-top: 1px dashed $grey-med
    padding-top: 50px

    li
      margin-bottom: 10px
      font-size: .9em

      a:after
        content: '↗'
        display: inline-block
        margin-left: 5px
        font-size: 12px
        color: $grey-med

.colors
  width: 100%
  display: grid
  grid-gap: 10px
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr))

  &.primary
    .sample
      height: 100px

  &.secondary
    font-size: .85em
    .sample
      height: 50px

  & + .colors
    margin-top: 30px

  .sample
    width: 100%
    margin-bottom: 10px
    border-radius: 4px

  .name
    font-weight: $font-weight-bold
    text-transform: capitalize

  .hex
    font-size: .9em

  small
    margin-top: 5px
    display: block
    line-height: 1.2
