/*--------------------------------------------------------------------
* $DETAIL VIEW
--------------------------------------------------------------------*/

.intro
  margin-bottom: 100px
  padding-bottom: 60px
  border-bottom: 1px dashed $grey-med
  font-size: 1.8em

  p
    max-width: 700px
    margin-bottom: 30px

.guide
  margin-bottom: 120px

  &:not(.wide)
    display: flex
    justify-content: space-between

    .content
      width: 400px

    .visual
      width: 50%

  &.wide
    .content
      margin-bottom: 40px

  h2:not(:first-of-type)
    margin-top: 50px

  .colors
    width: 100%
    display: flex

    & + .colors
      margin-top: 30px

  .color
    margin: 0 10px
    flex: 1

    &:first-child
      margin-left: 0

    &:last-child
      margin-right: 0

    .sample
      width: 100%
      margin-bottom: 7px
      border-radius: 4px

    &.primary
      .sample
        height: 100px

    &.secondary
      font-size: .85em
      .sample
        height: 50px

    .name
      font-weight: $font-weight-bold
      text-transform: capitalize

    .hex
      font-size: .9em

  &.sources
    margin-bottom: 40px
    border-top: 1px dashed $grey-med
    padding-top: 50px

    li
      margin-bottom: 10px
      font-size: .9em

      a:after
        content: '↗'
        display: inline-block
        margin-left: 5px
        font-size: 12px
        color: $grey-med
