/*--------------------------------------------------------------------
* $GLOSSARY
--------------------------------------------------------------------*/

.glossary dl
  margin-bottom: 60px

.glossary-item
  margin-bottom: 40px

  dt
    font-weight: $font-weight-bold

  @media $bp-small
    img
      width: 200px
      margin-bottom: 6px

    dt
      font-size: 1.2em

  @media screen and (min-width: $w-medium)
    display: grid
    grid-template-columns: 200px 1fr
    grid-template-rows: 40px auto
    grid-gap: 5px 40px
    grid-template-areas: "one two" "one three"

    dt
      font-size: 1.5em

    img
      grid-area: one

    dt
      grid-area:two
      align-self: end

    dd
      grid-area: three

