/*--------------------------------------------------------------------
* $HOME
--------------------------------------------------------------------*/

.home

  header .flag a
    opacity: 1

    img
      transition: all .15s ease-in-out

    &:hover

      img
        transform: scale(1.02) translateY(-5px)
        box-shadow: 0 0 0 3px white,
                0 0 9px 1px black(.35)

  h1
    position: relative

    span
      display: block
      position: absolute
      font-size: .15em
      font-style: italic
      font-weight: $font-weight-normal

      @media $bp-small
        bottom: 6px
        right: -49px

      @media $bp-medium
        bottom: -6px
        right: -22px

      @media $bp-large
        bottom: -10px
        right: -33px

      @media $bp-huge
        bottom: -10px
        right: -50px

  .sort
    margin-bottom: 30px
    text-align: right
    font-size: .9em
    font-style: italic
    font-family: $font-family-study

    button
      margin: 0
      border: none
      font-size: 1em
      font-style: italic
      font-family: $font-family-study
      cursor: pointer
      border: 1px solid $grey-lightest
      background-color: white
      transition: background-color .1s ease-in

      &:not(:first-of-type)
        border-left: none

      &:first-of-type
        margin-left: 5px
        border-radius: 3px 0 0 3px

      &:last-of-type
        border-radius: 0 3px 3px 0

      &.active,
      &:active
        background-color: $grey-lightest
        color: black
      
      &:focus
        background-color: $teal
        outline: none
